[2019-03-11 22:37] gedw99 opened #2 "flutter desktop"
Hey @leoafarias
I was about to write something like this to speed up doing flutter projects. Thanks for this.

Check this out too !
https://github.com/go-flutter-desktop/go-flutter/blob/master/example/simpleDemo/engineDownloader.go

It allows downloading the Flutter dependencies for Desktop.

How about also incorporating this ?

[2019-03-11 22:40] gedw99 opened #3 "CI and CD for FLutter"
Support golang tooling for  https://codemagic.io/

How about supporting this ? You can do your building for IOS and Android without needing all the android and ios stuff on your laptop. SO you can basically deploy IOS apps WITHOUT needing to hae a mac.

ALso they have an app that you can put on your mobile that will download the build output.
https://blog.codemagic.io/introducing-testmagic-beta/

[2019-03-12 01:39] leoafarias commented on #2
Thanks, @gedw99 do you mind sharing a bit more about what you have in mind

[2019-03-12 13:50] leoafarias commented on #3
Let me know a bit about the workflow that you are trying to accomplish to see how an integration might make sense

[2019-03-19 13:57] leoafarias commented on #3
Will close this until I hear back

[2019-03-19 13:57] leoafarias commented on #2
Will close this until I hear back

[2019-03-19 13:57] #2 closed

[2019-03-19 14:01] leoafarias opened #4 "Issue and compatibility on "tag releases" with Flutter Channel"
FVM is compatible with Flutter Channels, however, if a channel is a tag, and you run "flutter upgrade" it will cause it to bring it to the latest version of the channel, and lose the version.

This happens due to the fact of the way FVM symlinks the versions.

Also, there seems to be a caching issue on IDEs sometimes based on the symlink version. One of the solutions for this is to change the stra

[2019-03-20 10:04] gedw99 opened #5 "flutter home path"
i see your assuming that a flutter path exists in the env variables.

not everyone has it this way.

why not make it possible to pass in the dir as a variable when this is run ?
that way the developer can pick the folder where they want flutter to be installed.

For example here is my .bash_profile

[code]

fvm does not find it:
[code]

[2019-03-20 10:20] gedw99 commented on #5
Ok i worked it out by using where fvm wants to put flutter.
went with that :)

[2019-03-20 10:20] #5 closed

[2019-03-20 11:12] gedw99 commented on #4
Hey @leoafarias thanks for this.

Not sure how to fix this, because its part of the flutter.

[2019-03-20 11:16] gedw99 opened #6 "Flutter Desktop"
Maybe we can also incorporate the Flutter Desktop. This uses the Flutter Embedder.
It means you can run your Flutter code on Desktop as well as Mobiles.

look at this:
https://github.com/go-flutter-desktop/go-flutter/blob/master/example/simpleDemo/engineDownloader.go

Notice how they use symlink for MacOS, but not for Windows or linux.

How about if we incorporate this into fvm ?

The engineDownlo

[2019-03-20 13:56] gedw99 commented on #3
hey @leoafarias

1. All Desktops.
- we need to fix hardcoded stuff.
For example here:
https://github.com/leoafarias/fvm/blob/master/lib/fluttertools/fluttertools.go#L111
Should be more like here:
https://github.com/go-flutter-desktop/go-flutter/blob/master/example/simpleDemo/engineDownloader.go#L328

2. Boot strap a devs workstation with flutter ( which you do now ) and flutter desktop
flutter/blo

[2019-03-20 15:10] leoafarias commented on #3
Thanks, @gedw99 I will explore a bit more in detail later.

Regarding your comment of hard-coded, FVM will actually respect what is set on .bash_profile, but it does set the default to be the usr/local/bin, to make sure they can use the flutter command from the terminal without having to set the flutter path on .bash_profile.

I think it might make sense to add the cache versions to the working di

[2019-03-20 15:40] gedw99 opened #7 ".fvm"
saw this in the root.
Nice !!
The code does not respect it yet from what i see.

[2019-03-21 00:17] leoafarias commented on #3
@gesw99 I believe this workflow is better made for a proper CI/CD solution. Within the company we have been using bitrise and ir does auto code signing and deployment to wherever you want. I suggest taking a look

[2019-03-21 00:17] #3 closed

[2019-03-30 13:53] #7 closed

[2019-03-30 13:54] leoafarias commented on #6
No plan to incorporate this yet.

[2019-03-30 13:54] #6 closed

[2019-04-20 06:33] joeblew99 commented on #3
hey @leoafarias
thanks for the feedback
Yeah there are a few options - I also used bitrise in the past.
I recently found the semi official one from the Flutter team here: https://github.com/mmcc007/fledge
He seems to be on the team.

The issue i have with Bitrise is that it can run on your servers i believe. Is that true ?

[2019-04-20 13:48] leoafarias commented on #3
Bitrise does have a cli to run locally on your machine. https://app.bitrise.io/cli

[2019-07-22 10:00] jascodes opened #8 "Won't switch version"
So I had flutter installed in folder and its bin folder in path. Installed fvm via go get. Now when switch via fvm, its still directed to old my flutter. If I try to remove mine from path and try install it complains to need flutter in path. I am on ubuntu 19.04.

Thx

[2019-07-22 22:45] leoafarias commented on #8
@jascides can you give the exact message you are receiving?

[2019-07-23 00:55] jascodes commented on #8
Thats the thing, I get not message of failute after switch.
If I remove my flutter folder from path, I get the following.
`Please set your flutter path before using the tool`

To be honest, I expect the tool to download fresh copy of flutter and build and cache. Current setup is very confusing.

Thx

[2019-07-23 02:25] leoafarias commented on #8
@jascodes the tool does that. I believe the way I am doing the symlink is not compatible with Ubuntu. I have an issue open to rework how flutter bin is cached, and that would make it more compatible with flutter channel. I believe I can add this as part of solving this issue also #4

[2019-07-23 02:39] jascodes commented on #8
I think warning in instruction not to use `flutter upgrade` should be enough. I would you fix `Please set your flutter path before using the tool` by allowing pulling the fresh copy and saving the builds in seprate folder. Right now I don't understand why you need flutter in path already?

[2019-07-23 02:56] jascodes opened #9 "fvm releases should be in decending order"

[2019-07-23 04:08] leoafarias commented on #8
@jascodes I believe I found the issues, it seems to have to do with the symlink, how it works on ubuntu. I am writing some tests, and will probably have to change the way I am doing this

[2019-07-23 07:52] jascodes commented on #8
I had non-empty flutter folder in my home dir. FVM seems to need it. After removing that folder and adding `~/flutter/bin` to path I am not even getting `Please set your flutter path before using the tool`, so it might be due to might my environment and weird fact that I had flutter folder in my home. I think thats why switch might not be happening.

[2019-07-23 21:25] leoafarias commented on #8
@jascodes the tool was designed not to need any type of setup of the path. If no path is set or adds to use/local/bin which I think this what the issue might be with Linux.

It should respect a path that is set and if not it sets a default

[2019-10-08 17:59] FranPitri opened #13 "Directory listing failed"
Hey mate. First things first, great package!

I've been using fvm for some time now and it's been great. However, I installed v0.0.4 from pub today, and tried to run `fvm list`. Unfortunately, it ran into some errors.

Here's the output:

[code]

Any ideas on what could be wrong?

[2019-10-08 18:14] leoafarias commented on #13
Good to hear @FranPitri. This version is under heavy development has I have rewritten from Go to Dart. This issue happens because there are no current flutter sdks installed through fvm. I have updated version 0.0.5. You still get the same error, but I will review that to make sure there are better error messages.

Also I have updated Readme.md to reflect some of the updates

[2019-10-08 18:24] leoafarias commented on #9
This has been solved on the latest version of FVM 0.0.5. Please look through the readme as there has been a lot of changes

[2019-10-08 18:24] #9 closed

[2019-10-08 18:25] leoafarias commented on #8
The new version of fvm works in a different way. I believe this also solves this issue. I have updated the readme to reflect that starting with version 0.0.5

[2019-10-08 18:25] #8 closed

[2019-10-08 18:26] leoafarias commented on #4
The version of fvm allows to run all flutter commands with fvm and can be used together with channels

[2019-10-08 18:32] #13 closed

[2019-10-09 13:58] leoafarias opened #15 "Better handling on version change using flutter channel"
When using flutter channel to switch versions from within a cached version.  Can cause other project that depend on that SDK not to be aware.

- Update cached version after flutter channel
- When using on another project it should recover the version

[2019-10-10 09:09] CaiJingLong opened #16 "How to modify the storage location of flutter sdk."
For example, I want to save sdk data on a mounted external disk.

[2019-10-11 00:44] CaiJingLong commented on #16
Use environment variables as the location to specify this directory?

I think using a configuration file is a good choice, as `flutter config`.

For other configuration options that may exist in the future, you can also continue to maintain this configuration file instead of using a new environment variable for each configuration option.

[2019-10-15 07:01] CaiJingLong opened #18 "Recursively look up fvm file."
I think we should recursively look up the parent directory and find the most recent fvm file.
To support nested projects, you can just put fvm in the root directory.

[2019-10-15 07:06] CaiJingLong commented on #18
such as
`$  flutter create -t plugin plugin_example`

![image](https://user-images.githubusercontent.com/14145407/66808214-5941eb00-ef5d-11e9-886d-b69b262a9b7f.png)

[2019-10-15 15:22] leoafarias commented on #16
@all-contributors please add @CaiJingLong for code

[2019-10-15 15:24] leoafarias commented on #16
Merged into master

[2019-10-15 15:24] #16 closed

[2019-10-15 16:01] leoafarias commented on #18
@CaiJingLong This is a good idea. Let me know if you want to tackle this, if not I can put it in my backlog

[2019-10-16 00:28] jascodes opened #21 "Allow global flutter binary"
Hey @leoafarias

Dart implementation allow project specific version, which is cool, but to be honest, I still want global flutter version like go version. Right now I am just soft linking to /usr/local/bin, will be cool if you allow global linking and switch will cli as before.

Thx

[2019-10-16 00:47] CaiJingLong commented on #18
I think I can open PR to solve it.

[2019-10-16 06:37] CaiJingLong commented on #21
I believe that this can be achieved.
Let the author decide if you want to do it.

There are 3 ways:

1. Use a special directory, such as ~/fvm/bin, and then let the user add this directory to the $PATH environment variable.
2. Add link file to the system's common bin directory, such as /usr/local/bin/flutter under mac.
3. Or since the user has used pub global, use pub global path to do it.

[2019-10-16 11:50] leoafarias commented on #21
My thinking on this is that is mostly not touching a flutter version in the machine. The last version of fvm allowed to switch globally but I did find that was overkill for some cases.

We are using fvm within our business to switch to specific versions of our app sometimes to test a different channel to see if solved an issue or would be to make sure we attach a version that has been tested with

[2019-10-16 19:16] searchy2 opened #23 "Unable to Install Flutter Version"
Hi @leoafarias,

Thank you so much for making this tool! I am spending a lot of time switching Dart versions and testing for compatibility so this tool will make that much simpler.

Unfortunately, I am unable to instal a flutter version. I've tried `fvm install 1.7.8+hotfix.4` but it said it could not find the version. I also tried `fvm install v1.7.8+hotfix.4` which didn't work either.

Here's th

[2019-10-16 19:34] leoafarias commented on #23
@searchy2 The command seems to be working just fine. What OS and version are you running it on?

[2019-10-17 00:44] #18 closed

[2019-10-17 16:22] searchy2 commented on #23
I'm running FVM on Windows 10. Perhaps that's the issue?

Thanks for taking a look!

[2019-10-17 16:26] leoafarias commented on #23
I think I might know what the issue is. Will just have to figure out how to test.

[2019-10-17 16:57] searchy2 commented on #23
![MaxthonSnap20191017115645](https://user-images.githubusercontent.com/19896174/67030559-45b99000-f0d5-11e9-864e-cf03ea658d9d.png)
Let me try testing with a later build of Flutter and report back.

[2019-10-17 20:23] leoafarias commented on #23
@searchy2 I wonder if it has something to do with the following issue https://github.com/flutter/flutter/pull/37906

[2019-10-17 21:29] searchy2 commented on #23
I switched to a supported Dart version and the original issue now appears.

For your linked issue, I am using Add to app but with Android at the moment.

[2019-10-19 05:56] leoafarias commented on #23
@searchy2 was able to replicate the issue. It seems you don't have `git` installed. I have added better error handling and a link to install it.

[2019-10-19 05:56] #23 closed

[2019-10-24 07:21] Cir0X opened #25 "How do I pass the --debug argument to fvm flutter build apk?"
I want to create an debug build like that:

[code]

but it throws the following error:

[code]
With npm you can pass arguments like that to the subcommand:

[code]

but it doesn't work with `fvm`:

[code]
Any ideas?

[2019-10-24 08:10] Cir0X commented on #25
Should work when #26 is merged

[2019-10-24 12:47] leoafarias commented on #25
@Cir0X For now please use the following method for calling the flutter command to pass those flags. https://github.com/leoafarias/fvm#call-local-sdk-directly

I will review your PR

[2019-10-25 06:04] CaiJingLong commented on #25
By the way
`$ fvm flutter doctor -v` will have problems

expected:

[code]

now:

[code]

[2019-10-25 06:05] CaiJingLong commented on #25
Of course I can use `$ ./fvm doctor -v`.

[2019-10-26 19:23] shriharip opened #28 "[BUG] I already have flutter installed and fvm list says no sdks installed"
**Describe the bug**
fvm list does not recognize the installed flutter version

I think this has to do with some env variables or PATH etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Install flutter using the standard way mentioned on flutter.dev
2. install fvm following the installation guide
3. run fvm list
4. Returns ==> No SDKs have been installed yet.

flutter version 1.9 installed

[2019-10-27 04:59] leoafarias commented on #28
@shriharip thanks for the detailed bug report. This is related to #21. Will take a more detailed look at it soon.

[2019-11-01 03:24] CaiJingLong commented on #25
@leoafarias
I think that to solve this problem, you can solve the problem by judging whether the second parameter is flutter. If it is, then do not perform other operations, directly pass all parameters to flutter.

In the current processing mode, the `args` package may treat some flags as fvm parameters instead of flutter parameters.

[2019-11-01 03:54] leoafarias commented on #25
@CaiJingLong that is what my PR does. When you define a sub command args package validates the flags and options or it throws an error.

They have a parser to allow anything however it causes an error when using with sub command because the way the “help” option gets passed to the sub command.

The error is the fact that if I define a sub command that allows anything I cannot try to define an opti

[2019-11-06 16:03] winwisely99 opened #29 "[BUG] CLI crash"
[code]

Should really tell the user that they are a dummy and that i cant read minds and to give a channel or a version

[2019-11-06 16:17] #29 closed

[2019-11-07 16:36] Giuliano-Stravini opened #31 ""fvm use" doesn't work"
Hi! First, i want say thanks for your initiative!

So, when i try run the command "fvm use 1.10.7", i get this exception:

[code]

OS: Windows 10
FVM: 0.6.5.

ps: Any version, i get this error.

I did something wrong? Or it's really a bug?

[2019-11-07 17:01] leoafarias commented on #31
@Giuliano-Stravini thanks, I am still working through some of the kinks. I was able to replicate the issue when doing the `use` command on a directory that does not have fvm installed. For some reason, it doesn't fall under the same error logging logic that exists right now.

I see you are running within the app, so I will do further investigation.

[2019-11-08 00:32] leoafarias commented on #31
@Giuliano-Stravini Please run version 0.6.6. I just made some updates. I am not sure this will fix your issue however you should get a bit better logs once you get the issue. Do you mind sending it here?

[2019-11-08 00:33] leoafarias commented on #25
This was solved with #26

[2019-11-08 00:33] #25 closed

[2019-11-08 11:34] Giuliano-Stravini commented on #31
@leoafarias Not solved, but the log changed!

[code]

I already have flutter 1.10.15(dev) installed, this can be a problem?

[2019-11-08 13:26] leoafarias commented on #31
@Giuliano-Stravini can you run with the `--verbose` flag, and also have you made any changes to the config?

[2019-11-08 13:55] Giuliano-Stravini commented on #31
Yes, i configured the cache path

[code]

ps: "(OS Error: O cliente não tem o privilégio necessário. errno = 1314)" =  "(OS Error: the client does not have the required privilege. errno = 1314)"

[2019-11-09 02:32] leoafarias commented on #31
I was able to replicate the issue of saving in my Home directory which on the Windows would be C:/ . That would cause the issue.

If you trying to store on C I believe you can just remove the cache url. I will probably add better validation for this case and will update soon

[2019-11-11 12:32] Giuliano-Stravini commented on #31
Oh i got it.

This happens in any path config. I guess i did something wrong haha

[2019-11-11 20:19] searchy2 commented on #31
Thanks @leoafarias for investigating these issues. I can't wait for FVM to work as it will save me so much time.

Currently, I'm experiencing the same issue as above.

My fvm is installed in `C:\Users\Laptop\fvm\versions\master\bin\flutter` and not in the local project folder. From #21, I see that one way for fvm to work from inside the project? How can I set it up to work that way?

Thanks :)

[2019-11-11 23:32] leoafarias commented on #31
@searchy2 I think these are separate issues. The way FVM works is that you can install versions and they are cached globally. When you install the version local it references that global version.

This is important to avoid the long build processes that can happen with flutter.

Let me konw if that clarifies

[2019-11-12 18:52] searchy2 commented on #31
@leoafarias I'm sorry that I don't fully understand and need some additional clarification.
How do you install FVM locally? Right now, I've ran `pub global activate fvm`. Do I need to install it in my project folder somehow?

Thanks 🥇

[2019-11-20 05:56] jjangga0214 opened #33 "[Feature Request] installation by npm/go"
Why are they gone?
Has there a specific issue?

[2019-11-20 12:58] leoafarias commented on #33
@jjangga0214 with the rewrite in dart using pub to install is just much easier. The npm install was made to make a go binary easier to install

[2019-11-20 23:11] #33 closed

[2019-11-26 01:50] CaiJingLong commented on #31
https://dart.dev/tools/pub/cmd/pub-global#running-a-script-from-your-path

[2019-11-26 13:03] leoafarias commented on #31
@searchy2 thanks for the delay responding. The SDK versions are installed "globally" This is important because if you have multiple projects using the same version it reuses instead of having them multiple times.  As you probably know they get pretty large.

So the versions are "cached" globally, but they get referenced per project. So a project can reference any of the globally cached versions.

[2019-11-26 16:13] searchy2 commented on #31
@leoafarias Thanks for taking a look! I've followed the steps in the ReadMe and am running into this issue.
![MaxthonSnap20191126101114](https://user-images.githubusercontent.com/19896174/69651127-3b27da00-1035-11ea-9698-487fe99a3e2d.png)
I guess I still don't fully understand how to reference a version "per project". Is this done manually via a config file or through fvm?

[2019-12-04 12:42] orestesgaolin opened #34 "Calling "flutter doctor --android-licenses" results with "Could not find an option named "android-licenses"""
**Describe the bug**
Running `flutter doctor --android-licenses` results with error `Could not find an option named "android-licenses"`

**To Reproduce**
Steps to reproduce the behavior:
1. Install fvm and do not install Flutter from official website
2. Run `fvm use master` for the first time
3. See the flutter doctor's output:

[code]

4. Run `fvm flutter doctor --android-licenses`
5. See error:

[2019-12-04 23:09] orestesgaolin commented on #34
The same problem occurs when running `flutter config --enable-macos-desktop`

[2019-12-04 23:12] orestesgaolin commented on #34
Ok, the workaround for that is just to `cd` to the fvm fluter directory and execute e.g. `./flutter doctor --android-licenses`.

[2019-12-07 21:13] leoafarias commented on #34
@orestesgaolin this is an ongoing issue with flutter command. I have a pull request to the arts package but it has not been approved and a PR I can’t merge. #27 that or why they work around is documented. Thanks for updating the ticket

[2019-12-09 17:14] ryan-sf opened #35 "[QUESTION] Is npm/go install still valid?"
I found an [old post](https://flutterawesome.com/flutter-version-management-a-simple-cli-to-manage-flutter-sdk-versions/) that says you can install fvm using npm, yarn, or go, but the npm version is behind the current pub version.

Is it still possible to do this?

[2019-12-09 17:18] ryan-sf opened #36 "[BUG] Update install to state dart should be installed globally"
**Describe the bug**

Currently the docs assume that the user has Dart installed globally.  Should probably add some verbiage to explicitly say that or add instructions for when you're only using the Flutter installed version.

**To Reproduce**
Steps to reproduce the behavior:
1. Run install commands without having Dart installed globally with `.pub-cache` added to path.

**Expected behavior**
Exp

[2019-12-09 17:20] ryan-sf opened #37 "[Feature Request] Add command to print out current verion of fvm"
**Is your feature request related to a problem? Please describe.**
Currently there is no easy way to see what version of fvm is installed.  This is useful information when reporting bugs.

**Describe the solution you'd like**
Would like a `version` command to be added that would print out the latest installed version.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2019-12-09 17:26] ryan-sf opened #38 "[BUG]: incorrect instructions for VS Code settings"
**Describe the bug**
When following the instructions for configuring VS Code, the version switcher fails to locate the installed versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `"dart.flutterSdkPaths": ["fvm"]` to VS Code settings
2. Click on dart version
3. Observe that version switcher fails to display, or displays only current version.

**Expected behavior**
Change the dart.

[2019-12-13 08:55] askarsyzdykov commented on #31
Same issue:

[code]

[2019-12-14 02:51] rchavik commented on #31
AFAIK, fvm will create a symlink (or its equivalent) in the directory you ran `fvm use`.  Not sure how it is in windows, but in linux i typically invoke fvm (after `fvm use`) via the following `./fmv <command>`.  Note the `./` to implicitly invoke the fvm file in the current directory.

[2019-12-15 20:29] leoafarias commented on #35
The npm version is no longer valid. I will make it more explicit. The version before was written on Go so the installation process was a bit more complicated. How Pub global is as easy as npm.

[2019-12-15 20:31] leoafarias commented on #38
@ryan-sf i believe the instructions is correct the local the project ‘fvm’ symlinks to the current ~/fvm/versions.

Do you mind going into a bit more detail what you expected and where it fails?

[2019-12-16 17:25] chimon2000 commented on #38
I was having issues where vs code could not correctly locate my versions until I changed the path. I will retest.

[2019-12-17 04:08] rchavik opened #39 "[Feature Request] Use a different way to distinguish flutter version to use"
Current way to differentiate flutter version to use is by creating a symlink in the root project directly.
Unfortunately this symlink uses absolute path, and it does not make sense to commit it into git repo.

A solution that comes to mind is like what [`nodenv`](https://github.com/nodenv/nodenv) uses.  It stores the version to use in `.node-version` file in the root project.  This file contains a

[2019-12-17 19:20] Prathik-Jain commented on #39
Hi @rchavik, I agree that symlinks is not something to be used. Would you please explain the benefits of pushing the flutter version to git? Is it because you want the team to stay on the same page?

According to me a better approach would be something like what the nvm (node version manager) does. which is it edits the `PATH` every time the `use` command is executed.
https://github.com/nvm-sh/nvm

[2019-12-17 19:55] orestesgaolin commented on #38
For some reason even though I have selected `stable` version with `fvm use stable` VS Code uses `dev` version of Flutter. The only thing I set was this SDK path in settings.json to `fvm`.

[2019-12-17 23:33] rchavik commented on #39
Yes. That is my objective.

I used nvm before but switch to nodenv after I got tired of the slow loading times on all my terminals after cold boot.   However, this approach is also worth considering.

Please note that `nodenv`'s `node-version` is more like `nvm`'s `.nvmrc` where you specify which `node` version to use.

For `nvm`, afaik it requires manual command `nvm use` OR with some tweaks in y

[2019-12-18 23:51] #35 closed

[2019-12-18 23:55] leoafarias commented on #39
Good discussion. I am interested in improving where we can. Maybe improving the reference file together with current version would at least allow to install the needed flutter version.

Will look into a bit more detail later

[2019-12-19 10:12] Prathik-Jain commented on #39
I am open for contribution. I can start working once we decide what we want to do.
Thanks @leoafarias

[2019-12-20 14:29] leoafarias commented on #39
@Prathik-Jain I am open to a PR on this. I think the best approach is to have a `.fvm` file that contains the version instead of being a symlink.

FVM can then look for the version that is currently installed and if its not installed it can go ahead and install it.

[2019-12-23 11:27] Prathik-Jain commented on #39
@rchavik, can you please post a example of `.nodenv`?

[2019-12-24 18:25] Prathik-Jain commented on #39
ok found a couple of `.nodenv`

https://github.com/s-wirth/DungeonsRevenge/blob/4fb20d06a4e20e4c77700582fac24fd64f4e2581/.nodenv

https://github.com/ShayDavidson/ShayDavidson.github.io/blob/ae38e83f1fb7497e0ce1fc37278850b4dd43776a/.nodenv

https://github.com/hfu/rfc8142-check/blob/dd62574c933cd73fc175e8d64eea42181de8f33b/.nodenv

It holds the version number and nothing else. Correct me if I am wro

[2019-12-24 18:29] Prathik-Jain commented on #39
@leoafarias, How do we keep track of channels? For now I see that fvm only takes care of channel/version and not both.

`fvm use 1.12.0` would work
`fvm use 1.9.0 beta` wouldn't work

right?

[2019-12-24 18:53] leoafarias commented on #39
@Prathik-Jain It will get any tagged versions from the Flutter repo. That is mostly stable releases and hotfix releases. https://github.com/flutter/flutter/releases?after=v1.9.1

What would be the use case for this if a lot of the channels are unstable and nightlies?

[2019-12-24 18:59] leoafarias commented on #39
Also to be honest I don’t think it can be done is not tagged so it’s probably only noted on the flutter version within the sdk

[2019-12-25 07:17] Prathik-Jain commented on #39
Playing with the new experimental features like the web, hot UI etc. can be considered for moving into unstable channels. Do you think its good to ignore such use cases?

[2019-12-25 12:57] leoafarias commented on #39
@Prathik-Jain I don’t think about it’s ignoring. The Flutter team does not tag does version. Also experimental UI, web version gets rolled into a channel. By using the channel you will get those versions... the only issue is not being able to get a previous version of a channel which was never stable.

But the cases you described are covered by what you described. To be honest that is exactly how

[2019-12-26 08:55] panthe opened #41 "[Feature Request] Android Studio configuration"
After you've installed fvm cli and all works fine, you can add in you Android Studio project the feature to build directly with the Flutter version that you want follow this simple step:
1) copy the path of fvm symbolic link in your root project directory.
example {fvm-path}/versions/beta/bin/flutter
2) in the Android Studio menù open Languages & Frameworks -> Flutter or search for Flutter and cha

[2019-12-26 16:42] leoafarias commented on #37
#42 closes this

[2019-12-26 16:42] #37 closed

[2019-12-26 16:45] leoafarias commented on #31
@searchy2 I suggest reading the instructions on the readme if you are still having issues. You will have to install the flutter version first. I will be adding a better description and maybe a prompt to install the version

[2019-12-26 16:48] leoafarias commented on #36
@ryan-sf I am looking into improving this. Maybe having a binary that gets shipped would be best, but still not 100% sure what is the best way to approach this.

[2019-12-27 00:38] CaiJingLong commented on #39
@leoafarias
Regarding the unstable version, can it be solved by ref (commit hash).

You can even specify a different git remote, for example, clone github in China is slower, so we can use a custom three-party source to clone flutter code.

[2019-12-27 02:26] leoafarias commented on #39
I know it can be done with a commit hash.. but how do we query the commit for that version. Also I am not sold that this should/needs to be done since the channel behavior covers.

Let me if I have a blind spot here

[2019-12-27 04:16] humazed commented on #31
I'm having the same issue as @searchy2

[2019-12-28 11:45] salim97 opened #45 "fvm : The term 'fvm' is not recognized as the name of a cmdlet (windows) [BUG]"
**Describe the bug**
i got an error of command not recognized after installing it.

**To Reproduce**
Steps to reproduce the behavior:

1-$ `flutter pub global activate fvm`
Package fvm is currently active at version 0.6.7.
Resolving dependencies...
+ args 1.5.2
+ charcode 1.1.2
+ cli_util 0.1.3+2
+ console 3.1.0
+ fvm 0.6.7
+ io 0.3.3
+ meta 1.1.8
+ path 1.6.4
+ source_span 1.5.5
+ string_scanner

[2019-12-28 12:56] leoafarias commented on #45
@salim97 please make sure you are running ‘pub global activate’ instead of flutter command and also make sure you have configured the system path

https://dart.dev/tools/pub/cmd/pub-global#running-a-script

[2019-12-28 21:46] #15 closed

[2019-12-30 00:46] CaiJingLong commented on #39
There can be some solutions about this node dev configuration file, such as adding a .fvm_version file to the project

1. The config file will store flutter's commit hash/ tag/ branch or other information. It can be json, yaml or properties.
2. This file can be submitted to version-control-tools.

We can add commands such as fvm init or setup to read this configuration file. If there is no the ver

[2020-01-02 21:28] searchy2 commented on #31
Thanks for the suggestion @leoafarias
Unfortunately, I still run into the link issue.
![MaxthonSnap20200102152737](https://user-images.githubusercontent.com/19896174/71694347-85a71f80-2d74-11ea-8673-f6f6d8fb483e.png)

[2020-01-03 04:58] rchavik commented on #31
It's been decades since I've used Windows, but see if this applies: https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/create-symbolic-links

[2020-01-03 14:24] leoafarias commented on #31
@searchy2 version 0.6.7 has some fixes for windows that I think it might address your issue. Would you mind testing with that version?

[2020-01-03 14:27] #31 closed

[2020-01-03 14:33] leoafarias opened #46 "Improved integration with VsCode"
**Is your feature request related to a problem? Please describe.**
The current behavior of linking the flutter version to the project requires interaction with the CLI. Would be great to allow the use of VSCode Flutter SDK Change command to pick the Flutter versions that are currently installed by FVM

**Describe the solution you'd like**
Create a project config file for the project hat links to t

[2020-01-03 18:28] leoafarias commented on #45
@salim97 I will be closing this issue. I have updated the docs pointing to this

[2020-01-03 18:28] #45 closed

[2020-01-05 03:32] SantyTaco opened #47 "Activating version could not find the link"
**Describe the bug**
I am trying to use fvm in a windows 10 computer. I have downloaded two versions:
*1.12.13+hotfix.5
*1.9.1+hotfix.2

Those version are installed in this path: C:\Users\mighu\fvm\versions
When I try to use one version I got this message:
 Sorry could not link C:\Users\mighu\fvm\versions\1.12.13+hotfix.5\bin\flutter.bat

I reviewed the folder and I can see the flutter.bat in that

[2020-01-06 09:42] dudongdaoqi opened #48 ""v1.9.1+hotfix.6" is not a valid version"
**Describe the bug**
when i install
fvm install v1.9.1+hotfix.6

tips:
"v1.9.1+hotfix.6" is not a valid version

#0      flutterVersionClone (package:fvm/utils/flutter_tools.dart:68:5)
<asynchronous suspension>
#1      InstallCommand.run (package:fvm/commands/install.dart:34:13)
<asynchronous suspension>
#2      CommandRunner.runCommand (package:args/command_runner.dart:197:27)
<asynchronous suspe

[2020-01-06 14:39] leoafarias commented on #48
@dudongdaoqi can you try using the version without the `v` in front of it

[2020-01-06 19:31] leoafarias commented on #47
@zmtzawqlp any way you can take a look at the issue above. It's being a bit difficult to troubleshoot on windows. Seems it has to do with the symlink which you have made some improvements on.

[2020-01-07 01:21] zmtzawqlp commented on #47
I couldn't reproduce it with your steps.
more, i think you should add C:\Users\xxxxx\AppData\Roaming\Pub\Cache\bin to your environment path.
and you can try to run fvm list to see your cache folder and run fvm config -c C:\Users\xxxx\fvm\versions to set cache folder

[2020-01-07 15:01] leoafarias commented on #47
@zmtzawqlp Sorry if it's too much to ask, but would you mind doing a quick bullet point of things you need to make sure are done. You can link to flutter docs if needed, so I can add to readme.md

[2020-01-07 15:12] zmtzawqlp commented on #47
@leoafarias in fact, i didn't see any direct problem from the describe of this issue, those are just suggestions, let us wait @SantyTaco 's reply, see any progress at his side.

[2020-01-08 03:24] ryan-sf commented on #36
I like the idea of a binary. Right now I get tons of warnings about using two versions of Flutter that I just ignore.

[2020-01-09 09:16] dudongdaoqi commented on #48
@leoafarias Thank you very much! It's OK!

[2020-01-09 09:16] #48 closed

[2020-02-02 13:43] zmtzawqlp commented on #47
@leoafarias @SantyTaco I reproduced it in win10 home edition, and i  found error msg
' Error Code 1314 - A required privilege is not held by the client'.

It's easy to fix it with run cmd as Administrator and maybe you can update win10 version to p professional edition(home editiion has no full control)

[2020-02-02 13:48] zmtzawqlp commented on #47
more, if you run fvm in terminal of vscode, you need to run vscode as Administrator

[2020-02-12 17:18] ozyl opened #49 "[Feature Request]Hope to show download progress"
Thank you very much for your project. Hope to show the progress bar and download speed when using the 'fvm install' command, otherwise I don't know how long it will take me to download it.

[2020-02-12 17:41] ozyl commented on #47
Same problem on mac.Is there a solution?
[code]

[2020-02-26 02:59] atprastyo commented on #47
@SantyTaco you need run IDE as administrator on windows

[2020-03-12 03:07] zebrallel opened #50 "[BUG] Sorry could not link xxx/bin/flutter"
**Describe the bug**
it shows "Sorry could not link xxx/bin/flutter" when i execute "fvm use 1.7.8+hotfix.4"

**To Reproduce**
Steps to reproduce the behavior:
1. open a shell in item2
2. exec fvm use "v1.7.8+hotfix.4"

**Expected behavior**
use target version success

**Screenshots**
![image](https://user-images.githubusercontent.com/7269427/76483187-4de1e580-6451-11ea-8591-fc6ba9f6dd45.png)

**D

[2020-03-25 09:46] dawnyu commented on #50
So did me

[2020-03-27 15:40] leoafarias commented on #50
Could try running a `--verbose` flag on the command so I can see the stack trace?

[2020-04-07 13:07] CaiJingLong opened #51 "Cannot install not start with 'v' version."
![image](https://user-images.githubusercontent.com/14145407/78672477-465c1200-7913-11ea-8adb-31b5afffd915.png)

Such as the 1.17.0 isn't start with 'v'.

https://github.com/leoafarias/fvm/blob/19006666e02769765707402ad9e38a91098f698e/lib/utils/helpers.dart#L9-L11

https://github.com/leoafarias/fvm/blob/19006666e02769765707402ad9e38a91098f698e/lib/utils/flutter_tools.dart#L79

The 'v' is hard-coded

[2020-04-13 06:48] ayush221b commented on #50
I ran into the same issue, here's the stacktrace:

[code]

[2020-04-13 17:50] kuhnroyal commented on #51
This is due to the new Dart/Flutter release process and versioning: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/flutter-announce/b_EcYtyo8Q4/2QSfdp2aBwAJ

[2020-04-14 12:38] leoafarias commented on #51
Fixed with #52

[2020-04-14 12:38] #51 closed

[2020-04-14 20:50] kuhnroyal commented on #39
I currently have a `.flutter_version` file in every project. This is read by a small wrapper script in the CI system which then sets up FVM with the correct version.
The file only contains a single line with the channel or version.

[2020-04-15 08:25] andrewpmoore opened #55 "[Feature Request] add support for web-hostname and web-port"
If I run
 flutter run --verbose -d chrome --web-hostname localhost --web-port 7357

so that my chrome instance is running on a specific port (needed for google sign in) it works fine.

If I enter the same but with fvm on the start I just get errors that the options aren't defined.
Would it be possible to add support for these?

[2020-04-16 16:16] leoafarias commented on #55
This is currently an impediment on the arcs module. Please use `./fvm run` for now

[2020-04-24 00:12] aseef17 opened #56 "[BUG] fvm flutter run not working"
I've been getting the following error while trying to change SDK to the local one.

<img width="788" alt="Screenshot 2020-04-24 at 5 40 30 AM" src="https://user-images.githubusercontent.com/26878414/80161489-281e3380-85ee-11ea-901f-05e171f6badb.png">

[2020-04-24 00:19] leoafarias commented on #56
I believe you have to run the simulator first. This happens when you switch the sdk for the last compile but normally is not an error, just a notification

[2020-04-24 00:30] aseef17 commented on #56
You were right. But what I would wish to achieve is that make sure that the particular directory runs on the specified version of flutter.
I have the stable version installed globally and would like to run the beta version on the particular directory to essentially build flutter for web (using the command flutter create .)
But when I try to run flutter --version after running fvm flutter run, I ge

[2020-04-24 00:43] aseef17 commented on #56
I got it working with fvm flutter create . and running the application on chrome using fvm flutter run -d chrome. Sorry for the trouble.
Anyway, we can make VS Code refer to fvm so I don't have to run the application from the terminal
I've already added

  "dart.flutterSdkPaths": [
        "fvm"
    ],

to the settings.json file.

[2020-04-24 00:45] leoafarias commented on #56
Yes no problem ... flutter references the global flutter which is configured. Let me know if we could have addd anything on the docs to make a bit clearer

[2020-04-24 00:45] #56 closed

[2020-05-07 10:08] qiuguian opened #57 "fvm install no response"
fvm install 1.18.0-12.0.pre  no response

[2020-05-07 11:18] kuhnroyal commented on #57
Works for me.

[2020-05-07 12:13] kuhnroyal commented on #39
We need to get rid of the `fvm` link and create a script instead when `fvm use` is called. Start with something simple like:

[code]

[2020-05-10 07:10] 3mrdev opened #58 "Is there a way to add and existing flutter sdks to the fvm cli ? [Feature Request]"
**Is your feature request related to a problem? Please describe.**
I can't find a command to add my existing flutter sdk

**Describe the solution you'd like**
Add a path to the flutter sdk i already have .. for those who have slow internet and already have flutter

**Describe alternatives you've considered**
provide us with a clear documentation of how to clone my existing flutter to a directory t

[2020-05-18 18:24] hortegag91 commented on #50
Can you solve ir @ayush221b  ?

[2020-05-19 08:17] mustafa96m commented on #50
I think there is a misunderstanding here, according to the readme.

fvm use specifies the flutter version per project, not globally. Therefore, go to your project root and apply fvm use.

[2020-05-30 13:31] #50 closed

[2020-06-06 04:19] haadinorouzi opened #59 "[BUG]"
First time i install a sdk it doesn't have a default cache path and doesn't prompt me to set this.

 - OS: macOS
 - FVM Version 0.7.0

[2020-06-07 16:25] leoafarias commented on #59
@haadinorouzi there should be a default cache path if one is not set. Could you provide more info?

[2020-06-07 16:29] haadinorouzi commented on #59
Maybe it has.
But first time run ‘fvm config’ doesn’t show me cache_path
It says not set.

[2020-06-07 16:46] #59 closed

[2020-06-10 09:57] davidmartos96 commented on #21
@leoafarias I have this feature on my fork. If I do `fvm use {version} --global` a soft link folder named `default` is created in the fvm home folder. After that I place the path to the flutter binary in my PATH and I can use the version globally.
I had the need to do it since I am using go-flutter, where the Flutter version should be beta and it uses the binary in the PATH by default.
Would you l

[2020-06-14 09:34] leoafarias commented on #58
Seems that this is related to #21

[2020-06-14 09:34] leoafarias commented on #58
Seems that this is related to #21

[2020-06-14 15:02] long1eu opened #61 "[Feature Request] Support brew like links"
In brew you can have multiple version but still point to the same folder. This folder is a symlink to the current version. This way I don't need to set the version of dart everytime in IntelliJ

[2020-06-14 15:21] long1eu commented on #61
![Screenshot 2020-06-14 at 18 20 18](https://user-images.githubusercontent.com/9283414/84597294-bcc54500-ae6b-11ea-9932-a5f5a1137ff5.png)
This way I only need to add to path the symlink. Also this allows to have a global version of flutter.

[2020-06-15 18:22] leoafarias commented on #57
Need more information. Please open a new issue following the bug report template
https://github.com/leoafarias/fvm/issues/new?assignees=&labels=bug&template=bug_report.md&title=%5BBUG%5D

[2020-06-15 18:22] #57 closed

[2020-06-15 18:23] #47 closed

[2020-06-15 18:57] leoafarias commented on #34
Fixed by #62

[2020-06-15 18:57] #34 closed

[2020-06-15 22:06] #38 closed

[2020-06-15 22:45] jamesdixon opened #63 "[BUG] can't proxy to pub"
**Describe the bug**
Hi, I'm trying to proxy to the `flutter pub` command to execute `build_runner`. It doesn't seem to be possible.

**To Reproduce**
Run `flutter pub run build_runner build --delete-conflicting-outputs`

**Expected behavior**
`build_runner` is executed. Instead, I see an error that `--delete-conflicting-outputs` is not an option.

**Desktop (please complete the following informat

[2020-06-15 22:47] leoafarias commented on #63
@jamesdixon this was just fixed on version 0.7.2.

[2020-06-15 22:50] jamesdixon commented on #63
@leoafarias thanks!

My apologies...didn't realize there was a 0.7.2.

Just tried this and it DOES work.

Thanks for this and for your amazing work on FVM.

Cheers

[2020-06-15 22:50] #63 closed

[2020-06-16 11:53] #21 closed

[2020-06-17 23:20] leoafarias commented on #55
This has been solved with version 0.72

[2020-06-17 23:20] #55 closed

[2020-06-17 23:24] leoafarias commented on #39
Just getting back to tackling this. The biggest need to the symlink is that it allows for local ide configurations. That will respect the change in the sdk.

I am thinking about a configuration with a symlink, any suggestions on how to make the per project use configurations work without symlink would be great.

[2020-06-18 07:10] rchavik commented on #39
Shouldn't this responsibility be separated from `fvm`. Different editors will have different ways of configuring which SDK to use, eg: vscode dart plugin has [`dart.flutterSdkPaths`](https://dartcode.org/docs/settings/#dartfluttersdkpaths)

[2020-06-18 08:23] kuhnroyal commented on #39
IDE configurations is different for each one but what we need here is for `./fvm` to be version controlled. Which means it must not be a link and must not contain a system dependent path.

In the end I want to check the project out in CI or a new developer machine and just run something like `./fvm init` that will setup flutter if it is not already configured.

[2020-06-18 10:00] leoafarias commented on #39
Yes the init process with a versioned config is something that is planned.

[2020-06-18 10:00] leoafarias commented on #39
@rchavik that is correct, but the symlink allows for the user to not have to change this path when they change version being used in the project

[2020-06-18 22:38] leoafarias commented on #28
I added a more descriptive message. However would like to avoid touching the Flutter SDK as much as possible.

[2020-06-18 22:39] #28 closed

[2020-06-18 22:39] #36 closed

[2020-06-18 22:39] #39 closed

[2020-06-18 22:39] #41 closed

[2020-06-18 22:40] leoafarias commented on #58
Right now there is not a way to add the existing SDK. You can however move the SDK folder into the FVM versions folder, and use the `channel` as the folder name.

[2020-06-18 22:40] #58 closed

[2020-06-18 22:51] leoafarias commented on #41
@all-contributors please add @panthe for doc

[2020-06-19 09:34] kuhnroyal commented on #39
https://github.com/leoafarias/fvm/commit/28587822231c2107ea8841cd1b6ef298c4bb79af is a good start but it breaks every setup. The `./fvm` file is gone and now any command line use is basically impossible. I can't change every call to `./.fvm/flutter_sdk/bin/flutter`.

[2020-06-19 09:43] kuhnroyal opened #68 "[BUG] fvm install without argument should have a nicer error message"
`fvm install` without version argument throws an exception but should provide a nice error message instead.

[code]

FVM Version: 0.8.0

With the new `.fvm/fvm_config.json` file the install command should look for this version and install and use this if available.

[2020-06-19 11:55] #68 closed

[2020-06-19 11:55] kuhnroyal commented on #68
Nice work. The same behavior should be applied to the `use` command and after that an `init` command can be added that combines both commands.

[2020-06-19 12:04] leoafarias commented on #68
@kuhnroyal I have made a change on the use command. I am trying to make sure the `install` and `use` are distinctive commands. I have added a confirmation install on use.

Keep in mind that if the config exists it means the project is already `using` the version.

[2020-06-19 16:56] leoafarias commented on #61
@long1eu I think the new version of the config solves that problem for you https://github.com/leoafarias/fvm#android-studio

[2020-06-19 16:56] #61 closed

[2020-06-19 16:58] long1eu commented on #61
If you say so. But what about a global flutter?

[2020-06-19 16:59] leoafarias commented on #61
@long1eu https://github.com/leoafarias/fvm/blob/master/CHANGELOG.md#080

[2020-06-19 17:00] long1eu commented on #61
Thanks

On Fri, 19 Jun 2020 at 19:59, Leo Farias <notifications@github.com> wrote:

[2020-06-20 13:52] #49 closed

[2020-06-20 14:33] leoafarias commented on #39
@kuhnroyal if you check the `.fvm` folder it contains the version. Fvm will use the version to resolve the path, so there is no need for the symlink anymore on `fvm`. The `flutter_sdk` symlink is created just as an IDE helper. So you can use it for VSCode and have it switch dynamically with with the `fvm use` command.

Also keep in mind that the command `./fvm` was created to run flutter commands

[2020-06-21 09:53] leoafarias opened #73 "Flutter command alias"
Create a helper alias command to link project flutter bin to the `flutter` command
[code]
This will alias the local project bin to `flutter` for that terminal session.

[2020-06-21 09:54] leoafarias opened #74 "List available releases for download"
List available flutter versions of download, including current versions for channels

[2020-06-22 08:46] kuhnroyal commented on #68
@leoafarias There still seems to be a problem for me when checking out a configured project from VCS.
Running `fvm install` does not create the `.fvm/flutter_sdk` link and `fvm use` can not be run without a version. So there is something missing, either `fvm use` needs to be runnable without version (from config instead) or `fvm install` needs to create the link.
Alternatively there could be some

[2020-06-22 10:43] pushpendraKh opened #76 "Creation Failed on Fvm use"
**Describe the bug**
When I am using `fvm use 1.17.4 --verbose` it says following -
[     8.831s] ⚠️  Creation failed
#0      _Directory.createSync (dart:io/directory_impl.dart:140:7)
#1      _File.createSync (dart:io/file_impl.dart:280:14)
#2      setAsProjectVersion (package:fvm/utils/project_config.dart:20:27)
#3      UseCommand.run (package:fvm/commands/use.dart:50:7)
<asynchronous suspension>

[2020-06-22 10:45] #76 closed

[2020-06-22 12:45] leoafarias commented on #68
@kuhnroyal Just deployed a new version that addresses this. Also I have set as version 1.0 as I think we are feature locked. Please let me know and open up any issues if you find anything

[2020-06-22 13:08] kuhnroyal commented on #68
@leoafarias Thanks, I will test this tmorrow.

[2020-06-22 16:18] leoafarias commented on #74
#75

[2020-06-22 16:18] #74 closed

[2020-06-22 16:41] pushpendraKh opened #77 "Problem while working with Flutter 1.17.0"
@leoafarias I have installed "Flutter 1.17.0" using `fvm` (v0.8.3)

I can run my android successfully. But when I try to run it on iOS, it says "Upgrading project.pbxproj" which removes `App.framework` and `Flutter.framwork` from Runner/Flutter which causes following error and app gets stuck at launch screen itself
[code]

I tried to degrade the version from 1.17.4 to 1.12.13+hotfix.5 which runs s

[2020-06-22 18:36] leoafarias commented on #77
@pushpendraKh This is related to the version bump and incompatibility most likely. FVM just pulls flutter, and proxys the commands. It does not touch  flutter or modify any of its behavior.

This was the reason why I felt the need for `fvm` to make sure we had consistent builds between our build and our CIs.

If you switch from version 1.12.13+hotfix.5 and use the `flutter channel stable` outside

[2020-06-23 01:45] pushpendraKh commented on #77
I see. So this is not related to fvm. Thanks for the clarification.

Any suggestions to resolve this, would be appreciated :)

[2020-06-23 01:56] leoafarias commented on #77
I believe this is related to the issue you are facing. Follow these instructions

https://flutter.dev/docs/development/ios-project-migration

[2020-06-23 01:56] #77 closed

[2020-06-24 08:29] orestesgaolin opened #78 "[BUG] ./fvm command no longer works after 1.0 upgrade"
**Describe the bug**

In 0.x version a symlink was created when calling `fvm use stable` and it was possible to call all flutter commands by just starting them with `./fvm` e.g. `./fvm doctor`. Now it doesn't work anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to some Flutter project directory in command line
2. Execute `fvm use stable`
3. Execute `./fvm doctor`
4. See error `zs

[2020-06-24 09:23] orestesgaolin commented on #78
Ok, I understand my issue now.

I had .fvm symlinks left in some directories from the previous version and it mislead me that it should still work. I see that now we need to call `fvm flutter ...` to execute flutter commands.

I created alias for that and it works now. Thanks!

[2020-06-24 09:23] #78 closed

[2020-06-26 13:52] jascodes opened #79 "Mark global version when listing"
e.g

[code]
or
[code]

In nutshell just indicaton which version is configured as global

Thx

[2020-06-26 13:54] davidmartos96 commented on #79
If you have the PATH correctly set up you could do `flutter doctor` to see which version you are running

[2020-06-26 13:56] jascodes commented on #79
also can do flutter --version but thats not the feature request...

[2020-06-26 14:00] jascodes opened #80 "Discussion: Dart version management"
One of cool things about fvm is the ability to lock flutter version. But for me locking dart version in project might as useful. I know it might be allot of work. But @leoafarias what do you think. Does this idea make sense?

Jas

[2020-06-26 14:04] leoafarias commented on #80
@jascodes I don't think it is a good idea to have flutter with a different dart dependency from what its shipped within the release.

Are you talking about for projects that do not depend on Flutter?

while building FVM I faced that problem because FVM its not dependent on flutter but it is on Dart.

[2020-06-26 14:15] jascodes commented on #80
Oh great I didn't realise that each flutter version had its own local dart version. I was under wrong impression that the system version (installed on machine) of dart is used for compilation in flutter projects; no matter version.

Am I right?

[2020-06-26 15:42] leoafarias commented on #80
"Downloading the Flutter SDK also downloads the compatible version of Dart, but if you’ve downloaded the Dart SDK separately, make sure that the Flutter version of dart is first in your path, as the two versions might not be compatible. "
https://flutter.dev/docs/get-started/install/windows#update-your-path

That is why Flutter suggests proxying dart commands like `flutter pub get` that uses the d

[2020-06-26 16:25] jascodes commented on #80
@leoafarias Awesome, Thx for taking time and explaining. Very helpful and much appreciated. I am going to close this.

[2020-06-26 16:25] #80 closed

[2020-07-02 01:40] hunght commented on #73
use can use 'fvm flutter' if you want to run loal flutter sdk on your project

[2020-07-02 03:57] hunght commented on #73
@leoafarias  btw when i use fvm flutter i can't run hot reload by typing 'r' or 'R'
![Screen Shot 2020-07-02 at 10 56 14 AM](https://user-images.githubusercontent.com/1697756/86314749-a7fdf500-bc52-11ea-9ba4-5e13f8e6b308.png)
could you help with that?

[2020-07-02 09:38] kuhnroyal commented on #73
Having the same problem, didn't think of fvm as the reason but could very well be. Probably stdin not being piped through.

[2020-07-02 09:42] leoafarias commented on #73
@kuhnroyal @hunght That was it. pushing a new update. This issue is not related to this though, next time please create a new one.

[2020-07-02 09:45] leoafarias commented on #73
@hunght fix pushed to version 1.0.3

[2020-07-02 10:09] #79 closed

[2020-07-05 06:08] jascodes commented on #73
@leoafarias
How about aliasing dart version inside cache of flutter as well?

[2020-07-05 06:12] jascodes commented on #79
Not able to see global version tick and also fvm version is showing 1.0.2 for latest 1.0.4
[code]

[2020-07-07 08:19] jascodes commented on #79
@leoafarias Never mind, it turns out the path of `.pub-cache/bin/bin` is moved to `.pub-cache/bin/bin/bin`

That's why I was seeing the old version

Thx

[2020-07-07 08:26] jascodes opened #82 "Feature: fvm create"
I purpose `fvm create` be followed by selector from installed versions of flutter and based on selected one, it should proxy to `flutter create` of that version. After `flutter create`, `flutter use` or in future `flutter alias` also executed to hook up with fvm.

Thx

[2020-07-07 16:35] jascodes commented on #79
@leoafarias Ignore previous comment I was using PUB_CACHE to add it to my path not realising it was reserved variable.
😂😋🙈

[2020-07-08 14:06] leoafarias commented on #82
@jascodes this makes sense, but I am trying to be careful about not having flutter cli api that is being just proxied. I do think this is an interesting case especially for people using web, and desktop, since they are using unstable versions.

I think I will remove the guard to only allow to use the `fvm use` command on a flutter project, or at least allow for an override prompt. You will be able

[2020-07-08 14:17] jascodes commented on #82
@leoafarias Your solution will works too and it makes sense on depending on flutter cli; plus its quick fix. Infact I tried that myself and stumbled upon by guard.

[2020-07-09 14:41] atreeon opened #83 "Dart / Flutter sdk locations in IntelliJ Idea, is there a way to set them for a specific project?"
Is there a way to set the Dart / Flutter sdk locations in IntelliJ Idea for a specific project? I'm particularly interested in setting this for Flutter / Dart as I have different installed versions for different projects (I'm using fvm).

I know how to set them in the system preferences -> language & framesworks but this sets them for all projects and I'd like to have a specific fvm install for a

[2020-07-09 15:27] kuhnroyal commented on #83
I am manually adjusting the paths in `.idea\libraries\Dart_SDK.xml` to something like

[code]

[2020-07-09 15:36] atreeon commented on #83
ah thanks @kuhnroyal, is there a way to set the Flutter sdk too?

[2020-07-09 15:48] kuhnroyal commented on #83
@atreeon Right, I am not sure where IntelliJ looks for the Flutter path but once I run `fvm flutter pub get` it is always configured correctly.

[2020-07-09 16:14] atreeon commented on #83
ah ok, for me it is set in

Preferences -> Languages & Frameworks -> Flutter -> SDK path

but that is set for all projects and not specific to my current project.  When I installed fvm I set this sdk location to my fvm flutter location but that set it for all projects.  It's ok, it is much easier with fvm to switch, it would just be really nice to have each project set to specific flutter versions

[2020-07-10 06:31] kuhnroyal commented on #83
Yea, it is configured there for me as well. But different for every project and I have never manually set it.

[2020-07-16 15:36] svenjacobs opened #84 "[Feature Request] Change global fvm directory location"
I would like to change the global fvm directory location from `/Users/sven/fvm` to `/Users/sven/.fvm`. However this does not seem to be possible at the moment, right? Maybe fvm can honor an environment variable like `FVM_HOME` if set?

[2020-07-16 18:41] svenjacobs commented on #84
See pull request #85. I hope you like it 😃

[2020-07-16 21:59] leoafarias commented on #84
@all-contributors please add @svenjacobs for code

[2020-07-16 22:45] #82 closed

[2020-07-16 23:15] leoafarias commented on #82
@all-contributors please add @jascodes for ideas

[2020-07-16 23:16] #84 closed

[2020-07-17 15:45] d-apps commented on #41
Sorry guys but I couldn't understand this, does anyone please can explain detailed this part:

1 - copy the path of fvm symbolic link in your root project directory.
example {fvm-path}/versions/beta/bin/flutter.

![image](https://user-images.githubusercontent.com/20110433/87805163-4c736000-c82b-11ea-824c-4e7c6a8b4e06.png)

[2020-07-18 17:26] e200 opened #91 "Upgrade Flutter from FVM"
There is now way to upgrade the Flutter being used.

```fvm upgrade stable```

[2020-07-19 00:55] leoafarias commented on #91
Assuming you have set to use the stable channel. You should be able to use 'fvm flutter upgrade'

[2020-07-19 10:19] leoafarias opened #92 "[Feature Request]: Ability to add/remove/upgrade packages from the cli"
**Is your feature request related to a problem? Please describe.**
I did a bit research on this and did not find a way to easily add package without having to open pubspec.yml and manually adding the package and version.

**Describe the solution you'd like**
Implement command to add package using fvm. `fvm package add http`

**Describe alternatives you've considered**
Not sure if this should be bu

[2020-07-19 16:00] leoafarias commented on #92
Found exactly what I was looking for.

https://pub.dev/packages/pubx

[2020-07-19 16:00] #92 closed

[2020-07-20 05:07] iptodays opened #93 "[BUG]Cannot create new project"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/15830996/87901513-d1f44b80-ca89-11ea-83b6-af5b42bd76e2.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - FVM Version [1.0.4]

[2020-07-20 10:15] #93 closed

[2020-07-22 10:47] amitkot commented on #18
This does not work for me in 1.1.3:
[code]

[2020-07-22 13:15] LeoK987 opened #94 "[BUG]channel unknown • unknown source"
**Describe the bug**

$ flutter --version
Flutter 1.20.0-7.2.pre • channel unknown • unknown source
Framework • revision a2bde82fbd (4 days ago) • 2020-07-18 15:16:35 -0700
Engine • revision 60b269d898
Tools • Dart 2.9.0 (build 2.9.0-21.2.beta)

I am not sure if this may cause any issue using flutter.

*To Reproduce**
Steps to reproduce the behavior:
1. fvm install 1.20.0-7.2.pre
2. fvm use 1.20.0

[2020-07-22 13:16] amitkot opened #95 "[BUG] Does not recursively lookup .fvm file"
Using version 1.1.3.

Cannot run fvm from a nested directory of the project:
[code]

_Originally posted by @amitkot in https://github.com/leoafarias/fvm/issues/18#issuecomment-662384109_

[2020-07-22 13:20] LeoK987 commented on #91
When I set a version for use global, if there any difference between the following 2 commands?

$ flutter upgrade
$ fvm flutter upgrade

[2020-07-22 13:23] leoafarias commented on #91
That will work fine. Just make sure the path is configured pointing to the global default

[2020-07-22 13:23] leoafarias commented on #91
@e200 let me know if that clarified for you, and I will go ahead and close this issue.

[2020-07-22 13:27] e200 commented on #91
Its clear for me now, thank you 😊

I just want to suggest to change the command args order.

`fvm upgrade flutter` seems more logical for me than `fvm flutter upgrade`.

[2020-07-22 13:32] leoafarias commented on #91
You are correct. This is more of an effort to not override or extend flutter cli commands.

I am working on some improvements to channels to allow pinning the version, and will look into that also.

Thanks

[2020-07-22 13:32] #91 closed

[2020-07-22 13:40] leoafarias commented on #94
This is due to how flutter grabs a non-channel version flutter/flutter#48147, not sure if this will be fixed but does not impact development as it is a supported flutter feature.

[2020-07-22 17:40] LeoK987 opened #96 "[Feature Request] install .pub-cache out of flutter directory"
**Is your feature request related to a problem? Please describe.**
Since fvm is to manage various versions of flutter, it makes sense to install the package independent from a flutter install.  Then the existing flutter install can be added automatically as a flutter version available under fvm.

After installing fvm, I moved .pub-cache into ~/fvm and set PATH accordingly.  Then I manually moved m

[2020-07-22 17:51] leoafarias commented on #94
@LeoK987 will be closing this but let me know if you have any other questions that I can help you with.

[2020-07-22 17:51] #94 closed

[2020-07-22 17:54] leoafarias commented on #96
@LeoK987 does .pub-cache changes based on the flutter version that is used for pub?

[2020-07-22 18:41] LeoK987 commented on #96
@leoafarias I am not sure if I understand your question.

.pub-cache was created when I did "flutter pub global activate fvm", where flutter was the version I had at that time.  So it was created under flutter/bin/.

So now I moved .pub-cache out of flutter/bin and into ~/fvm, and moved the entire flutter directory into fvm/versions and renamed it as 1.21.0-1.0.pre.

I don't see problems now.  But

[2020-07-27 06:03] Dukro opened #98 "Unable to install the specified version[BUG]"
Last login: Mon Jul 27 13:33:57 on ttys002

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
StyLookDukrodeMacBook-Pro:~ stylookdukro$ fvm help
Flutter Version Management: A cli to manage Flutter SDK versions.

Usage: fvm <command> [arguments]

Global options:
-h, --help

[2020-07-27 09:41] #95 closed

[2020-07-27 09:44] leoafarias commented on #98
@Dukro could you type `fvm version` so I can see the version you are using?

[2020-07-27 09:49] leoafarias commented on #96
@LeoK987 Did you see any issue by not moving the pub-cache before?

[2020-07-27 10:01] Dukro commented on #98
Last login: Mon Jul 27 17:41:04 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
StyLookDukrodeMacBook-Pro:~ stylookdukro$ fvm
Flutter Version Management: A cli to manage Flutter SDK versions.

Usage: fvm <command> [arguments]

Global options:
-h, --help

[2020-07-27 10:19] leoafarias commented on #98
Thanks @Dukro could you please do one more thing and run the commands with the `--verbose` flag. Example: `fvm releases --verbose`

[2020-07-27 13:17] Dukro commented on #98
StyLookDukrodeMacBook-Pro:~ stylookdukro$ fvm releases --verbose
[ 3m 56.216s] ⚠️  Could not fetch Flutter releases.
#0      getReleases (package:fvm/utils/releases_helper.dart:24:5)
<asynchronous suspension>
#1      ReleasesCommand.run (package:fvm/commands/releases.dart:23:28)
#2      CommandRunner.runCommand (package:args/command_runner.dart:197:27)
#3      CommandRunner.run.<anonymous closure>

[2020-07-27 16:30] #98 closed

[2020-07-27 16:39] leoafarias commented on #98
@Dukro please update to version 1.1.5, I believe is that the default flutter storage url is being changed. I added an error message and how to take action. https://flutter.dev/community/china, it will now respect FLUTTER_STORAGE_BASE_URL env var.

[2020-07-28 13:34] LeoK987 commented on #96
Not moving pub-cache?  I didn't notice problems.  But I didn't use it like that for long.

One issue I see is the env variable FLUTTER_HOME still pointing to the original flutter folder, which becomes obsolete with the use of fvm.  But I didn't see any problem due to it and am not sure where the variable is used.

[2020-07-28 13:40] leoafarias commented on #96
Fvm does not set any env vars.

[2020-07-28 17:27] LeoK987 commented on #96
not set by fvm.  FLUTTER_HOME was set when regular flutter was installed.

[2020-07-29 22:13] NullByte08 commented on #45
@leoafarias `pub global activate` gives this
'pub' is not recognized as an internal or external command,
operable program or batch file.

and I have configured the system path according to the warning
 `
Warning: Pub installs executables into F:\Flutter\FlutterSDK\flutter\.pub-cache\bin, which is not on your path.`
`You can fix that by adding that directory to your system's "Path" environment vari

[2020-07-30 00:43] leoafarias commented on #45
@NullByte08 can you try running 'flutter pub...' instead?

[2020-07-30 01:46] NullByte08 commented on #45
@leoafarias Please check my comment, I have tried with flutter pub...

[2020-07-30 01:55] leoafarias commented on #45
Seems like the path is not configured. See if this helps https://stackoverflow.com/questions/52794266/pub-global-activate-command-home-pub-cache-bin-not-on-path

[2020-08-09 08:09] venil7 opened #100 "[BUG] Can't load Kernel binary: Invalid kernel binary format version."
**Describe the bug**
I'm getting the following message when running fvm
[code]
**To Reproduce**
Steps to reproduce the behavior:
MacOs Catalina 10.15.5

[2020-08-09 08:59] Mohamedzu commented on #100
I resolved this issue by updating `fvm` using `flutter pub global activate fvm` in macOS 10.15.6

[2020-08-09 16:19] SaurabhSM opened #101 "Allow to change the default installation path"
Currently when I install any flutter version it installs flutter on default path. However, It would be great if FVM allows to set custom location as installation path.

[2020-08-09 23:41] leoafarias commented on #101
@SaurabhSM can you elaborate a bit more about what you mean? Fvm does allow to set a custom path where it will cache all the flutter versions.

[2020-08-10 02:50] LiangLuDev opened #102 "How to upgrade fvm version"
current version 1.1.4

[2020-08-10 08:59] SaurabhSM commented on #101
So currently, i have to add variable FVM_HOME to my environment variables. However, there are situations where i've to use organization's computer where i dont have permission to set environment variables to that system.

So if FVM has way to change the location of the installation directory from command line, that would be really helpful.

[2020-08-10 10:06] iptodays commented on #102
pub global activate fvm 1.1.5

[2020-08-10 11:23] leoafarias commented on #101
Interesting we had this feature before end I removed it because of the env var. Will look into this.

[2020-08-10 17:41] znjameswu commented on #100
I‘m on win10 x64 machine. And I have this bug too. `flutter pub global activate fvm` does not work for me

[2020-08-10 18:01] znjameswu opened #103 "[BUG] Space inside project path causes failure"
Dart SDK version: 2.9.0
fvm version: 1.1.5
Platform: win10 x64

I happen to have a space in my project path. And when I run 'fvm flutter`, it causes failure. Something like:
[code]

[2020-08-10 18:10] leoafarias commented on #103
@znjameswu I need a bit more information on this. It seems that FVM was not installed.
Did you install using `pub global activate fvm`?

[2020-08-10 18:11] #102 closed

[2020-08-10 18:17] leoafarias commented on #100
Please use 'pub global activate fvm' instead of flutter

[2020-08-10 18:24] znjameswu commented on #103
Oh yes, I just found out it was due to fvm not installed. The installation process seems to have some kind of issue (`fvm install stable` still returns `'C:\Users\FIRST_NAME' is not recognized as an internal or external command,
operable program or batch file.`). I manually installed using
[code]
copied from `fvm install stable --verbose` output. After the installation it was fine. Maybe I need mo

[2020-08-10 18:31] znjameswu commented on #103
FYI, the error output of `fvm install ***` just doesn't make sense to me for now. I'm not sure why would it pop such an error. I'll post it here anyway.

[code]

[2020-08-11 22:24] leoafarias commented on #103
I will take a look seems Windows specific.

[2020-08-12 06:52] kaboc commented on #100
I get the same message on Windows 10, and `pub global activate fvm` does not solve the issue.

[2020-08-12 09:33] leoafarias commented on #100
@kaboc @venil7 Can you provide a bit more detail at which point you are seeing this error, and also provide the logs with the `--verbose` flag so we can see the details

[2020-08-12 09:36] leoafarias commented on #100
Based on a bit of research I found the following issue. The suggestion of deactivating and activating the pub package seems to do the trick
https://github.com/dart-lang/protobuf/issues/359

I am not sure what could be causing this issue but could maybe it has to do with the pub install, from flutter and switching regular pub or vice versa.

[2020-08-12 09:38] leoafarias commented on #83
@kuhnroyal Please let me know if there is any further documentation we should provide in regards to the setup on IntelliJ

[2020-08-12 09:40] leoafarias commented on #96
@LeoK987 I believe going forward the default way to install fvm should be the `pub global activate fvm`. That would solve the issue of the pub-cache and fvm.

[2020-08-12 09:40] #96 closed

[2020-08-12 10:05] kuhnroyal commented on #83
@leoafarias Not from my side but I am not the one having problems :)

[2020-08-12 10:07] leoafarias commented on #83
@kuhnroyal understand, wanted to make sure there was not something missing on the docs from your point of view, thanks for helping @atreeon

[2020-08-12 10:07] #83 closed

[2020-08-12 10:22] kaboc commented on #100
@leoafarias
https://github.com/dart-lang/protobuf/issues/359#issuecomment-596946192

This reminded me of another Dart SDK I installed separately before, and of [this note](https://github.com/flutter/website/blob/e6d778e9a01d5c110837c942137b05a455c4f026/src/_includes/dart-tool.md) for Flutter 1.19.0 and newer regarding incompatible Dart SDK versions.  This is very likely to be the cause. I'll fix t

[2020-08-12 11:18] kaboc commented on #100
@leoafarias
Setting the path to the Dart SDK (`<Flutter path>/bin/cache/dart-sdk/bin`) resolved the issue!

FYI:
- I confirmed this only on Windows 10.
- Deactivating and activating the pub package did not work.

[2020-08-12 11:26] leoafarias commented on #100
@kaboc it seems the issue is related to setting fvm at some point using flutter pub. Instead of the standalone dart pub.

This would explain why your solution worked.

There is a bit of confusion of the 2 versions of pub.

Just to confirm what you tried to fix was using the standalone pub version without using flutter in front of it like 'flutter pub...'

[2020-08-12 11:26] atreeon commented on #83
Hi @leoafarias, I think sometimes IntelliJ gets confused and doesn't use the fvm version.  I could be useful to write something like 'check the dart sdk and flutter sdk paths have been updated by going to Preferences -> Languages & Frameworks -> Dart -> Dart SDK path'

Thank you

[2020-08-12 11:36] leoafarias commented on #103
@znjameswu I made an adjustment on how it calls the commands on windows. Could you try the latest version 1.1.7.

Not sure why this would happen since fvm uses the path package to ensure compatibility with different OSs

[2020-08-12 11:41] kaboc commented on #100
@leoafarias
My path settings were as follows:

[code]

I ran `pub global ...` (not `flutter pub global ...`) and the same error occurred as written in the OP.

I used the standalone Dart SDK to get dart2native, which was not contained in Dart inside Flutter before, although it now seems to be contained in the latest Flutter version.

[2020-08-13 16:17] znjameswu commented on #103
I tested installing other versions of Flutter. It seems fine now.

[2020-08-14 05:45] simonpham opened #105 "[Feature Request] Use different Flutter SDK versions per branch in a git repository"
This is good. But it is really helpful if you can add an ability to use different Flutter SDK versions per **branch** in a git repository.

I have been working on different branches with different flutter version and it's really inconvenient to switch between flutter versions every time after I checkout to another branch.

Thank you so much!

[2020-08-14 06:47] kuhnroyal commented on #105
This can easily be done, since you can commit the `.fvm/fvm_config.json` file to Git and just need to call `fvm use` on the new branch.

[2020-08-14 11:32] #105 closed

[2020-08-14 21:59] kuhnroyal opened #106 "[CRITICAL] Flutter releases_$platform.json format has changed"
The format of the https://storage.googleapis.com/flutter_infra/releases/releases_macos.json suddenly changed and now all CI builds fail. This is not a bug but it requires an update.

The JSON no longer has a `channels` map but `current_release` with the hash of the release.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run any command that parses version from the storage `fvm instal

[2020-08-14 22:46] leoafarias commented on #106
@kuhnroyal thanks for this I pushed the fix on master, and on pub version 1.1.8

[2020-08-14 22:52] leoafarias commented on #106
The payload did not change. I created a hashmap of the currentReleases to compare. However since hash repeats between channels only one entry is added to the hashmap.

Before FVM used git to get tags and determine if its a valid flutter version. Now it uses the releases payload. I will look into this further later to see how this can be optimized this is fixed.

[2020-08-14 22:52] #106 closed

[2020-08-14 23:11] leoafarias commented on #106
Did another small change version 1.1.9. Will have to write more tests for this piece of fvm. I am not really using this piece except to compare versions but it will be important on some items in the future.

[2020-08-15 10:50] kuhnroyal commented on #106
Thanks for the quick reaction!

[2020-08-15 14:05] jascodes commented on #73
@leoafarias Any work done on this? Just curious.

[2020-08-15 14:07] leoafarias commented on #73
Not yet

[2020-08-15 20:48] jascodes commented on #73
I might send a PR if you agree with the way I intend to do it.

- I will add new executable `flutter` and proxy based on `.fvm/fvm_config.json`.
- If not found `.fvm/fvm_config.json` proxy to global version.
- If global not found try to proxy flutter find in path.
- If not found in path as well throw error to install a version of flutter.

[2020-08-15 20:54] leoafarias commented on #73
@jascodes I would just proxy to the one found on config.
I am trying to minimize the coverage around all the conditional logic to use the version.
The flutter in path should already be the 'flutter' version of the command and the same applies to the global one.

[2020-08-15 21:04] jascodes commented on #73
Okay np, I will try to find sometime and send you PR for this.

[2020-08-15 21:13] jascodes commented on #73
So should I add flutter bin in pubsec or `flutter alias` should enable or disable the binary??

[2020-08-15 22:19] leoafarias commented on #73
Should just enable... keep in mind that the goal is just to attach to the terminal session equivalent of an export

[2020-08-16 09:04] jascodes commented on #73
@leoafarias I was planing to write flutter proxy in dart; so it would also work on windows. Do you want the proxy written in bash and bat?

[2020-08-16 09:24] jascodes commented on #73
@leoafarias Hey I was also looking what do you think about PR I sent. Plus whats plan with gui-support branch? Are we also refactoring how channels will be tracked?

[2020-08-16 10:01] leoafarias commented on #73
@jascodes we can discuss the PR, within the PR thread. Also the GUI support branch there. Right now the GUI support branch is more just of a clean up and code reorg.

[2020-08-16 10:08] jascodes commented on #73
@leoafarias You missed my previous question..

[2020-08-16 14:32] leoafarias commented on #73
@jascodes seems like there is no easy way to do this on windows. I was looking as just an export for the terminal session.

I think this might more complicated than initially expected in order to support windows

[2020-08-16 14:39] jascodes commented on #73
Look man, I just want to add dart binary 'flutter' via which I wanted to proxy. This should work on all platforms. If you insist on fvm alias to toggle, maybe we can rename the binary to fvm-flutter and when fvm alias is run rename it to just flutter. Something like that.

[2020-08-16 14:44] leoafarias commented on #73
@jascodes sorry but I don't understand. We currently allow to proxy the flutter bin.. through the 'fvm flutter...' and also we allow to set a version as global to link to the path.

The initial goal for the 'fvm alias' is just to allow the user to continue to use 'flutter' command within the terminal section.

Maybe I am missing something. Can you break down the use case for what you are thinking?

[2020-08-16 14:50] jascodes commented on #73
My earlier plan was simply doing this.
[code]
And move/copy fvm flutter logic to separate `flutter` binary which is not in path.

if you want to link and delink `flutter`, I was saying we can simulate via doing this.

[code]

Now when `fvm alias` is enabled rename `fvm-flutter` to `flutter` and on disable toggle it back.

You see what I was sayin.. ??

[2020-08-16 14:54] leoafarias commented on #73
Ok sounds good. The struggle with the project is to try to no touch flutter expected behavior and dev expectations.

Sure send a PR and I will review.

[2020-08-18 18:51] znjameswu commented on #103
I was able to reproduce this bug in a minimal reproducible settings. Seems like a `process_run` bug, but I'm not familiar.

### Demo
[code]

It will output
[code]

What is curious is that the logged git command is perfectly legal but there will always be an error starting with 'C:\Program'. So I suspect a bug in `process_run`. Maybe you can identify it.

[2020-08-19 17:41] znjameswu commented on #103
@leoafarias `process_run` has fixed the above issue in 0.10.12+2. Upgrading the dependency should fix this problem.

[2020-08-19 22:16] #103 closed

[2020-08-19 22:21] leoafarias commented on #103
Thanks @znjameswu I have deployed 1.2.2

[2020-08-20 12:10] leoafarias commented on #100
@kaboc could you update to the latest version and see if issue persists?

[2020-08-20 12:32] kuhnroyal commented on #100
I got this a couple times, not sure why but cleaning the -pub-cache usually helped.

[2020-08-20 13:12] kaboc commented on #100
@leoafarias
I reinstalled the standalone Dart SDK, set the path, and then activated FVM 1.1.5 to reproduce the issue, but the error message is not shown now. Probably I've failed to make my environment exactly the same as before for some reason...
I'm sorry for being unable to confirm the fix.

[2020-08-20 15:12] leoafarias commented on #103
@all-contributors please add znjameswu for bug

[2020-08-21 20:02] jascodes opened #116 "Linking issue with pub 1.9.0"
Hey @leoafarias
Can you quickly try this on your machine?
I am getting stuck and hanged when I do the following. CPU start burning my laps... 😂
[code]

[2020-08-22 09:02] PandaGeek1024 opened #117 "[BUG] fvm install does not download the complete sdk"
**Describe the bug**
fvm install doesn't set up evertying for me. I still have to run "fvm flutter run" to download the rest of the contents. btw, it would be nice to add the full steps in readme of how to setup the configures.

**To Reproduce**
Steps to reproduce the behavior:
1. run 'fvm use stable' in command
2. run 'fvm install' in command
3. change Android studio flutter sdk path to "/absolut

[2020-08-22 09:11] PandaGeek1024 opened #118 "fvm download master gets 0.0.0-unknown[BUG]"
**Describe the bug**
I have used 'fvm install master' to get the master channel but 'fvm flutter doctor -v' shows

Channel master, 0.0.0-unknown

pub can not sovle dependency with 0.0.0-unknown.

**Desktop (please complete the following information):**
 - OS:  Mac
 - FVM Version 0.8.2

[2020-08-22 10:27] #118 closed, assigned to nobody

[2020-08-25 10:11] DonnC opened #119 "Guide on proper setup on Windows"
i've just started trying out `fvm` i followed how to install fvm using the `pub global` command and i installed it properly but cant do `fvm install <version>` please what am i doing wrong
`..\Pub\Cache\bin`  is in my environment path
![image](https://user-images.githubusercontent.com/47761288/91161815-8ad22980-e6cb-11ea-8188-85c4a1f77ba9.png)
when i run that command, its just creating an empty fo

[2020-08-25 10:34] leoafarias commented on #119
It seems that this is related to #103 which was confirmed to be fixed. Could you please run the `install` command with the `--verbose` flag.

[2020-08-25 12:28] DonnC commented on #119
[code]

[2020-08-25 12:32] DonnC commented on #119
still encountering the same issue even when i try `fvm install 1.17.1` or any other version

[2020-08-25 12:37] leoafarias commented on #119
@DonnC will run a test on a windows VM to see if I can replicate.

[2020-08-25 12:38] DonnC commented on #119
And when i run `pub global activate fvm` again here are the dependecy list and versions
[code]

[2020-08-25 12:41] leoafarias commented on #116
@jascodes I was able to replicate this issue once on your PR only ... is that happening on master also?

[2020-08-25 12:55] jascodes commented on #116
@leoafarias As I remember it was but let me double check. Are you sure you didn't had old fvm linking with 2.8.x or before and now the issue is happening?

[2020-08-25 13:00] jascodes commented on #116
@jascodes Yea not working on master as well... I had to use 2.8.x and it works for me.

[2020-08-25 19:51] leoafarias commented on #116
ok I will go ahead and close here and we can open an issue on the dart repo

[2020-08-25 19:51] #116 closed

[2020-08-25 19:52] leoafarias commented on #117
@PandaGeek1024 I will go ahead and close this issue. That enhancement will be added as part of a GUI project that I am working on

[2020-08-25 19:52] #117 closed

[2020-08-26 03:11] rydmike commented on #119
Hi @DonnC another Flutter Windows user here. I had some issues installing fvm on Windows too, but got it running.

## Issues I ran into and how I solved them

#### 1. Old version of Dart SDK that is not supported by fvm installed interfered with the installation

I had an old version of Dart only SDK that was no longer supported by fvm in the path. The install tried using it before the newer one t

[2020-08-28 23:31] kentcb opened #123 "[BUG] 'pub' is not recognized as an internal or external command"
**Describe the bug**
First time I've tried `fvm`, but pretty sure this isn't supposed to happen:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `fvm install 1.22.0-1.0.pre`
2. `cd a_flutter_project`
3. `fvm use 1.22.0-1.0.pre`

**Expected behavior**
`fvm use` should work as advertised.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - FVM `1.2.3`

[2020-08-29 00:25] leoafarias commented on #123
@kentcb could you provide which version of dart you are running?

[2020-08-29 01:00] leoafarias commented on #119
@rydmike thanks for taking the time and putting this together. I will go through it and bring some of these items into the docs and see if there is anything to make the process easier on windows.

[2020-08-30 18:40] KevinTheGray opened #124 "[BUG] hot reload not working when using fvm"
**Describe the bug**
When I use fvm from the terminal, I am unable to hot reload or hot restart.

**To Reproduce**
Steps to reproduce the behavior:
1. Run fvm from the terminal like: `fvm flutter run --flavor development -d 9288B215-C389-4B17-B00A-8C9303B53F4D`
2. Press r to hot reload
3. The letter r shows up in the terminal

**Expected behavior**
Pressing r should do a hot reload

**Desktop (ple

[2020-08-30 19:36] leoafarias commented on #124
@KevinTheGray Once you you type `R` you can press enter to send the command. Will take a look how to improve this

[2020-08-30 19:55] KevinTheGray commented on #124
I see, that works!  This solution works for me so I'll close this issue out.  Thanks.

[2020-08-31 14:25] toshiossada commented on #123
same error

[code]

[2020-08-31 15:03] leoafarias commented on #123
@toshiossada Could you send me the logs when you sun with the `--verbose` flag?

[2020-08-31 16:27] toshiossada commented on #123
I solved runing as administrato

[2020-08-31 16:30] leoafarias commented on #123
@kentcb Could you confirm that running as an administrator solves it for you?

[2020-08-31 22:25] #73 closed

[2020-09-01 10:55] jonasfj commented on #116
This is 2.9.x related, unless I'm reading incorrectly:
[code]

[2020-09-01 10:59] jascodes commented on #116
@jonasfj Yes

[2020-09-01 15:47] orestesgaolin commented on #124
I also noticed that when running from the command line. It's not a big issue, but it would be amazing to have some solution. @leoafarias do you have some ideas how to handle this? Maybe the fvm should enter the some kind of "interactive" mode when detecting `run`?

[2020-09-02 02:43] tbm98 opened #126 "[BUG] fvm can't use after switch global"
**Describe the bug**
fvm crash after I switch to other version as global

**To Reproduce**
1. fvm use stable --global
2. fvm use beta --global
3. fvm ...  (fvm crash)

[2020-09-02 03:02] leoafarias commented on #126
@tbm98 I need some more info. Can you tell me fvm version, operating system and also run the command with the --verbose flag in the end, and add the output here?

[2020-09-02 08:06] tbm98 commented on #126
1. fvm sersion: 1.2.3
2. macOS 10.15.6
3.
<img width="652" alt="Screen Shot 2020-09-02 at 15 05 08" src="https://user-images.githubusercontent.com/52562340/91955649-b8534e80-ed2d-11ea-8024-592d52ec165e.png">

[code]

[2020-09-02 09:12] leoafarias commented on #126
@tbm98 will improve this error message.

One thing is the only time I have encountered this error message was when fvm was setup using 'flutter pub global activate fvm' instead of 'pub global activate fvm' was that the case?

[2020-09-02 09:19] tbm98 commented on #126
I have not setup dart sdk so i only can run with flutter

[2020-09-02 09:24] leoafarias commented on #126
@tbm98 that is most likely the issue. I will take a look to see if there is a workaround, but would suggest setting it up with `pub global activate fvm`

[2020-09-02 09:30] leoafarias commented on #126
@tbm98 https://dart.dev/get-dart

[2020-09-02 09:36] tbm98 commented on #126
Yep. I also think when i change flutter sdk, that broken fvm. I will try with dart sdk and feedback soon

[2020-09-02 09:44] leoafarias commented on #126
@tbm98 this can be a bit confusing, but when you switch Flutter you are actually switching tooling around fvm... is like using `fvm` to change the version of what runs `fvm` ;) I am going to be doing some exploration on that front to see if there are some improvements

[2020-09-02 09:46] leoafarias commented on #123
Will be closing this issue as part of a better documentation guide for running on windows on #119

[2020-09-02 09:46] #123 closed

[2020-09-02 09:48] tbm98 commented on #126
Worked well after use dart sdk instead. Thanks!

[2020-09-02 09:48] #126 closed

[2020-09-02 13:00] rydmike commented on #119
You are welcome @leoafarias
BTW I tried again using the default Windows command prompt to use fvm, does not seem to work at all.
However, the default built in Windows Powershell does work, so you do not have to upgrade to the newer Powershell 7 from Microsoft to use fvm, like I did, if you don't want to. Just use the built in powershell instead of the widows command prompt and it all works OK.

A

[2020-09-02 13:24] leoafarias commented on #119
@rydmike yes watched the video, and funny thing I actually asked him if I could exactly what you suggested.

I am working on better docs once I release the GUI app.

Regarding windows it has been a bit tough to troubleshoot as my windows vm is not the average windows environment.

[2020-09-03 09:41] tonydavidx opened #128 "fvm commands crash terminal window[BUG]"
when i run fvm help or any other fvm commands the terminal window closes automatically.

 - OS: [windows 10]
 - FVM Version [1.1.9]

[2020-09-03 11:30] leoafarias commented on #128
@tonydavidx can you update to the latest version and make sure you are running as administrator

[2020-09-03 12:57] tonydavidx commented on #128
new version also causes cmd to close, i tried running cmd as admin no changes

[2020-09-03 13:16] leoafarias commented on #128
@tonydavidx could you run the command that is crashing with `--verbose`, and provide the output. Is looking like I will have to install windows on an extra mac I have. The windows CI, passes the tests, and the VM, I cannot replicate some of these errors.

[2020-09-03 21:17] leoafarias commented on #128
@tonydavidx finally have a windows dev environment setup, and was not able to replicate the error. Will take a look further once I have the verbose.

Another question is if you are using the new powershell. I noticed that if you are you have to reinstall dart-sdk because of the paths.

[2020-09-04 06:03] tonydavidx commented on #128
@leoafarias  the issue is not occurring when using PowerShell. previously i was using windows command prompt.

thank you for you help.

[2020-09-04 08:19] pdivita commented on #128
It crashes in Android Studio terminal (it uses classic Windows terminal (cmd)) but doesn't crash using PowerShell.
Tested on Windows 10 Pro (1909)

[2020-09-04 11:11] leoafarias commented on #128
@pdivita can you provide some logs? '--verbose'. Also this seems the exact opposite of the other error.

[2020-09-04 11:37] pdivita commented on #128
I can't because terminal crashes and disappear

Scarica Outlook per Android<https://aka.ms/ghei36>

________________________________
From: Leo Farias <notifications@github.com>
Sent: Friday, September 4, 2020 1:11:46 PM
To: leoafarias/fvm <fvm@noreply.github.com>
Cc: Piero Di Vita <p.divita@therocks.it>; Mention <mention@noreply.github.com>
Subject: Re: [leoafarias/fvm] fvm commands crash terminal

[2020-09-07 11:18] zoechi opened #129 "[BUG] fvm flutter upgrade causes ProcessException: No such file or directory"
**Describe the bug**

⚠️  ProcessException: No such file or directory
  Command: /home/user/fvm/versions/bin/flutter upgrade

**Reproduction**

[code]

**Desktop (please complete the following information):**
 - OS: `Linux Dev 4.19.132-1.pvops.qubes.x86_64 #1 SMP Tue Jul 14 03:42:21 UTC 2020 x86_64 GNU/Linux`
 - FVM Version: `1.2.3`

[2020-09-07 14:37] leoafarias commented on #129
@zoechi Why are you doing a path export? Also can you give me the exact like that you are adding on that export, as the formatting seems confusing on here.

[2020-09-07 14:38] leoafarias commented on #128
@pdivita I have not been able to replicate this.

[2020-09-09 14:41] NiceboyWiseboy opened #130 "Can't Build & Run App through Android Studio"
Hello,

First of all, thanks for this great tool you have built.
I've successfully installed and configured fvm. The issue I'm facing is that I can't Build & Run App through Android Studio. But I can Build and Run App through Terminal. I followed the instructions for Android Studio given on official pub.dev documentation.

Thanks again,
Best Regards

[2020-09-09 20:04] leoafarias commented on #130
@NiceboyWiseboy do you have any logs or information that gets displayed?

[2020-09-10 06:40] NiceboyWiseboy commented on #130
Nope

[2020-09-10 06:49] NiceboyWiseboy commented on #130
But now I'm facing another issue. I can't add support for building on macOS in existing project using fvm installed SDK.
I've followed the steps as described. Also the macOS shows in the Debug Devices in Android Studio.

Here's the image for the same:

![image](https://user-images.githubusercontent.com/40816700/92690922-66c74700-f35f-11ea-99d1-fbf91d3d1482.png)

[2020-09-10 08:32] urusai88 commented on #128
Same problem. If i try to use fvm in android studio terminal, terminal instant getting closed.

[2020-09-10 09:12] leoafarias commented on #130
Did you run the confit on flutter side? If so can you see a macOS folder within the project? Not sure if this is an fvm issue..
Make sure you are running the dev channel

[2020-09-10 09:19] NiceboyWiseboy commented on #130
yes, I'm running the dev channel.

[2020-09-10 09:23] NiceboyWiseboy commented on #130
I guess there was issue with the default Flutter SDK. Android Studio was somehow connecting to the default Flutter SDK even if I removed the path from bash file and path to the Flutter SDK in Android Studio. Removed that completely, and now fvm is working fine.

Thanks for your help and providing this great tool.

[2020-09-10 10:09] leoafarias commented on #128
@urusai88 a few questions:
- Did you install fvm using `flutter pub..` or the suggested `pub` command?
- Where does the ENV var flutter points to?
- Does it crash when running any FVM command like `fvm version` or when running flutter through `fvm`?

[2020-09-10 10:17] leoafarias commented on #130
I think it needs an android studio restarts to make sure the changes are applied. I will go ahead and add this to the docs

[2020-09-10 10:17] #130 closed

[2020-09-10 10:27] pdivita commented on #128
- I've installed with the `pub global activate fvm` command
- flutter.bat is `c:\dev\flutter\bin\`
- It crashes whenever I run fvm (with or without parameters)

Tried also specifying the path directly `(C:\Users\p.divita\AppData\Roaming\Pub\Cache\bin\fvm.bat)`

- works on PS (get 1.2.3 version)
- crashes on cmd

For the record, I've also a fvm.bat on my main installation flutter directory (`C:\dev

[2020-09-10 10:30] leoafarias commented on #129
@zoechi I was only able to replicate this when fvm is not configured in the project. Can you check if the `.fvm` folder has been created within the project?

[2020-09-10 11:51] urusai88 commented on #128
Yes, fvm crash cmd with only "fvm" command. Not event need something more, like "fvm version".
In PowerShell "fvm" works well

[2020-09-10 12:20] leoafarias commented on #128
My guess it probably has something to do with pub itself which is what is responsible for the fvm path.
Can you try to run `pub cache repair`, close the terminal, and reopen and try again?

[2020-09-10 12:51] zoechi commented on #129
Thanks a lot for checking. Yes, the `.fvm` folder is created.

AFAIR think `fvm` told me that I should.

I also just found in the README.md

which is exactly what I'm doing (see initial post).

Does `--global` even make sense without `pub global activate`?
I'm confused.

[2020-09-10 12:54] pdivita commented on #128
It can't compile both devtools and fvm (strangely they are the only 2 packages I've in `C:\dev\flutter\.pub-cache\bin` as "duplicates" of the ones I've in `C:\Users\p.divita\AppData\Roaming\Pub\Cache\bin\`):

`Reactivating devtools 0.1.13...
Precompiling executables...
Failed to precompile devtools:devtools:
../../../AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/http_multi_server-2.1.0/lib/src

[2020-09-10 12:55] leoafarias commented on #129
You should not use the `flutter pub` the reason why, because it caches the pub dependency as part of the flutter cache directory. It is like you are now moving around the cache which fvm is in. By using the `pub` without Flutter it means that fvm is cached outside of it, and that that is the best practice for non Flutter projects.

`pub global activate` only allows you to use `fvm` globally within

[2020-09-10 14:02] devkarim commented on #119
For anyone experiencing issues like ```Can't load Kernel binary: Invalid kernel binary format version```, just use ```pub global run fvm:main``` instead of using ```fvm``` so like when you want to use an SDK version in your project, use ```pub global run fvm:main use <version>```

You shouldn't see this error anymore afterward. I was experiencing this error for like an hour yesterday and suddenly

[2020-09-10 14:38] zoechi commented on #129
I see. Yes, that makes sense.
It is not about `global activate`, it's about `flutter`.
I'm not doing that.

[2020-09-10 17:14] leoafarias commented on #129
@zoechi seems the issue based on your logs has to do with that path export you are doing. Is there a reason for that?

[2020-09-15 07:45] zoechi commented on #129
It seems I made a mistake when I created the original post

Now I get
[code]
This is the path I actually added.
I removed this and now it seems the error is gone.

[2020-09-15 12:54] leoafarias commented on #129
Great, I will be closing this. Let me know if you need anything else.

[2020-09-15 12:54] #129 closed

[2020-09-15 19:41] zoechi commented on #129
Why does fvm suggest to add this path if doing it breaks it?

[2020-09-15 23:30] leoafarias commented on #129
This sets a default redirect so you can use a global version. This does not break. However the example you provided seems different from the path. Also you should set that as a path variable and not just export on the terminal.

[2020-09-18 06:25] maks opened #135 "Desktop app on Linux"
Thanks for building the desktop app, its a very nice UI! I've also been using the cli for a little while now instead of manually managing symlinks and find it very helpful.

Doing a quick check I built and ran on Linux desktop (on master) without any issues.

Would be nice to add Linux desktop builds for future releases here on GH and update the Readme to mention that it works on Linux too.

[2020-09-18 10:36] tbm98 opened #136 "[BUG] fvm flutter does'nt work"
<img width="651" alt="Screen Shot 2020-09-18 at 17 33 27" src="https://user-images.githubusercontent.com/52562340/93588259-581f0680-f9d5-11ea-9e09-8920f62b3c8e.png">

macOS 15.6
fvm version: 1.2.3

[2020-09-18 10:37] leoafarias commented on #135
@maks thanks  for checking in on that. There is one behavior which it held me from checking on Linux which was a watcher on directory for changes.

When you make changes to versions outside of e app, like using the CLI or removing the directory.

I will check on that and update the documentation. Thanks

[2020-09-18 10:50] maks commented on #135
I think the main limitation with Linux compared with MacOS and Win is that it [doesn't support recursive dir watching](https://api.dart.dev/stable/1.10.1/dart-io/Directory/watch.html)

[2020-09-18 10:52] maks commented on #135
Actually apologies, you are already using the `watcher` package so I think that does support recursive even on linux.

[2020-09-18 12:25] vicenterusso commented on #136
You have to "use" first and you should run inside your project folder

[2020-09-18 12:47] tbm98 commented on #136
But I just want to upgrade flutter :/

[2020-09-18 12:53] tbm98 opened #137 "[BUG] fvm macOS app stuck at upgrading"
macOS 10.15.6
version app: newest
version fvm: 1.2.3
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/52562340/93599565-85c17b00-f9e8-11ea-988b-990a1e011a14.gif)

[2020-09-18 15:20] leoafarias commented on #137
Thanks @tbm98 will take a look.

[2020-09-18 15:23] leoafarias commented on #136
@tbm98 this seems to be related to https://github.com/leoafarias/fvm/issues/129

Can you provide the global path that you configured?

[2020-09-18 15:37] tbm98 commented on #136
the global path is
/Users/tbm98/fvm/default/bin/flutter

[2020-09-18 15:39] tbm98 commented on #136
in ~/fvm/versions don't have /bin folder

[2020-09-18 15:39] leoafarias commented on #136
Default is a symlink.. can you tell me which flutter version the /default/ folder points to?
On Sep 18, 2020, 9:37 AM -0600, tbm98 <notifications@github.com>, wrote:

[2020-09-18 15:41] leoafarias commented on #136
Versions should have the cached versions. If there is nothing there  it means no flutter version was installed through fvm
On Sep 18, 2020, 9:40 AM -0600, tbm98 <notifications@github.com>, wrote:

[2020-09-18 15:51] tbm98 commented on #136
it is tbm98/fvm/versions/beta

[2020-09-18 15:53] tbm98 commented on #136
Yes. I just use fvm to use global, never try install to flutter project before.

[2020-09-19 13:03] ludoo0d0a commented on #100
Finally solved by running twice (First run returned errors) :

[2020-09-19 16:43] leoafarias commented on #135
Just have to implement the linux build as part of the CI process

[2020-09-22 18:05] kholyphoenix1 opened #139 "Help - Create new Project Web"
Hello,
I added these paths to the Windows 10 path.
And I executed these commands, when you create a VSCode project it is created as Mobile.
Can anybody help me?

[code]

[code]

[2020-09-22 22:33] leoafarias commented on #139
@kholyphoenix1 I suggest reading the docs again. It seems you are mixing different commands between flutter and fvm and also adding multiple paths which I am not sure if it's needed.

You can sue fvm without adding it to the path by using how is documented.

Let me know what part is not clear and I can improve upon.

[2020-09-23 15:25] leoafarias commented on #137
@tbm98 fixed on the latest alpha.

[2020-09-23 15:25] #137 closed

[2020-09-23 15:55] tbm98 commented on #137
It worked ! :D

[2020-09-24 03:19] zoechi commented on #129
Uh, I missed your reply.

What does this mean

even after I updated the initial post?

I did that, but if I'm only reproducing in the same terminal window, `export` should be enough.

[2020-09-25 01:41] leoafarias commented on #136
@tbm98 please test the latest prerelease version https://pub.dev/packages/fvm/versions/1.3.0-dev.0
`pub global activate fvm 1.3.0-dev.0`

[2020-09-25 01:42] leoafarias commented on #128
If possible please test the following prerelease version and report any issues
https://pub.dev/packages/fvm/versions/1.3.0-dev.0
`pub global activate fvm 1.3.0-dev.0`

[2020-09-25 01:43] leoafarias commented on #119
please test the latest prerelease version https://pub.dev/packages/fvm/versions/1.3.0-dev.0
`pub global activate fvm 1.3.0-dev.0` and report any issues

[2020-09-25 01:44] leoafarias commented on #101
This has been updated on prerelease.  https://pub.dev/packages/fvm/versions/1.3.0-dev.0
`pub global activate fvm 1.3.0-dev.0`

[2020-09-25 01:44] #101 closed

[2020-09-25 01:45] leoafarias commented on #124
Version 1.3.0-dev-0 has these tweaks
`pub global activate fvm 1.3.0-dev.0` version still WIP

[2020-09-25 01:45] #124 closed

[2020-09-25 14:06] urusai88 commented on #128
Issue still exists

[2020-09-25 15:36] leoafarias commented on #128
@urusai88 I was able to replicate the issue I think. It happens when you do not have the dart-sdk installed at least for me. Could you do `pub --version`. If you install the dart-sdk I believe it should work fine.
https://dart.dev/get-dart#install

If that works for you, I will have to dig in. I am working on native compile for the CLI. Hopefully this takes care of this clunkyness on windows

[2020-09-25 16:03] leoafarias opened #142 "CLI: Windows Issues"
I am proactively looking into ways to better support Windows. But before opening up a Windows issue please be aware of some known behavior that can cause issues.

**Possible Errors**
- Invalid Kernel binary
- Crash when using `Command Prompt` not `Powershell`
- When running `fvm use <version>` you get the following: `Sorry could not link PATH` or `Could not save config changes`.

These issues cent

[2020-09-25 16:52] devkarim opened #143 "[BUG] "Internal Error: Could not run Flutter command" when using fvm flutter"
**Describe the bug**
Getting ```Internal Error: Could not run Flutter command``` as an error message whenever I try to use ```fvm flutter``` however it works totally fine, I just don't know why that error message pops up every time I use the command.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up PowerShell 7 or Windows PowerShell.
2. Try using ```fvm flutter```

**Expected behavior

[2020-09-25 17:01] leoafarias commented on #143
@devkarim thanks for reporting this. This happens when flutter returns an exception or exitCode is not 0. I will just return whatever error code flutter returns.

Regarding the upgrade I think this is what you are looking for https://github.com/leoafarias/fvm#upgrade-the-current-sdk-version

[2020-09-25 17:01] leoafarias commented on #128
closed in favor of #142

[2020-09-25 17:01] #128 closed

[2020-09-25 17:01] leoafarias commented on #119
closed in favor of #142

[2020-09-25 17:01] #119 closed

[2020-09-25 17:12] devkarim commented on #143
Glad to hear, it's harmless anyway as the command works as expected. Just wondered whether it breaks anything while having it around

And yes I saw that link that's why I asked, I just thought if I could upgrade a specific channel like ```fvm upgrade beta``` or something because now I think I have to use ```fvm use beta --global``` then ```fvm flutter upgrade``` am I right?

[2020-09-25 17:18] devkarim commented on #142
Just wanted to note out that when I used ```pub global run fvm:main use``` instead of ```fvm use``` it worked totally fine without facing issues like ```Can't load Kernel binary: Invalid kernel binary format version.```, could be useful for you.

[2020-09-25 18:07] leoafarias commented on #143
@devkarim  you don't have to use global depending on where you are at. If you want to open a new issue [enhancement]. I have the functionality completed because of the GUI. It allows you to upgrade, so I can hook in on the CLI also.

Also I updated a new version 1.3.0-dev.1. If you could test it out to see if it fixes this problem it would be great.

[2020-09-25 18:09] leoafarias commented on #136
I believe the release provides better information on what is going on. I will go ahead and close this issue. But please let me know if the issue persists and I will reopen it.

[2020-09-25 18:09] #136 closed

[2020-09-25 18:19] leoafarias commented on #142
@devkarim, thanks for that information. I am just not sure if it should be the correct behavior based on pub docs. There might be an issue with Pub itself, but I am glad there is a workaround.

[2020-09-25 19:36] devkarim commented on #143
Yes, this is exactly what I mean. That's why I wanted to give the GUI a shot.

The new version outputs a different error message:
[code]

[2020-09-26 01:19] tbm98 commented on #136
Thank you! It worked well :D

[2020-09-26 13:57] leoafarias commented on #143
Fixed on version `1.3.0-dev.2`

[2020-09-26 13:57] #143 closed

[2020-09-28 13:34] JHBitencourt commented on #100
I runned into this after updating my global Dart SDK from 2.8 to 2.9.3.

All I needed to do was updating fvm from 1.1.3 to 1.2.3 with

`pub global activate fvm`

As mentioned above.

[2020-10-01 16:21] vanlooverenkoen opened #151 "[Feature Request] Add support for multiple flutter project directories"
**Is your feature request related to a problem? Please describe.**
First of all, I want to say thanks for your amazing work!!!!

We are using fvm for all our projects. And we are also using your mac GUI tool.

For that we were thinking about another feature for the GUI tool.
I use our macbook at work and at home. To split up our work and personal projects in a separate directory. Right now we can

[2020-10-01 16:45] vanlooverenkoen opened #152 "[Feature Request] Add option to only show projects who have fvm enabled."
**Is your feature request related to a problem? Please describe.**
For some of our projects we have sub flutter packages. for these once we will use fvm of the root package.

**Describe the solution you'd like**
It would be nice to have an option in the GUI to hide the projects who did not enable fvm

[2020-10-02 05:34] waqasakram117 opened #153 "How to upgrade particular flutter e.g beta, master or stable"
How can I upgrade master or beta when my global has been set to the stable I can only upgrade stable through fvm flutter upgrade.

[2020-10-02 13:04] leoafarias commented on #152
Good suggestion. This should be an easy win.

[2020-10-02 13:08] leoafarias commented on #153
@waqasakram117 You would have to switch into the master or beta and run `fvm flutter upgrade`.

[2020-10-02 13:14] leoafarias commented on #151
@vanlooverenkoen Thanks for the suggestion. I have some questions.
- I assume those directories are also not nested under a directory that can be added, is that correct?
- With that do see the need to categorize the projects for those directories differently, for filtering?

[2020-10-02 13:14] waqasakram117 commented on #153
I don't want to use "use" command to switch between flutter versions I am in my main terminal not in the project. Is there any way how can I upgrade channel from the terminal when my global has been set to stable and I want to upgrade my master or beta chennel?

[2020-10-02 13:17] vanlooverenkoen commented on #151
In my case. My folder structure is like this:

~/Documents/work/*
~/Documents/personal-projects/
EXTERNAL_DRIVE/archive-projects/

I think it would be nice to have filtering and categories as well but I think that can be an extra feature on top of this one.

[2020-10-02 13:22] leoafarias commented on #153
To be honest this is a fairly simple request however this feature has been avoided on purpose. This is part of the decision to try not to mix flutter cli core functionality into fvm. Here are a few considerations:
- If you are trying to upgrade the channel I assume you will want to `use` it. What is the case for upgrading without needing to use it?
- You are currently able to do that with the GUI.

[2020-10-02 13:43] waqasakram117 commented on #153
I am closing this issue because to a satisfactory answer but please make a short article about how to install GUI though in its beta but It will help newbies.

[2020-10-02 13:43] #153 closed

[2020-10-02 14:15] leoafarias commented on #151
If you select Documents as the folder you should be able to get work, and personal projects. It might take a bit longer for the initial load, but after that the paths are cached.

For the external_drive this would not work.

[2020-10-02 14:16] vanlooverenkoen commented on #151
Alright. for now I am indeed using `Documents`

[2020-10-02 16:17] leoafarias commented on #151
@vanlooverenkoen I will leave this open and add it to the backlog. Will look over to see if there is an easy way to implement this that does not complicate the simple case.

[2020-10-02 16:45] jamesdixon opened #154 "[BUG] can't upgrade flutter"
**Before creating a bug report please make check the following**
- You have installed fvm using `pub global activate fvm` not `flutter pub...`
- If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions when using the `fvm use <versi

[2020-10-02 16:59] jamesdixon commented on #154
Also tried the pre-release version of `fvm` (`1.3.0-dev.4`) but no luck. Maybe my order of commands is off?

[2020-10-02 18:48] leoafarias commented on #154
@jamesdixon the upgrade is a functionality of the channel. You are currently installing and pinning a release itself.

You should run 'fvm install beta' for example or 'fvm install master' once you are in the channel you will be able to upgrade.

Once way is pinning the 'release channel' the other is the 'release' itself.

Let me know if that makes sense.

Thanks

[2020-10-03 09:27] vanlooverenkoen opened #155 "fvm stable does not upgrade automaticly"
We have a script that runs every pull request build.

[code]

But our flutter version stable. is not upgrading to 1.22 it stays on 1.20. How do I make sure the latest stable, beta, dev, master version is installed. For our pull requests, we can't use the GUI to update it manually. We are looking for a solution that does this automaticly. Any idea what I a doing wrong?

[2020-10-03 15:52] leoafarias commented on #155
Seems this is similar to #153

The command fvm upgrade does not exist. You should run fvm flutter upgrade while in the channel.

[2020-10-03 21:43] jamesdixon commented on #154
Hi Leo,

Thanks! That worked as suggested. My apologies if I've wasted your time.

Thanks again for the great project 👍

Best

[2020-10-03 21:43] #154 closed

[2020-10-03 22:22] leoafarias commented on #154
No worries, thanks for the well descriptive issue.

[2020-10-05 03:10] gaozm0509 opened #157 "How to remove fvm?[Feature Request]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-05 11:54] leoafarias commented on #157
If you used pub to install. ‘pub global deactivate fvm’.
https://dart.dev/tools/pub/cmd/pub-global#deactivating-a-package

[2020-10-06 12:37] itsJoKr opened #158 "[Feature Request] Search projects"
**Is your feature request related to a problem? Please describe.**
I have a lot of projects and inside the projects tab, it becomes really hard to navigate.

**Describe the solution you'd like**
Search option. Extra would be if I can just start typing right away since that's how VsCode/Studio usually work.

[2020-10-07 12:32] leoafarias commented on #158
@itsJoKr The search functionality does allow you to search projects as described.

[2020-10-07 12:34] bgmf commented on #135
You could count me in as on of your first happy Linux users. Beside @maks obviously. :wink:

[2020-10-07 14:09] itsJoKr commented on #158
👍

[2020-10-07 14:09] #158 closed

[2020-10-08 00:02] #157 closed

[2020-10-08 00:03] leoafarias commented on #155
@vanlooverenkoen i will to ahead and close this issue. Let me know if something still not clear.

[2020-10-08 00:03] #155 closed

[2020-10-08 15:20] ened opened #160 "[BUG] CI unable to resolve flutter command after successful fvm install"
**Before creating a bug report please make check the following**

**Describe the bug**

fvm works in interactive shell but fails to find `flutter` command internally when running on CI

**To Reproduce**
Steps to reproduce the behavior:
1. Start a CI job on Gitlab and include the following

[code]

2. This fails on the CI with this error:

[code]

**Expected behavior**
Should behave like in interac

[2020-10-08 17:24] mx1up opened #161 "[BUG] RangeError (index): Invalid value: Valid value range is empty: 0 when installing pinned version"
**Describe the bug**
running fvm install without arguments throws an error and fails

**To Reproduce**
Steps to reproduce the behavior:
1. pin version in .fvm/fvm_config.json
2. fvm install

**Expected behavior**
install version if not installed yet

**Logs**
output:
RangeError (index): Invalid value: Valid value range is empty: 0

**Desktop (please complete the following information):**
 - OS: li

[2020-10-08 18:17] mx1up commented on #160
I can confirm this problem on windows and linux.
It has to do with the logging changes (stdin.echoMode and stdin.lineMode). Personally, I would simply always show the output, that way you see what's going on..

[2020-10-08 18:21] leoafarias commented on #160
@mx1up are you using version 1.3.0 correct?

[2020-10-08 18:22] #161 closed

[2020-10-09 08:12] mx1up commented on #160
yes, sorry, i mixed input/output up somehow :)

[2020-10-09 08:17] itsJoKr commented on #100
Getting the same error with `pub`. Happens on my CI machine.

I tried `pub cache repair` but that failed with:

[code]

[2020-10-09 12:46] leoafarias commented on #100
@itsJoKr A few things.
- Have you tried running `pub cache repair` I had a similar issue with another package after I updated the `dart-sdk`.
- The flutter version command is `flutter --version`.
- What version of FVM are you using?
- The flutter SDK version described is installed, can you confirm?

[2020-10-09 16:15] leoafarias commented on #160
@mx1up I was not able to replicate this issue on the platforms specified. Could you give a bit more detail about the problem and when you see it?

[2020-10-10 14:45] Clean-Cole commented on #161
@mx1up @leoafarias I can see this commit is in 1.3.0 tag, but I'm still getting the value range error after taking the update.  Is there anything else we need to do to get the fix?

[2020-10-10 16:10] mx1up commented on #160
hi Leo, I'm running the install command on a version pinned in the json, the version is already installed (don't know if this is relevant). I will test more elaborately next week. the OP specifies the version on the command line, which seems to exhibit the same behavior.

[2020-10-10 16:15] mx1up commented on #161
@Clean-Cole I think @leoafarias **re**released 1.3.0 so that might explain the problem if you already installed 1.3.0 before. I suggest reinstalling or maybe repairing pub cache: `pub cache repair`

[2020-10-10 16:19] leoafarias commented on #161
Sorry the versions tagged are incorrect. I have fixed it, will release version 1.3.1 with the fix soon

[2020-10-12 02:20] qcdys opened #164 "[BUG]After setting FVM_HOME, the GUI download path remains unchanged"
Did I do something wrong?

[2020-10-12 15:58] leoafarias commented on #164
@qcdys The GUI does not respect the env vars. Not sure why. However, it should respect the cache-path
https://github.com/leoafarias/fvm#set-cache-path

Please let me know if that works.

[2020-10-12 21:56] Clean-Cole commented on #160
I was able to reproduce this on Catalina in our CI.  I'm pretty sure I'm using the same CI shell executor system as @ened.

- macOS Catalina 10.15.7 (19H2)
- GitLab Runner 13.4.1
- FVM v1.3.1

Only thing of note is that I have gone ahead and taken in the change to `zsh` from `bash` (gitlab runner still uses bash) but I am able to run all the `fvm` commands successfully in an interactive shell with

[2020-10-12 22:00] leoafarias commented on #160
@Clean-Cole can you run 'fvm flutter --version' in the interactive shell and add the log here?

[2020-10-12 22:54] Clean-Cole commented on #160
Here you go @leoafarias this is straight from the CI machine.

[code]

For what it's worth if I add the constructor back into the `ConsoleController` class everything seems to play nice again.  There isn't any other place in the code that seems to set that `isCli` in the master branch except for its initial value in the constants file.

[code]

[2020-10-13 01:19] nex3 opened #165 "cli_pkg breaking changes incoming"
Hey folks! I noticed you're using `cli_pkg`, so I wanted to give you a heads-up about a breaking change coming in https://github.com/google/dart_cli_pkg/pull/57. We're changing the configuration variables from plain Dart properties to instances of a new `ConfigVariable` class, which allows users to set variable values as callbacks so that expensive and fallible operations like parsing files don't

[2020-10-13 01:20] qcdys commented on #164
I tried set Cache-Path, but it didn't work. I wanted the GUI to customize the download path, which is important for OCD. Thank you, brother.

[2020-10-13 12:44] leoafarias commented on #164
@qcdys ok, I will go ahead and add this to the backlog for the next version of the GUI.

[2020-10-13 13:08] leoafarias commented on #165
@nex3 Thank you for taking the time to do this!

[2020-10-13 13:13] leoafarias commented on #160
@Clean-Cole This is changed in the runner.
https://github.com/leoafarias/fvm/blob/master/packages/cli/lib/src/runner.dart#L22

I will take a deeper look to understand this problem. Also will release a -dev version for better logging so we can see what is happening

[2020-10-13 14:46] leoafarias commented on #160
@Clean-Cole I deployed version 1.3.2, and added some better tracing to see more info on that setup error

[2020-10-13 15:45] Clean-Cole commented on #160
Nice, now we have a thread to pull on.  Cursory searches for the error bring up a lot of different CLI tools over the years having similar-ish issues.  One stuck out [here](https://github.com/pyinvoke/invoke/issues/425#issuecomment-297502679)

tldr; from that guy is, maybe not calculating the whether the proc is atty or not before the a headless process begins might change the behavior?  I have fu

[2020-10-13 16:20] mx1up commented on #160
Hi ,

I have not had time yet to investigate in detail, so apologies if my remark is irrelevant, but I found the following. I created the following small script:
[code]
and executed it in my CI environment (teamcity). This is the output:
`StdioType: pipe`

When I execute the script from a terminal, it says
`StdioType: terminal`
When I run the fvm install command from an ssh shell on the CI server,

[2020-10-13 17:47] leoafarias commented on #160
Great info guys. This Dart API seems to be very sensitive... there is an issue that it causes errors even based on the order you call the properties, which seems less than ideal.

I created a dev version to test the fix, let me know if this works. Checking if there is a terminal attached also before calling it.

`pub global activate fvm 1.3.3-dev.0`

[2020-10-13 18:12] Clean-Cole commented on #160
it works 🎉  but also the plot thickens a bit? 🤔

So.. on the CI machine We make it past the `fvm install` command no problem. The very next command is running flutter tests. `fvm flutter test` which it fails.  Now the failure it self is actually not an fvm issue.  Someone broke our pubspec somewhere else. On our main pipeline box I have fvm pinned to v1.2.3 and I can see an error being returned in

[2020-10-13 18:23] leoafarias commented on #160
That's an easy fix I am using the terminal logic to determine stdout now, I will just go back to how it was before.

Will open an issue with the dart team in regards to the sdin API also.

[2020-10-13 19:12] leoafarias commented on #139
@kholyphoenix1 I will go ahead and close this. Let me know if I can help you any further

[2020-10-13 19:12] #139 closed

[2020-10-13 19:35] nex3 commented on #165
The PR has landed and the tag has been pushed. Please let me know when you've updated so I can release it on pub.

[2020-10-13 19:40] leoafarias commented on #160
@Clean-Cole  `pub global activate fvm 1.3.3-dev.1`

[2020-10-13 23:24] nex3 commented on #165
Okay, *now* you should be good to go.

[2020-10-14 00:06] leoafarias commented on #164
@qcdys Was just going to work on this but I think I know what is the problem. You have to close the app and open it again after changing cache-path through the CLI.

[2020-10-14 08:41] mx1up commented on #160
I tested 1.3.3-dev.1 on linux CI and terminal. it works! :partying_face:

[2020-10-14 11:04] ened commented on #160
I can confirm it as well. Thank you everyone for seeing this through. Really appreciate.

[2020-10-14 11:04] #160 closed

[2020-10-15 13:33] leoafarias opened #169 "[BUG] Flutter command does not exit when run through Fastlane"
When running `fvm flutter ....` command does not exit when running through a fastlane lane.

[code]

[2020-10-15 15:02] #169 closed

[2020-10-15 15:47] mx1up commented on #169
thanks, v1.3.4 also fixes running fvm from git bash on windows (before it hung at the end of execution)

[2020-10-16 09:39] kuhnroyal commented on #169
Works on my machine now with fastlane, thanks. Still gotta try the SSH session on CI.

[2020-10-18 12:56] vanlooverenkoen opened #171 "[Feature Request] Add support for showing the release notes of a new flutter version"
**Is your feature request related to a problem? Please describe.**
Right now we can't see the changelog in th fvm GUI.

**Describe the solution you'd like**
- show the changelog in the GUI
- open the github page with the latest release so changes can be reviewed in browser as well

[2020-10-18 16:05] vanlooverenkoen opened #172 "Fastlane stopped running when fvm was outdated"
I just have been figuring out why fastlane would "hang" and stop doing anything at random times.

Turns out it had something to do with fvm being outdated.

I had 1.3.3
After updating to 1.3.4 the issue was resolved. (Mac)
Do you have any idea what the reason for this could be?

[2020-10-18 16:13] leoafarias commented on #172
Here is the issue that was closed https://github.com/leoafarias/fvm/issues/169. It had to do with the sharedStdin not being called in a conditional.

[2020-10-18 16:17] #172 closed

[2020-10-18 17:11] kuhnroyal commented on #169
This also solved the SSH problems on my CI server. 👍

[2020-10-21 17:01] mx1up opened #173 "[BUG] fvm install no longer creates symlink"
**Describe the bug**
when running `fvm install` with a `.fvm/fvm_config.json` available, it used to "use" the specified version automatically. It does not seem to do that anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. `.fvm/fvm_config.json` with contents = `{"flutterSdkVersion":"beta"}`
2. Run `fvm install`

**Expected behavior**
flutter_sdk symlink should be created

**Logs**
[cod

[2020-10-22 13:48] #152 closed

[2020-10-22 14:29] leoafarias commented on #173
`pub global activate fvm 1.3.5-dev` has this fix.

[2020-10-22 14:33] #173 closed

[2020-10-23 07:33] kw2019ltd opened #176 "can you create exe installtion"
hi, can you publish the app as exe for windows

[2020-10-23 12:44] leoafarias commented on #176
@kw2019ltd I am testing a chocolatey distribution
`choco install fvm --version=1.3.4`

[2020-10-24 01:39] #164 closed

[2020-10-24 12:40] ened opened #177 "[Feature Request] Should recreate .fvm/flutter_sdk automatically"
**Is your feature request related to a problem? Please describe.**

We will use `fvm` in our team, so the absolute link to the flutter sdk within `.fvm` is a problem:

[code]

The `flutter_sdk` link is correct, but only on my own machine. It will be different for other developers.

**Describe the solution you'd like**

1. fvm should inform the user to add `.fvm/flutter_sdk` to `.gitignore`.
2. fvm

[2020-10-24 12:46] ened opened #178 "[Feature Request] fvm's own messages should output to stderr"
**Is your feature request related to a problem? Please describe.**

A example of release scripts we are running is doing this:

[code]

This now results in a output of:

[code]

The first line contains FVM's _own_ output.

**Describe the solution you'd like**

1. `fvm`'s own output should by default go to stderr
OR
1. `fvm` should support a new option `-q` which turns of any output, unless it's a

[2020-10-24 13:06] leoafarias commented on #177
@ened You should not version the symlink when working as a team. Once the team members use the project they can run 'fvm install' this will create the link correctly within their machine.

[2020-10-24 13:07] leoafarias commented on #177
Also make sure you are on the latest fvm version because there is was a bug on this command for the symlink on a previous one

[2020-10-24 14:27] ened commented on #177
@leoafarias thank you for answering - so essentially only item 1 remains, `fvm` should inform users upon first usage.

I will extend our project readme with a section on `fvm install`. :)

[2020-10-27 23:25] s0nerik commented on #151
Want to point out that at the moment `fvm` is hard to use for modular Flutter projects.

For example, even in a quite simple case (with not that many modules) like the one below, calling `fvm flutter --version` inside `mad_soaps` and `client_app` would result in different versions being printed since none of the sub-projects have their own `.fvm` directory. The first one will print a proper projec

[2020-10-27 23:38] leoafarias opened #180 "Want to point out that at the moment `fvm` is hard to use for modular Flutter projects."
Want to point out that at the moment `fvm` is hard to use for modular Flutter projects.

For example, even in a quite simple case (with not that many modules) like the one below, calling `fvm flutter --version` inside the project root and `client_app` would result in different versions being printed since none of the sub-projects have their own `.fvm` directory. The first one will print a proper p

[2020-10-28 08:22] vanlooverenkoen commented on #177
as @leoafarias already said you don't want to commit symlinks because they contain info of you personal development machine. When a new dev start with a project that uses fvm he needs to install the fvm version. and use that specific fvm version. For that we wrote a dart tool that does all these things for us.

[code]

[2020-10-28 13:18] leoafarias commented on #177
@vanlooverenkoen The `fvm install` now does the following:
- Grabs fvm config version
- Checks if the version is installed if not install it
- Create symlink

Based on what I am seeing the only thing it does not do is run the upgrade...
Let me know if this works for you

[code]

[2020-10-28 13:28] #180 closed

[2020-10-28 13:32] #165 closed

[2020-10-28 13:45] leoafarias commented on #178
@ened Could you send me a sample of that `flutter-version.json` file to see what you are trying to do?

[2020-10-28 13:47] leoafarias commented on #178
I think I understand it though. Moving the `FVM: Running version ...` to another log level

[2020-10-28 22:08] s0nerik commented on #180
Thanks a lot! Works like a charm!

[2020-10-29 14:09] leoafarias commented on #177
Updated readme with instructions to add .gitignore

[2020-10-29 14:30] leoafarias commented on #178
Fixed on version 1.3.6

[2020-10-29 14:30] #178 closed

[2020-11-02 20:13] ThinkDigitalSoftware opened #183 "Doc Clarification on setting a global version"
The docs say

** Do not activate fvm using flutter pub global activate** if you plan on using the --global flag.
But the only instructions we have for installing this is:
## Usage

1. [Install Dart](https://www.dartlang.org/install).
2. Activate Fvm:

[code]

The warning command includes the word "flutter" in i , but I'm not sure if this is a typo or that if we run just `pub global activate` and w

[2020-11-02 21:15] leoafarias commented on #183
@ThinkDigitalSoftware I updated the doc to make it a bit clearer. You should not use the `pub` version that comes with flutter to install fvm.

The reason for that is that you will be switching the Flutter SDK and that will impact the pub cache.

**Doc updated**
Do not activate fvm using `flutter pub global activate` if you plan on using the --global flag. Only activate fvm using `pub global activ

[2020-11-02 23:01] ThinkDigitalSoftware commented on #183
Thanks. Now where do we find fvm's dart installation so I can add it to the path?

[2020-11-02 23:02] leoafarias commented on #183
@ThinkDigitalSoftware you have to install dart as per the instructions.

https://dart.dev/get-dart

After that everything is the same.

[2020-11-02 23:03] ThinkDigitalSoftware commented on #183
Oh, OK. I'll just point to the old installation that was installed along-side flutter. Will that work?

[2020-11-02 23:16] leoafarias commented on #183
Not sure I understand. It's important that flutter pub is not used to install fvm... since fvm will be used to change the flutter version.

1. Install dart sdk
2. Pub global activate fvm

And you should be ready to go.

[2020-11-02 23:27] ThinkDigitalSoftware commented on #183
The issue is that I came from a regular flutter installation to fvm, so I'm trying to avoid having to delete the existing installation. Currently, the dart from my old flutter installation is the one used when calling `dart` with no parameters. When I update Flutter using fvm, will FVM attempt to update the  dart version as well if there is an update that comes with it?

[2020-11-03 10:22] leoafarias commented on #183
If you use fvm to change the main version when you call `flutter` on the terminal, most likely this will cause conflicts. That is why I suggest installing the standalone dart version.
With fvm you can use `flutter` as global but you can just use per project. The issue with using `flutter pub` as the way to install fvm , is that you have almost a cyclic conflict where you have flutter being used to

[2020-11-08 20:57] awhitford opened #184 "[Doc] Clarify install procedure for Flutter users"
As a Flutter developer, I already have Flutter installed -- and Dart is installed and managed by the Flutter install.  (When I `flutter upgrade`, Dart is upgraded.)

I am a little confused about how to install `fvm` because the instructions seem to start with installing `dart` first, then installing `fvm`.  However, the `dart` version changes depending on the `flutter` version, so how do all of th

[2020-11-09 14:31] leoafarias commented on #184
@awhitford Based on your PR, are things clearer now? I am working on a brew native compiled install to avoid some of these issues.

[2020-11-09 14:37] leoafarias commented on #184
I will close this issue as it seems to be a copy of #183

[2020-11-09 14:37] #184 closed

[2020-11-09 14:42] itsJoKr commented on #100
Repairing both flutter pub and pub cache fixed it.

[2020-11-09 17:51] awhitford commented on #184
I was able to get `fvm` installed, and I did _uninstall_ `flutter` first.
I then set the `stable` as the `--global` version.
So far, so good.

However, I raised this issue to improve the documentation to help others in the future.

And I imagine that the Dart I installed to install FVM won't get upgraded, while the embedded Dart's under each Flutter versions will.

[2020-11-09 18:01] leoafarias commented on #184
You can continue to update the dart sdk. One thing to keep in mind is that the dart sem is actually ahead of Flutter sdk...

Hopefully the native binary solves this problem.

[2020-11-11 01:59] FDJethroLising opened #186 "Change SDK install paths"
Is there a way to change where the SDKs are downloaded to?

[2020-11-11 02:05] leoafarias commented on #186
https://github.com/leoafarias/fvm#change-fvm-cache-directory

[2020-11-11 02:11] #186 closed

[2020-11-12 11:02] Tiska opened #187 "[BUG] Create dmg for mac os"
Hi, first thanks for your tool cli, it's an amazing tool with features flutter cli should have.

I tried to build the mac os GUI, i got this error :

execution error: Finder got an error: Can’t set item "fvm.app" of disk "FVM Installer" to {260, 250}. (-10006)
Failed running AppleScript
"disk2" ejected.

Do you know what it could be ?

[2020-11-12 12:27] leoafarias commented on #187
@Tiska are you using the standard build command?

The installer script is just to build a nice looking app installer you don't need it to build the Mac.

[2020-11-12 12:39] Tiska commented on #187
Ok I did not tried the standard command, I guess it's something like flutter build macos?

[2020-11-12 13:22] leoafarias commented on #187
Correct, you can find more info in the docs here
https://flutter.dev/desktop#build-a-release-app

[2020-11-12 14:43] Tiska commented on #187
which flutter version du you use ? i tried with 1.24.0-7.0.pre from dev but I can't resolve the pubspec wit h that version

[2020-11-15 11:07] leoafarias commented on #187
@Tiska Master was not building because of a conflict. Which I just resolved.
However, the version is tagged here.
https://github.com/leoafarias/fvm/tree/App-1.0.0-alpha.1

[2020-11-15 13:07] #187 closed

[2020-11-22 21:27] maks opened #188 "[BUG] fvm version 1.3.6 broken"
steps to reproduce:
* run fvm, get told:
[code]
* run `flutter pub global activate fvm` as per instructions
* fvm successfully updated:
[code]
* try running `fvm list`:
[code]

[code]

[2020-11-23 14:11] leoafarias commented on #188
@maks Could you provide me the versions that are installed and would be returning on the list?

[2020-11-23 21:35] maks commented on #188
Sure thing. I originally had (working prior to version update):
[code]

And I suspected that it was `dev-real` causing the problem, but even after I changed to:
[code]

I still get the same error.

[2020-11-23 21:52] leoafarias commented on #188
@maks The issue is that FVM is looking for channels or valid version numbers. There is a lot of validation in regards to these things. The error is that devreal is not a properly formatted version, since its not a channel, it falls under a version.

I could fix this but think there could be changes to support custom versions which might be a bit more work.

Can you tell me a bit about your specifi

[2020-11-23 22:04] maks commented on #188
Thanks for looking into this so quickly @leoafarias !
My use case is that currently I'm working on a project that needs to use a SDK "pinned" at a specific git commit rather than a channel or release tag. I'm aware that's not a good practice, I just am not in a position to change that at the moment.

So because fvm also didn't support having a specific commit, I used the workaround of using dev ch

[2020-11-23 22:57] leoafarias commented on #188
Hmmm that could be done. I would have to think about it. For now I would suggest opening that flutter sdk, there should be a “version” file in its root. I would open it and use  that version as the directory name if there is one.

If not I would just create a custom one like 2.0.0+custom

[2020-11-23 23:01] maks commented on #188
Ah brillant, thanks @leoafarias ! I didn't realise that something like `2.0.0+custom` would parse ok with fvm, with `+` being the key thing. So that solves my immediate problem, so happy to close this.

[2020-11-23 23:01] #188 closed

[2020-11-25 09:27] itsJoKr opened #190 "[Feature Request] Predefined Flutter steps in CI"
I had this issue: I'm using Bitrise, which has set of predefined flutter steps (test, analyze, build...) and it's very neat to use them. Problem is that you cannot add `fvm` prefix to them, they are using flutter (hardcoded).

Now, I've solved it this way. Before the actual workflow I do these steps:

1) Install FVM (Stable flutter is already installed on CI machine)
2) Read flutter fvm version `F

[2020-11-25 15:50] leoafarias commented on #190
@itsJoKr Would something like `alias flutter=fvm flutter` work?

[2020-11-26 14:59] itsJoKr commented on #190
Tested it, unfortunately it doesn't work. Bitrise is a bit weird here as it resets a lot of stuff between steps.

It even resets path, and I had to use their program `envman` to accomplish what I've described above. Folks from Bitrise agreed that this is right way to change path.

Anyway, my plan is to make this step public so it will appear in "step marketplace" and it's easier to share within pr

[2020-11-26 14:59] #190 closed

[2020-11-26 15:08] leoafarias commented on #190
Sounds good. Let me know if you need help, would love to have a well supported step for Bitrise.

[2020-11-26 17:58] DevNico opened #191 "Add support for proxying a command to a specific flutter version"
It would be really helpful sometimes to just run a specific flutter version in a directory that happens to be neither the directory nor the global flutter version. A basic implementation of this feature that would satisfy at least my needs would be proxies to all flutter release channels e.g:
`fvm flutters` = stable
`fvm flutterd` = dev
`fvm flutterb` = beta
`fvm flutterm` = master

[2020-11-26 18:41] NestorDevs commented on #183
My experience with fvm has been a bit tedious and it would guide me to receive advice ... I use linux ... and I had a regular flutter installation according to the documentation ... then I deleted that installation ... I installed dart standalone then fvm ... my doubt here it is: do i still need to install flutter sdk apart from fvm? I say it because the flutter commands do not work for me .. and

[2020-11-26 18:50] leoafarias commented on #183
@NestorDevs thanks for the feedback. The way I personally use is with the Flutter sdk installed and that becomes my global default version.

Then I use fvm for project specific.

I plan on releasing the brew version soon and that will make things much simpler.

[2020-11-26 18:52] NestorDevs commented on #183
you mean i need flutter sdk for fvm to work?

[2020-11-26 19:25] leoafarias commented on #183
You do not. I understand your problem after chatting. Let me know any other suggestions to improve the docs.

[2020-12-01 11:17] Alijaaan commented on #100
In my case, I forgot to delete the previous flutter path from Environment Variables.

[2020-12-02 15:48] NestorDevs commented on #183
Closed

[2020-12-07 15:11] OrlandoEduardo101 opened #192 "[BUG] POP_OS Clone error"
**Describe the bug**
Internal Error: Could not install

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/37966182/101367626-1b9cd180-3885-11eb-8c01-b2cbc8fa2c36.png)

I didn't find any report of this error on the internet, does anyone know what it could be? I already gave "pub cache repair", reinstalled Dart and FVM sev

[2020-12-07 19:35] leoafarias commented on #192
@OrlandoEduardo101what version of FVM are you using? I believe the last version should give a better output for this error.

[2020-12-07 20:01] OrlandoEduardo101 commented on #192
i'm use 1.3.6

[2020-12-09 12:27] eingress opened #193 "."
.

[2020-12-09 16:13] leoafarias commented on #192
@OrlandoEduardo101 could you try to do a git clone if that flutter branch in that directory using the git command in your terminal?

[2020-12-09 16:15] leoafarias commented on #193
@eingress I think there is some confusion on the instructions you actually have to pass your path into the command. <CACHE_PATH> is just a placeholder

[2020-12-09 16:22] eingress commented on #193
Clearly I replaced the placeholder!!!

[2020-12-09 16:26] leoafarias commented on #193
Mentioning that FVM_HOME works after saying you expected to be set to CACHE_PATH is confusing

[2020-12-09 16:38] eingress commented on #193
You've literally assumed someone is stupid enough not to replace the placeholder; apparently you're also easily confused.

Way to go.

Please ignore this erroneous issue with your package.

[2020-12-09 18:14] OrlandoEduardo101 commented on #192
he starts cloning, stops nowhere and doesn't clone.

![image](https://user-images.githubusercontent.com/37966182/101669826-2c8a4600-3a31-11eb-86d2-beadf28cedb6.png)

[2020-12-09 20:32] leoafarias commented on #193
You seem pleasant.

It seems like you are having a bad day, or is going through some personal issues so I will let this slide, but I do recommend you drop the attitude when trying to get people to help you on an open-source project.

I do get a lot of issues that are caused by simple user mistakes. There are a lot of new devs, and junior devs getting involved in Flutter, so these are more common t

[2020-12-09 20:47] leoafarias commented on #192
Can you do a --verbose?

[2020-12-09 21:21] OrlandoEduardo101 commented on #192
yes, i already did it with verbose (-v) in the image.

[2020-12-09 21:24] leoafarias commented on #192
@OrlandoEduardo101 seems this is not related to FVM. I found this link here which might give a clue
https://bbs.archlinux.org/viewtopic.php?id=225649

[2020-12-09 21:30] OrlandoEduardo101 commented on #192
Okay, thanks, look at the link and search for more.
I will close the issue.

[2020-12-09 21:30] #192 closed

[2020-12-10 15:46] eingress commented on #193
.

[2020-12-10 15:46] #193 closed

[2020-12-10 18:40] leoafarias commented on #193
Just tested and could not replicate your issue. Let me know if there is any other information you would like to share.

[2020-12-12 13:09] hassanasif0423 commented on #100
@leoafarias Hi Sir,
I will face this error in running the app Can't load Kernel binary: Invalid kernel binary format version.
if anyone resolved this issue kindly help me.

[2020-12-12 14:29] leoafarias commented on #100
@hassanasif0423 Did you try some of the things mentioned in this thread?

[2020-12-15 03:46] Byhuang1998 commented on #119
So is there an official solution? I have tried all the methods above but still cannot work.

[2020-12-15 03:52] Byhuang1998 commented on #100
it doesn't seem to work in windows 10

[2020-12-15 08:41] bytes-stack opened #194 "[Feature Request] Add support for selecting global fvm flutter version mode."
**Feature description.**
I'm dealing with several projects at the same time. Sometimes, I need to test them in different flutter SDK versions which thanks to your amazing work.  However, sometimes I need to use the same flutter SDK version to run the projects.  So is that possible to add a feature that could help set all the projects to use the same flutter SDK version, like `fvm global 1.17.1`. T

[2020-12-15 15:19] leoafarias commented on #119
@Byhuang1998 The other thread gives some suggestions on how to troubleshoot, not sure if there is a particular open issue on Windows. If the steps in #142 do not solve, please open up a new issue and I will check it out.

[2020-12-15 15:22] leoafarias commented on #194
@bytes-stack https://github.com/leoafarias/fvm#install-a-sdk-version on this there is a section called `set global version` let me know if that is what you are trying to do.

[2020-12-16 02:12] bytes-stack commented on #194
Thanks for your quick response and solution. But I still have some questions after I tried the method.
1. I set the global mode and added the environment variable then I used `fvm list`, everything is OK. I found the version I set for global mode had the identifier `(global)`. It's pretty good! However, I noticed that I still used the SDK version which I set in the command `fvm use <version>` when

[2020-12-17 21:24] orestesgaolin opened #195 "[BUG] Long switching time on macOS"
**Describe the bug**
When calling `fvm use stable` or `fvm use any-other-version` it takes several long seconds (10+) to finish switching

![CleanShot 2020-12-17 at 22 23 17](https://user-images.githubusercontent.com/16854239/102545440-8a183580-40b6-11eb-8dd9-6d5e1a5a9198.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to terminal..
2. Run `fvm use stable`...
3. Wait 10+ seconds
4. V

[2020-12-18 09:36] Greendogo commented on #119
Before opening an issue, because I saw the GUI version advertised in several locations for Windows, I was assuming it was released in one of the last releases.  However, from my Windows fvm installation (1.3.4, I think), I'm having a hard time judging this to be true.

[2020-12-18 11:32] leoafarias commented on #195
Not sure why this started happening but the runner seems to not exit right away anymore. Will release a fix later today.

[2020-12-18 14:26] #195 closed

[2020-12-18 15:25] leoafarias commented on #119
@Greendogo The GUI is not part of the CLI. You can find it here. https://github.com/leoafarias/fvm/releases/tag/App-1.0.0-alpha.1

[2020-12-18 22:49] Greendogo commented on #119
Oh, thanks; it wasn't clear to me that it wasn't being included in the recent builds from the available ReadMe.  Do you think you could rebase this on something closer to Master?  No pressure if that's a pain :)

[2020-12-18 22:57] leoafarias commented on #119
I don't use windows daily so it's more if not being part of the workflow.

I will try to do a release over the weekend.

In the meantime if you clone the rep. The App package you can run a build at any time. Just make sure you are on the dev channel

[2020-12-19 22:33] isanimu opened #197 "[Feature Request] Proxy command for Dart"
**Is your feature request related to a problem? Please describe.**
As of Flutter 1.21, the Flutter SDK includes the full Dart SDK. FVM doesn't have proxy command for Dart yet.

**Describe the solution you'd like**
Need to be able call Dart CLI when using FVM.
[code]

**Describe alternatives you've considered**
None

**Additional context**
If Dart isn't available from the SDK, then show error messa

[2020-12-21 09:02] bytes-stack opened #198 "[BUG] fvm use <version> --global mode doesn't work."
**Describe the bug**
It seems that `global mode` doesn't work. I use `fvm` in windows git bash.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `fvm.bat use 1.24.0-10.2.pre`
2. Run `fvm.bat use 1.17.1 --global`
3. Run `fvm.bat flutter run`
4. The project still runs in 1.17.1, not my global SDK version

![image](https://user-images.githubusercontent.com/76029935/102757986-08bded00-43ad-11

[2020-12-21 20:31] Greendogo opened #199 "[Feature Request] General Build Instructions for Windows, Linux, Etc."
**Is your feature request related to a problem? Please describe.**
I'd like to build fvm for my environment using a simple set of instructions.

**Describe the solution you'd like**
Following the instructions produces a properly built binary of fvm for deployment on an endpoint.

[2020-12-21 20:39] leoafarias commented on #198
Did you set the global env car path also?

[2020-12-21 21:02] Greendogo commented on #199
In case this isn't clear; adding these steps, or links to them, to the ReadMe, would be a good idea

[2020-12-22 00:46] bytes-stack commented on #198
Yes, I add `C:\Users\username\fvm\default\bin` to PATH

[2020-12-22 03:04] mengxy936 opened #200 "Set Global Version doesn't work[BUG]"
**Describe the bug**
PS C:\Users\ke'j'f'l'da'j'h'l'f'\AndroidStudioProjects\state_app> fvm list
Versions path:  C:\Users\ke'j'f'l'da'j'h'l'f'\fvm\versions
1.17.1
1.24.0-10.2.pre ✔
v1.12.10 (global)
v1.9.1+hotfix.6

PS C:\Users\ke'j'f'l'da'j'h'l'f'\AndroidStudioProjects\state_app> fvm flutter --version
Flutter 1.24.0-10.2.pre • channel unknown • unknown source
Framework • revision 022b333a08 (5 wee

[2020-12-22 20:18] leoafarias commented on #200
Duplicate of #198

[2020-12-22 20:18] #200 closed

[2020-12-22 20:20] leoafarias commented on #198
@bytes-stack One more question for clarification. FVM will prioritize the version configured within the project over the global version. Could you just make sure that `.fvm` folder is removed from the project when you ran the test?

[2020-12-23 00:11] Greendogo commented on #199
Is this information available anywhere right now?  Is this a standard Flutter/Dart practice?

[2020-12-23 02:28] leoafarias commented on #199
@Greendogo I will create better instructions. For the GUI you just have to run normal flutter build commands.

For the CLI you can use https://dart.dev/tools/pub/cmd/pub-global#activating-a-package-on-your-local-machine to point to the local path after you clone and do a pub get

[2020-12-24 01:51] sgr-ksmt opened #201 "[a bit BUG] About VSCode setting for dynamic switching of flutter SDK version"
**Is your feature request related to a problem? Please describe.**
I tried to configure the IDE setting for VSCode to switch the flutter SDK version dynamically according to [README](https://github.com/leoafarias/fvm#you-can-also-add-the-version-symlink-for-dynamic-switch) like that.

[code]

However, It didn't work well.
After all, I had to click on the flutter version displayed in the bottom rig

[2020-12-30 14:57] Albert221 opened #202 "[Enhancement] No colors or formatting when using fvm flutter proxy"
**Describe the bug**

When running commands through fvm (like `flutter test` or `flutter analyze`) it cuts off the formatting like color and caret manipulation what makes the output much harder to read than without fvm.

This is especially annoying when I have big output or many tests and I can't see what tests failed because it's already way beyond my terminal scroll buffer.

![fvm-error](https:/

[2021-01-04 05:42] mehcode opened #203 "[Feature Request] Add a command to get the version of flutter being used"
**Is your feature request related to a problem? Please describe.**

`fvm flutter --version` takes ~5 seconds to run on my Mac. However `fvm --verbose flutter --version` prints the flutter version within 0.06s.

**Describe the solution you'd like**

A command like `fvm version flutter` that would print _just_ the version for flutter.

I want to add support for fvm in a module for https://starship.r

[2021-01-04 15:49] leoafarias commented on #203
@mehcode I was not able to replicate this. There was a similar issue that was fixed on 1.3.7 but it was in regards to the `use` command, causing a delay when exiting.

Could you provide any further information?

[2021-01-04 17:18] mehcode commented on #203
On. Sorry for not being clear. On my iMac, _any_ flutter command (proxied through fvm or not) takes several seconds to show any output.

There are a few issues in the flutter repo about this.

Good news is fvm runs instantly. So I was hoping for a workaround to use in the shell prompt that is quick.

[2021-01-04 17:45] leoafarias commented on #202
@Albert221 Thanks, this is something that is actually on my backlog, however, I did not find an option to pass the formatting even though the standard stdout. I will do a bit more research on this.

[2021-01-06 02:00] mengxy936 opened #204 "[BUG]"
**Describe the bug**
fvm use command doesn't work

**Logs**
PS D:\app_merchant\app_merchant> fvm use 1.17.5
Project now uses Flutter: 1.17.5
Unhandled exception:
Exception: Sorry could not link C:\Users\ke'j'f'l'da'j'h'l'f'\fvm\versions\1.17.5
#0      createLink (package:fvm/utils/helpers.dart:43:5)
#1      updateFlutterSdkBinLink (package:fvm/utils/project_config.dart:29:3)
#2      setAsProjectVe

[2021-01-06 02:17] leoafarias commented on #204
@mengxy936 are you running with admin privileges or in developer mode? Please check the readme about windows troubleshooting

[2021-01-06 03:37] #204 closed

[2021-01-08 09:37] Albert221 commented on #202
Do you think it can be due to this line? I'm just guessing though. I may debug this sometime in the future if it's not this

https://github.com/leoafarias/fvm/blob/master/packages/cli/lib/src/flutter_tools/flutter_tools.dart#L46

[2021-01-08 14:18] leoafarias commented on #202
I don't think so. This line is to solve the issue of having to press R and ENTER to reload Flutter for example. This is needed to have the same behavior as the Flutter CLI. Also, this piece is important because the order in which you change the properties actually causes issues.

[2021-01-12 23:20] muhammed-amein commented on #176
I don't know why but I couldn't found it

[2021-01-14 20:07] andreadelfante opened #205 "[Feature Request] Docker image for CI/CD"
**Is your feature request related to a problem? Please describe.**
Many CI/CDs use docker to run pipelines.

**Describe the solution you'd like**
It'd be nice to have a ready-to-use docker image to use in a CI/CD environment, to install a specific version of Flutter and to execute some unit/integration tests, using **fvm**.

[2021-01-14 20:41] kuhnroyal commented on #205
Good point, I am currently trying to move some CI step from the Mac server to a linux server and started building an image. There are a couple images out there in the Docker registry to start with.

[2021-01-15 12:34] andreadelfante commented on #205
I can create a new PR to set up an initial Dockerfile with the latest fvm version.
This would be a great starting point to standardize CI with flutter and fvm!

[2021-01-15 14:33] leoafarias commented on #205
Not sure 100% of the use case, I believe it seems to be a custom CI setup, but would not mind reviewing a PR if you guys think its valuable.

[2021-01-18 11:03] kuhnroyal opened #207 "[Feature Request] Automatic linking"
**Is your feature request related to a problem? Please describe.**
I am still running into cases of the wrong SDK being used when switching between branches in my projects that use different Flutter SDK versions. I have the config file committed to VCS and switching a branch also changes the config file.

**Describe the solution you'd like**
I would expect that after a checkout of a different conf

[2021-01-21 08:01] jsroest opened #208 "[BUG] "pub global activate fvm" does not upgrade to 1.3.7, but installs 1.3.6"
When I run  fvm use 1.22.5, I get the notice to upgrade to 1.3.7:
[code]
Then I run: pub global activate fvm
[code]
I did run 'pub cache repair', but that did not solve it.
I also tried to deactivate fvm and activate it again.

For now I'm stuck on 1.3.6

Edit: My colleague running Win10 has exactly the same issue

[2021-01-23 10:30] haibowen opened #209 "Error: no flutter version matched 1.22.0"
When I execute the installation command, the following error is prompted

fvm install 1.22.0

Error: no flutter version matched 1.22.0 !!

OS: Mac OS bigSu 11.1
fvm version :1.1.5

[2021-01-23 15:16] leoafarias commented on #209
Can you update to latest version of fvm and try again?

[2021-01-24 10:06] haibowen commented on #209
thanks  thanks

[2021-01-24 10:06] #209 closed

[2021-01-24 15:22] nank1ro opened #210 "The app doesn't build on macOS"
**Describe the bug**
The current version of fvm doesn't build on macOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. run `flutter run` on macOS

**Expected behavior**
The app should run on macOS

**Desktop (please complete the following information):**
 - OS: macOS 11.1 Big Sur (intel)
 - FVM Version 1.3.7

**Additional context**
The file_chooser repo doesn't contains an

[2021-01-24 21:22] itsJoKr opened #212 "[BUG] Windows 10 desktop cannot install"
First I tried to install the desktop version. When running the dart.exe file it will immediately exit. I tried to run it with a command prompt or PowerShell and that would return
`Unable to find DartDev snapshot.`.

FVM CLI is installed and working.

Pretty fresh Windows 10
Poweshell 5.1.19041.610
Installed Git, Dart, Flutter
AMD Ryzen 5

[2021-01-27 05:38] tank777 opened #213 "[BUG] RPC fail"
[code]
Is there any way that we can pass the git depth command?
Reference  : [https://stackoverflow.com/a/62079208/11714501](https://stackoverflow.com/a/62079208/11714501)

[2021-01-30 21:14] cabustos commented on #208
equal to me

[2021-01-31 04:33] ben-xx commented on #142
Just leaving some additional information in case it's useful.

I also see the error:
`Can't load Kernel binary: Invalid SDK hash.`
using any fvm command, even though the command works fine.

And I double checked that I activated using:
`pub global activate fvm` and not `flutter pub global activate fvm`.
And that I run my Powershell as Administrator.  (I did not activate Developer Mode for Windows.

[2021-02-06 12:08] jans-y commented on #212
Just add ref of the commit to the file_chooser dependency inside `pubspec.yaml`
[code]

[2021-02-06 12:09] jans-y commented on #210
Meanwhile, until the new fixed version is released:
Just add ref of the commit to the file_chooser dependency inside `pubspec.yaml`
[code]

[2021-02-08 02:24] GiovanniSM20 commented on #213
This probably happened because as described in the StackOverflow problem you are trying to clone a rather large repository. I tried to repeat your problem and it only happens on slower connections running: ```fvm install master```. Have you tried running ```fvm install stable``` ?

[2021-02-08 03:53] tank777 commented on #213
@GiovanniSM20  Yes you are right, It only happens on slower connections. I am able to install both versions after a proper connection.

[2021-02-08 11:47] leoafarias commented on #213
We are not able to set the depth on fvm for issues referenced on the PR. This causes issues with flutter tooling.

https://github.com/flutter/flutter/issues/32684

[2021-02-08 22:49] sarahec opened #217 "[BUG] fvm 1.3.7 fails on Dart 2.12 w/ "pub: command not found""
The `dart` tool has been subsuming other tools -- in 2.10, `stagehand` became `dart create`, and `pub` could be run as `dart pub`. In 2.12, `pub` now has to be called as `dart pub` (e.g. `dart pub get`),  and `pub run` has been shortened to `dart run` (with a warning for the `dart pub run` form.)

Unfortunately, this breaks fvm's use of the `pub` command

**To Reproduce**
Install Flutter beta (dar

[2021-02-09 04:07] #213 closed

[2021-02-10 00:50] #210 closed

[2021-02-10 00:54] leoafarias commented on #217
@sarahec Thanks for the bug report. I just followed the instructions installing the dart beta channel which is on 2.12.0-259.9.beta, and I was not able to replicate this error.

[2021-02-10 01:00] leoafarias commented on #207
@kuhnroyal sorry for the delay, catching up on these issues.
- You switched the config to an sdk version that is not installed
- when you ran `fvm flutter` it ran on a different flutter

The step above is the test workflow?

[2021-02-10 01:01] leoafarias commented on #197
@isanimu can you describe the use case for this, some of the dart commands already are proxied through flutter like `flutter pub`

[2021-02-10 01:05] leoafarias commented on #208
@jsroest this is weird. I just ran a test on my windows 10 machine and I could not replicate the error. Could you provide the dart version which you are running?

[2021-02-10 01:06] leoafarias commented on #212
This has been fixed by #211

[2021-02-10 01:06] #212 closed

[2021-02-10 02:55] stoneshower opened #219 "[BUG] flutter --version does not match with fvm list"
I would like to confirm which flutter version I am using, as the title says there's a gap of output between the commands.

When I ran `flutter --version`, it shows

[code]

but when I ran `fvm list` it shows

[code]

As for 1.20.3 which shows by `flutter --version`, I used `flutter version 1.20.3` command not fvm.

[2021-02-10 03:05] leoafarias commented on #219
@stoneshower did you run the flutter version change from within an fvm version? That will not cause it to urdiste the directory name.

There is a "version" file within that flutter version directory. Let me know what that version number is

[2021-02-10 03:35] stoneshower commented on #219
@leoafarias
Thanks for your response.

I ran `flutter version` before using fvm. I just started to use fvm and installed 1.26.0* with fvm use command.

In the file of .fvm > flutter_sdk > version, it has `1.26.0-17.3.pre`.

[2021-02-10 04:52] isanimu commented on #197
@leoafarias I didn't know that. OK, close this. Thanks.

[2021-02-10 04:52] #197 closed

[2021-02-10 11:11] kuhnroyal commented on #207
No worries, just tested this again.
* I have 2 branches, one uses stable channel and one uses beta.
* Both Flutter versions are already installed.

After switching between the branches the correct SDK is used when run via `fvm flutter ...` but the linked SDK in `.fvm/flutter_sdk` remains the previous version unless I manually run `fvm install`. When I forget to run `fvm install` it leads to all ki

[2021-02-10 13:04] leoafarias commented on #207
Hmmm yes it makes sense... I will trigger a check and ask if you want to to install to avoid a needless download

[2021-02-10 14:41] jsroest commented on #208
@leoafarias
dart --version gives:
Dart SDK version: 2.9.3 (stable) (Tue Sep 8 11:21:00 2020 +0200) on "macos_x64"
which dart gives:
/usr/local/bin/dart

If it helps you, we could setup a teams/slack call. Then I can give you access to my system so you can do some tests.
By the way, thanks for FVM, it's awesome.

[2021-02-10 19:08] sarahec commented on #217
I was using the dart from flutter beta (2.12.0-133.7-beta) which is earlier
than yours. Retesting with 2.12.0-259.8-beta resolves the issue.

Let's go ahead and mark this as closed, can't reproduce.

On Tue, Feb 9, 2021 at 4:54 PM Leo Farias <notifications@github.com> wrote:

--
Sarah Clark | Exec. Producer, IDR@GDS | sarahclark@google.com | M:
+1.408.605.2653

[2021-02-10 19:09] sarahec commented on #217
Updating the flutter beta (and thus dart) resolves this.

[2021-02-10 19:09] #217 closed

[2021-02-12 01:54] stoneshower commented on #219
However, when I ran `flutter doctor`, it shows different version from fvm version.
[code]

[2021-02-12 20:28] leoafarias commented on #219
I think I understand the problem. The `flutter` command will run the flutter version you have configured in your environment, or `global` version. While the `fvm flutter` will look for a version configured on your project or a parent directory

[2021-02-12 22:25] stoneshower commented on #219
I see. I'm wondering which version is actually used in this case? global one or fvm one?

[2021-02-13 21:39] dipakbari4 commented on #128
Yeah, It's not crashing in PowerShell

[2021-02-16 18:13] yurianxdev opened #221 "fvm folder in the user directory is annoying"
Wouldn't be better to use a folder like `~/.fvm` instead of `fvm`, for me is really annoying having that folder unhidden

[2021-02-16 18:15] leoafarias commented on #221
This was done by design so the user is aware of fvm, and that there could be versions installed in that directory. Follows the same as default flutter documentation suggest for flutter itself so this is just duplicated

[2021-02-16 18:19] yurianxdev commented on #221
But you can export the flutter bin wherever you want. With the dart-tool this is difficult

[2021-02-16 18:39] kuhnroyal commented on #221
Isn't `FVM_HOME` env variable meant to configure that?

[2021-02-16 19:01] yurianxdev commented on #221
I've just tested it. It worked fine, thanks!

[2021-02-16 19:01] #221 closed

[2021-02-18 13:30] #205 closed

[2021-02-18 14:29] #207 closed

[2021-02-18 18:07] samandmoore opened #223 "[Feature Request] pre-built binaries for installation"
hiya!

thanks so much for this project. it's been really useful to me and my teammates.

**Is your feature request related to a problem? Please describe.**
Sorta.

Using `fvm` to install flutter versions is great, _but_ the fact that installing `fvm` requires dart to be installed is quite painful for automating setup scripts to run for a team of developers. Often a developer will end up in a spot

[2021-02-18 20:09] leoafarias commented on #223
@samandmoore this is actually complete, there are just some dependencies on the CI front to automate the deployment process.

[2021-02-18 22:40] samandmoore commented on #223
@leoafarias that's awesome to hear! thanks for doing that. looking forward to it

[2021-02-19 20:18] aquilarafa commented on #219
Same here.
Inside a project configured for `1.24.0-10.2.pre` when I run `fvm list` gives me this:
[code]
Any `flutter ...` command runs using the global one.
But if i use `fvm flutter ...` it runs using the project version.

The only way I found for running `flutter` without `fvm` inside a project is to not set any global version using fvm but install separately.

[2021-02-20 10:57] panchalAlpit opened #224 "How can I change the specific version of channel by fvm"
I want to switch the beta version 1.20.2. so I did install the version(1.20.2). but when I see the flutter details so the channel is unknown. So I want to know the this is an issue or it will work perfectly. because after this I don't know which channel(beta, stable) is used.

Thanks

![Screenshot 2021-02-20 at 4 16 31 PM](https://user-images.githubusercontent.com/48007084/108593189-5bf5f100-7398-

[2021-02-20 18:21] samandmoore commented on #223
@leoafarias is there anything that I can do to help? I stumbled upon the associated [homebrew repo](https://github.com/leoafarias/homebrew-fvm) but noticed that it doesn't currently work because the intended download url is incorrect (it has a "v" prefix on the version which doesn't match).

i see there's some stuff setup to use grinder + pkg_cli to update the homebrew formula, but it looks like t

[2021-02-21 04:26] tazik561 opened #225 "Vscode not shown fvm sdk installed"
I installed FVM on windows 10. After installing specific version of flutter sdk :
[code]
On vs code I added :
`"dart.flutterSdkPaths": [".fvm/flutter_sdk"],`

inside **setting.json**. I run` fvm use stable` in my flutter project and **.fvm folder** created inside project. But When I want to select specific **sdk(stable)** by **vscode** an run ` Dart:Change SDK` , none of fvm sdk not showing in the

[2021-02-24 08:23] jsroest commented on #208
I'm happy to inform you that I did find the problem/solution.

I uninstalled dart 2.9.3 and then installed the latest version, 2.10.5:
[code]

Then tried again to update fvm:
`pub global activate fvm`

It updated fine to 1.3.7.

This was on macOS, but I assume updating dart will also solve this on Win10 as the error was identical.

If you agree, this issue can be closed.

[2021-02-24 18:55] leoafarias commented on #208
That is great to hear @jsroest thanks for following up on this.

[2021-02-24 18:55] #208 closed

[2021-02-25 09:23] lsalehar commented on #225
I have followed the official docs on how to set up Visual Studio Code to use fvm however, I can't seem to get it working. I only have fvm installed and no standalone flutter versions

Output `fvm list`
[code]

[2021-02-26 13:05] rydmike opened #227 "[BUG] fvm runs commands twice on [Windows]"
## fvm command on Windows runs twice

On Windows when I run **fvm** it has for quite a while been running the given command twice:

Like so:
[code]

**Environment:**
 - OS: Windows10
 - Shell: PowerShell 7.1.2
 - FVM: 1.3.7

**Additional context**
Sorry, not sure with which version of fvm it started happening, but I think I have seen it at least for 2 months. Just never got around to reporting it.

[2021-02-26 23:23] Tokenizer94 commented on #227
I have the same issue.

[2021-02-27 16:39] rydmike commented on #227
@Tokenizer94 Thanks for sharing that, feels good to know I'm not seeing double! 😃

[2021-02-28 05:43] mwawrusch commented on #157
Adding to this, I did the above but flutter is still linked to
/Users/.../fvm/default/bin/flutter

[2021-03-01 09:21] osaxma opened #228 "[BUG] FVM App in MacOS does not show an option to upgrade master when new version exists"
At the time of taking this screenshot, the latest flutter master was `1.27.0-9.0.pre.129`. Unlike other channels, the master channel does not show an option to upgrade as shown in the screenshot.

<img width="805" alt="Screen Shot 2021-03-01 at 12 14 45 PM" src="https://user-images.githubusercontent.com/46427323/109476470-03a1ac00-7a88-11eb-9d50-c18a15e79efa.png">

FVM App version 1.0.0.1 (1.0.0.1

[2021-03-01 15:00] leoafarias commented on #227
I am not sure what is happening here. I was not able to replicate with the latest stable version of the dart sdk. I have been having lots of different issues with the beta version.

Could you guys confirm which version of the Dart sdk is being used?

[2021-03-01 15:16] rydmike commented on #227
Happens for me with Dart SDK **2.10.5** on channel stable, ask version, get answer twice:

[code]

and also channel dev with Dart SDK **2.13.0**
Switching:

[code]

Twice as usual and then check version:

[code]

It happens with both VS-Code and IntelliJ, using Microsoft **PowerShell 7.1.2** in both.

[2021-03-01 15:42] leoafarias commented on #227
The `fvm version` command does a standard print. Very weird that its showing up twice. I will try to dig in a bit more later, I have been trying on my windows VM as I am away from my windows machine for the next few days.

[2021-03-01 15:49] leoafarias commented on #228
@osaxma I am going to label this actually an enhancement. Because the upgrade for master works a bit differently, and I don't think I am able to show the version to upgrade to, however, I might be able to show that there is an upgrade to be done.

[2021-03-04 14:22] tbm98 opened #229 "how to upgrade a special version/channel"
how to upgrade a special version/channel in anywhere ?

[2021-03-04 14:23] msarkrish commented on #176
@kw2019ltd @muhammed-amein check this [link](https://chocolatey.org/packages/fvm)

[2021-03-04 14:35] msarkrish commented on #176
Thanks for the Awesome fvm tool. @leoafarias now flutter desktop for windows also stable, can you make the .exe file and upload it fvm.app website or put the download link in Github readme.

[2021-03-04 14:39] Bazni opened #230 "[BUG] "build macos" is not currently supported."
**Describe the bug**
A clear and concise description of what the bug is.
Hi,

I try to run the fvm gui on Macos, I downloaded the fvm source and tried to run a "flutter build macos and I get the error "build macos" is not currently supported".

I got the same problem with the 1.3.7 release.

Is there a way to get the gui mac os ?

**To Reproduce**
Steps to reproduce the behavior:
1. Download fvm s

[2021-03-04 16:10] nik-v-hax opened #231 "[BUG]"
when running `pub global activate fvm` this came out

[code]
when running `pub cache repair` this came out

[code]

[2021-03-04 23:39] Ascenio opened #232 "[BUG] Can't pass args through flutter pub"
**Describe the bug**
Can't check if a project has dependencies to migrate to null-safety through fvm.
[code]

**To Reproduce**
1. Open a project workspace
2. Run `fvm use stable`
3. Run `fvm flutter upgrade` (such that you get to 1.22)
3. Run `fvm pub outdated --mode=null-safety`
4. See error

**Expected behavior**
I expected to see something like this:
![](https://dart.dev/null-safety/pub-outdate

[2021-03-05 09:39] ofury commented on #227
I`m having the same issue with Dart SDK version: 2.12.0:
[code]

[2021-03-05 10:37] iqfareez commented on #227
Same goes with me, maybe after I upgrade Dart to `2.12.x`

[2021-03-05 11:14] Tokenizer94 commented on #227
Still no fix? It's so annoying.

[2021-03-05 12:12] kuhnroyal commented on #227
This an open source project, you are welcome to investigate and fix. So annoying.

[2021-03-05 16:57] ValeriusGC opened #233 "Internal Error: Could not install <stable>"
Hello!
I installed `dart`, then activated `fvm`.
`fvm releases` works well.
But `fvm install stable` raises error mentioned above.
--
Ubuntu 20.04 LTS
---
![Screenshot from 2021-03-05 21-59-11](https://user-images.githubusercontent.com/3320861/110148014-1f95ac80-7dfe-11eb-8dda-a8f3816bd886.png)

[2021-03-05 17:20] ValeriusGC commented on #233
Heh, works via install `flutter` and then `flutter pub global activate fvm` ))

[2021-03-07 11:39] cezaryjk commented on #227
Hi,
First of all, I would like to thank you for a useful tool.

I think I found a culprit.
This inconvenience is caused by a redundant call for command in FVM.BAT
Attached please find my suggested corrections (mark as CK)

Thank you
Best regards
Cezary
[fvm.bat.txt](https://github.com/leoafarias/fvm/files/6097019/fvm.bat.txt)

[2021-03-08 09:26] Bazni commented on #230
For those who are wondering how to get the GUI without building from project sources just go here: https://github.com/leoafarias/fvm/releases/tag/App-1.0.0-alpha.1

[2021-03-08 09:26] #230 closed

[2021-03-10 02:50] oncealong opened #234 "fvm support switch dart version"
`fvm flutter` is a good job, as it `Proxies Flutter Commands`.
Can you supplay a new command `fvm dart`, which `Proxies Dart Commands`.

as I use `fvm use 2.0.0`, I also want to use corresponding dart version

[2021-03-10 02:51] leoafarias commented on #234
@oncealong can you provide some examples of the commands you need?

[2021-03-10 02:53] leoafarias commented on #230
@Bazni make sure you are using flutter sdk version that does support desktop and you have enabled it on the config

[2021-03-10 02:55] leoafarias commented on #233
@ValeriusGC could you pass the --verbose flag?

[2021-03-10 03:01] leoafarias commented on #231
@nik-v-hax can you provide more details about your setup?

[2021-03-10 03:02] leoafarias commented on #229
You can use the normal fvm flutter upgrade. However I would suggest using it just for channels

[2021-03-10 03:03] #229 closed

[2021-03-10 03:05] leoafarias commented on #223
@samandmoore thanks for offering help and I might take you on it, just had to change some things due to the mono repo setup. Should be done soon and should have homebrew action running. In case I need assistance will reach out.

[2021-03-10 06:20] nik-v-hax commented on #231
MacOS intel with Flutter 2.1.0 I think

[2021-03-10 07:37] radvansky-tomas commented on #231
Same with OSX M1 and flutter DEV

[2021-03-10 07:47] radvansky-tomas commented on #231
But it installed it eventually ;)

now it says
`/Users/tomasradvansky/Development/flutter/.pub-cache/bin/fvm: line 7: pub: command not found`

[2021-03-10 10:06] nicks101 commented on #142
`fvm <command>` is only running on Powershell, it's crashing on cmd.

Error after running `fvm install stable`

[code]

Error after running `fvm use stable`

[code]

[2021-03-10 13:27] allanlaal opened #235 "ADD support for project specific .flutter_settings files"
currently **all** flutter projects share ~/.flutter_settings

fvm flutter config should read/write to project_dir/.fvm/.flutter_settings and use only that file

[2021-03-10 15:26] leoafarias commented on #232
@Ascenio the command `fvm pub` does not exist. You want to runt `fvm flutter pub`

[2021-03-10 16:18] nicks101 commented on #142
Now getting a differI upgraded dart and followed the fvm setup from scratch.

1. First system variables were updated.
[code]

2. In cmd (running as administrator), fvm was activated using `pub global activate fvm`. It was installed successfully.
3. Installed and used a flutter channel in one of the projects. It's working as expected.

The issue I'm getting now is `Can't load Kernel binary: Invalid

[2021-03-10 16:31] blondie63 opened #236 "Info for IDE config"
I think that informations to configure IDE are unclear
Some help?

[2021-03-10 17:14] Ascenio commented on #232
Oh, initially I thought it was a typo and I meant to say `fvm flutter pub`, but then I tested it again to make sure it wasn't working but It is. Life is strange sometimes. Thanks.

[2021-03-10 17:14] #232 closed

[2021-03-10 17:25] leoafarias opened #238 "Call for contributors"
Hi everyone,

It has been great to see FVM become a must-have tool for Flutter developers. Due to the limited time, I have been able to focus on addressing high-priority items. Still, I would like to focus more on the quality of experience improvements and a stable GUI version that I plan to separate from this repo. You can follow the progress of this work here #237

Ideally, I would like to have

[2021-03-10 17:35] leoafarias commented on #232
@Ascenio that is the life we chose ;)

[2021-03-10 17:36] leoafarias commented on #142
@nicks101 can you do a `pub cache repair`?

[2021-03-10 17:38] jascodes commented on #238
I might chip in maintaining homebrew or chocolatey...

[2021-03-10 18:35] leoafarias commented on #225
@tazik561 The path, if you want to display all the versions, should be the path to the versions directory within fvm.

According to this section https://github.com/leoafarias/fvm#list-all-versions-installed-by-fvm, let me know if you suggest any improvements.

@lsalehar If you followed the instructions above I suggest after doing the configuration for you to close the IDE an open it again

[2021-03-10 18:38] leoafarias commented on #224
@panchalAlpit This should work just fine. Normally I would compare this with the `flutter version` command however they have deprecated it.  This piece is very straightforward. I will go ahead and close this issue because I am doing some clean-up. but feel free to reopen in case you see any issues.

[2021-03-10 18:38] #224 closed

[2021-03-10 18:41] leoafarias commented on #203
@mehcode it might be best to have that version within Flutter which is actually the source of truth. Let me know if this has been resolved, or if you have the link to their issues so I can track them.  I will go ahead and close this issue for now.

[2021-03-10 18:41] #203 closed

[2021-03-10 18:43] leoafarias commented on #219
@aquilarafa might worth checking out https://github.com/leoafarias/fvm#use-a-sdk-version, there is a section about setting a global version, which allows you to set the PATH to that version so you can still switch within FVM.

[2021-03-10 18:43] #219 closed

[2021-03-10 18:49] leoafarias commented on #201
@sgr-ksmt sorry for the delay on the response. First thing is that its important that the configuration here

[code]

is added within the vscode settings of a project, and not in the global settings. This will provide a relative path.

[2021-03-10 18:49] leoafarias commented on #231
also I suggest doing a `pub cache repair`

[2021-03-10 18:51] leoafarias commented on #235
I will go ahead and close this based on the response from the Flutter core team.

[2021-03-10 18:52] leoafarias commented on #135
If you are interested in making the GUI amazing on Linux please help us here. https://github.com/leoafarias/fvm/issues/238

[2021-03-10 19:06] Kavantix commented on #234
Examples are:
[code]

[2021-03-10 19:17] leoafarias commented on #234
I will focus more on the use cases for flutter, as FVM use for managing dart would fall outside of the scope. I will go ahead and add this to the backlog so I can revisit it soon.

[2021-03-10 19:33] blondie63 commented on #236
I read this: https://pub.dev/packages/fvm#configure-your-ide
but i don't understand which entry i've to add to VSCode/settings.json to use fvm cmds from IDE (VSCODE in my case)

[2021-03-10 19:57] leoafarias commented on #234
@Kavantix yes, just make sure you do the PR from the `next` branch

[2021-03-10 20:01] nicks101 commented on #142
I ran the below commands on cmd as an administrator.

1. Running `pub cache repair`

[code]

2. Running fvm.

[code]

3. Running `pub global list` : empty

Should I activate fvm again?

[2021-03-10 20:07] SebastianKlaiber commented on #238
Development

[2021-03-10 20:10] eliasreis54 commented on #238
i could help in development and responding some issues.

[2021-03-10 22:53] leoafarias commented on #142
@nicks101 yes go ahead

[2021-03-10 22:57] leoafarias commented on #236
@blondie63 when you run `fvm list` it will display the path to the versions directory. This is the path that you will use for this configuration

[2021-03-11 08:26] shakeeltariq commented on #100
Sorted it out in Windows 10 by re-ordering the path entries in Path environment variable as following:

C:\tools\dart-sdk\bin  (dart-sdk installed via choco)
C:\Users\shakeel\fvm\default\bin (fvm bin folder under fvm created symbolic link)
C:\Users\shakeel\AppData\Local\Pub\Cache\bin

[2021-03-11 11:52] allanlaal commented on #235
@leoafarias since this was denied in flutter core, would it be useful to add this to fvm instead? (being the more multi-project approach to developing flutter)

my original proposal:
-------------------------------
currently `flutter config` writes its settings to a globally shared ~/.flutter_settings file

## Use case

I have Flutter projects A, B,...
all of them have different platforms supporte

[2021-03-11 12:55] #234 closed

[2021-03-11 13:37] cezaryjk commented on #227
Hi Leo,
You're absolutely right: it's Pub's fault.
It seems that only specific Windows versions suffer from this. Mine is Windows 10.

I've tried with previous FVM version. Unsuccessfully. Pub keeps on recreating the same batch file.

It turned out they changed "quite good" script to current one:
[https://www.gitmemory.com/issue/dart-lang/pub/2670/703804339](url)
I just posted a comment in closed

[2021-03-11 16:49] jamescardona11 opened #241 "How I can install a previous version from channel dev?"
Hi, everyone.

I want to install a previous version of DEV Channel, how I can do that ?

For example this: 1.26.0-1.0.pre in dev channel

thanks.

[2021-03-11 18:05] leoafarias commented on #227
@cezaryjk thanks for the info

@rydmike @ofury @Tokenizer94 Could you guys try one of the test cases to see if its also happening?

Case 1: (flutter_asset_generator)
- dart pub global activate flutter_asset_generator.
- Find an example that has assets defined in pubspec. (e.g. https://github.com/CaiJingLong/flutter_resource_generator/tree/master/example)
- fgen --no-preview --no-watch.

Case 2: (f

[2021-03-11 18:59] leoafarias commented on #241
@jamescardona11 the best way is to pin the version directly `fvm install 1.26.0-1.0.pre`. Flutter has a downgrade command also that you could use within a channel like `fvm flutter downgrade`

[2021-03-11 19:07] lParanhos commented on #238
Development

[2021-03-11 20:40] Tokenizer94 commented on #227
I found the problem.
I think this happens if you use this command once: "flutter pub global activate fvm"
even after you deactivate FVM using "flutter pub global deactivate fvm" , this issue won't be fixed!

I did this and the problem solved:
1- Remove flutter-SDK completely.
2- Remove the FVM folder and all of the installed versions in it.
3- Remove all paths related to flutter-SDK and FVM in the

[2021-03-12 03:49] snailflying opened #242 "[INSTALL BUG]Failed to precompile fvm"
**Describe the bug**
When I want to install the "FVM" by "dart pub global activate fvm". I found the bug:

`.pub-cache/hosted/pub.flutter-io.cn/dart_console-0.6.2/lib/src/ffi/win/termlib-win.dart:28:25: Error: The getter 'addressOf' isn't defined for the class 'CONSOLE_SCREEN_BUFFER_INFO'.
 - 'CONSOLE_SCREEN_BUFFER_INFO' is from 'package:win32/src/structs.dart' ('.pub-cache/hosted/pub.flutter-io.c

[2021-03-12 09:47] radvansky-tomas commented on #231
this bug:
`/Users/tomasradvansky/Development/flutter/.pub-cache/bin/fvm: line 7: pub: command not found`

has been resolved by adding this lines to .zshrc:
[code]

[2021-03-12 09:55] radvansky-tomas commented on #231
Did the cache stuff @leoafarias ,did not help.

Tried also deactivate it, activate again etc...

[code]

OR

[code]

As someone else here:
https://github.com/leoafarias/fvm/issues/242

I am running OSX, M1 chip and flutter 2

[2021-03-12 11:04] radvansky-tomas commented on #231
Issue resolved, had to remove DART path coming from flutter installation and use part from BREW and then reinstall

[2021-03-12 15:13] cezaryjk commented on #227
Hi guys,

I’m terrible sorry but it looks like it was false positive.

@Tokenizer94, you were right, the problem was caused by my „complex” environment: I have both Dart and Flutter SDK installed. And yet 1.22.6 and 2.0.1.
It disappeared just after Dart SDK was “promoted” in PATH.

![obraz](https://user-images.githubusercontent.com/12769666/110958891-7266eb00-834d-11eb-9ed9-a8715ae17324.png)

But

[2021-03-12 21:33] rydmike commented on #227
Thanks guys for all the above suggestions, I will try to find time to investigate and test them during the weekend too.

I actually don't have the Dart SDK installed at all separately, I did a year ago or so, but removed it due to some conflicts I had with it at one point. I do keep a separate Flutter SDK stable installed, plus latest version of all channels with fvm, including stable, and occasio

[2021-03-13 13:30] pavelDohnalik commented on #233
Hello, I have the same issue.

**ubuntu 18.04 LTS**

![image](https://user-images.githubusercontent.com/17764174/111031588-950a0a00-8408-11eb-99bb-e201a6e9b0a6.png)

![image](https://user-images.githubusercontent.com/17764174/111031538-53795f00-8408-11eb-9e1e-f693dafff65e.png)

[2021-03-14 12:47] nik-v-hax commented on #231
for me the issue was resolved by reinstalling Flutter SDK and therefore flushing everything pub related aswell and then just reinstalling FVM. Went pretty smooth

[2021-03-14 12:47] #231 closed

[2021-03-15 11:58] joaovirgilicw commented on #236
Nice! I was in trouble too, it worked for me

[2021-03-15 14:41] #236 closed

[2021-03-18 09:53] lsalehar commented on #225
@leoafarias Hey thank you for the advice, I did that, but it didn't work. Somehow, I managed to get it working, but I don't know what I did. I was in a hurry and didn't write things down. 🙂

[2021-03-18 16:16] Albert221 commented on #242
I have similar issue

[code]

[code]

[2021-03-18 16:18] Albert221 commented on #238
Did you maybe consider setting up GitHub Sponsors, Open Collective account or something similar that could enable you to spend your valuable time on fvm? :)

[2021-03-18 21:58] ofury commented on #227
I also have a separate Flutter SDK stable installed along with FVM.

I was able to fix the issue following the steps suggested above.

1. removed dart-sdk, FVM and environment variables related to Flutter SDK, Dart and FVM
2. installed dart-sdk, activated FVM
3. added to PATH separately installed Flutter SDK

Thanks guys

[2021-03-18 22:33] #225 closed

[2021-03-19 14:40] eEQK commented on #242
I can't use FVM with latest flutter beta as well.

The problem is that FVM depends on `cli_dialog` package that depends on `dart_console` that depends on both `win32` and `ffi` which cause the problems.

[2021-03-20 08:12] nukotsuka commented on #242
I had same issue with latest flutter on `beta` channel. But I can use FVM on `stable` channel.

[code]

[2021-03-20 18:05] awhitford commented on #238
Is Google interested in folding this into the Flutter dev stack?  Because it seems like something valuable to them.

[2021-03-21 03:17] ValeriusGC commented on #233
I made this with workaround - installed entire flutter and then `fvm ..` from that.

[2021-03-21 15:12] #241 closed

[2021-03-23 13:56] leoafarias commented on #198
@bytes-stack why are you using fvm.bat instead of `fvm`?

[2021-03-23 13:57] leoafarias commented on #201
Will close this issue please reopen if there is any issue

[2021-03-23 13:57] #201 closed

[2021-03-23 13:58] #183 closed

[2021-03-23 14:01] leoafarias commented on #238
Update for everyone. I have tagged the issues that I might need some assistance with. These are issues that I have had difficulty debugging or might be happening on other platforms.
`Go here to filter these issues`
https://github.com/leoafarias/fvm/labels/help%20wanted

Also, I have moved the App to a different repo. https://github.com/leoafarias/sidekick, so if you want to help out on that projec

[2021-03-24 12:05] nik-v-hax opened #243 "How to set correct path for FVM"
Hey not a bug but not a feature request either ...

fvm gave me this warning:

Warning! The 'flutter' tool you are currently running is from a different Flutter repository than the one last used by this package. The repository from which the 'flutter' tool is currently executing will be used instead.
  running Flutter tool: /Users/niklasvonhaxthausen/fvm/versions/1.17.0
  previous reference  : /Us

[2021-03-24 12:32] leoafarias commented on #243
@nik-v-hax Sorry I am not sure I understand your question. This is a notification warning when the path of Flutter changes as more of "FYI". I am not sure I understanding your question.

[2021-03-24 12:35] nik-v-hax commented on #243
Hey sorry if I was unclear but this does not change the Flutter SDK with which I am running
<img width="525" alt="Screenshot 2021-03-24 at 13 35 24" src="https://user-images.githubusercontent.com/42723242/112311244-cbb41000-8ca5-11eb-9692-d1f185d11e69.png">

[2021-03-24 12:37] nik-v-hax commented on #243
Means whatever I set within fvm does not have an affect when running a Flutter app - it just picks up 2.0.3 up again instead of the installed ones (1.22.5, 1.17.0)

[2021-03-24 13:21] leoafarias commented on #243
@nik-v-hax The `flutter` command uses the PATH variable. There is a way to change that to allow for fvm to change versions. You can look at it on this link https://github.com/leoafarias/fvm#use-a-sdk-version.

However, you can also just do `fvm flutter ....` that will run the flutter version that has been pinned within the project. Let me know if that clarifies

[2021-03-25 23:51] #242 closed

[2021-03-27 20:50] leoafarias commented on #238
In case anyone is wondering. FVM is more active than e we. Just want to make sure all platforms are getting the same amount of love.

[2021-03-27 20:51] leoafarias commented on #243
Will go ahead and close this issue. Let me know if there are any other questions.

[2021-03-27 20:51] #243 closed

[2021-03-27 20:56] leoafarias commented on #235
@allanlaal thank you for the detailed proposal. I am not sure if this should be solved with fvm. Seems this is a critical part of the tooling.

I will do a bit of research on the settings however I haven't really stumbled upon this problem. I don't use web heavily mostly desktop and mobile.

Will leave it open also to take a look at the source code for flutter_tools maybe there is a simple pull re

[2021-03-27 21:02] leoafarias commented on #233
@ValeriusGC I am still curious to see what the issue was. The --verbose should be added on the 'fvm install stable' so it can show a stack trace.

I think this is a duplicate of this issue https://github.com/leoafarias/fvm/issues/213

[2021-03-27 21:05] leoafarias commented on #191
@DevNico sorry for the delay. 6 months ago I had a POC for a 'spawn' command that would exactly that.

Added as part of the next release.

[2021-03-27 21:20] leoafarias commented on #198
@bytes-stack sorry for the delay on this. I am in the middle of a global refactor 2.0 and will close this since I did not have more info.

[2021-03-27 21:20] #198 closed

[2021-03-28 14:14] leoafarias commented on #202
@Albert221 Not sure if you are using a mac or not, but one of the ways to work around this is to call the cached FVM directly.

For example I added the following to my `.zshrc`
[code]

The only downside is that it doesn't do look-up directories and also other fallbacks. But you have the same flutter experience.

[2021-03-28 17:47] rydmike commented on #227
I was still having this issue and did not really know what I should try, the documentation on what paths to where that are needed for what, and in what order, is **abysmal in Flutter**. Well I finally decided to experiment as well and see what I can do about it.

I **don't** have the separate **Dart SDK installed**, only the one that comes bundled with Flutter. I would prefer to not install the se

[2021-03-28 18:04] leoafarias commented on #227
@rydmike interesting. The pub-cache path is for the global pub commands so I am surprised fvm is running.

https://dart.dev/tools/pub/cmd/pub-global#running-a-script-from-your-path

However the difference from your setup and the docs is that the path for pub-cache is setup under the user directory.

I suggest adding it back as described in the docs and see if you still have the issue.

[2021-03-28 18:22] rydmike commented on #227
OK I just noticed, I do still also have this in the path:

`C:\Users\<user>\AppData\Roaming\Pub\Cache\bin`
This folder contains:
[code]

Saw it before too, I just did not recognize what it was and did not look at what it contained then.  So there are thus now these three Flutter/Dart folders in the path, in this order:

[code]

[2021-03-28 18:29] leoafarias commented on #227
That should be correct. Is flutter, dart and global packages.

[2021-03-28 19:48] rydmike commented on #227
Indeed and seems to work well too. I just wonder where the path:

`C:\src\flutter\.pub-cache\bin`

Came from. I can't recall adding it myself, and removing it solved my double runs and so far I have not noticed any issues from having removed it.

[2021-03-30 06:40] Aquib17 commented on #142
@leoafarias - Switching the "developer mode" on Windows 10 fixed the _Exception: Could not save config changes_ issue I was facing. Thanks!

[2021-03-30 15:50] davidmartos96 opened #248 "[BUG] New global command"
@leoafarias Hello! I'm trying out the new prerelease version for fvm on Linux, in particular the new `global` command.
I think I have the PATH correctly configured but fvm it's giving me the new warning:

![image](https://user-images.githubusercontent.com/22084723/113017493-c9f3bc00-917f-11eb-9904-caa81641476f.png)

Maybe the issue is that `which` is taking into account the binary name?
Something

[2021-03-30 15:55] leoafarias commented on #248
@davidmartos96 You are right. Let me know if you want to do a PR with that fix, or I can do it later.

[2021-03-30 17:00] #248 closed

[2021-03-30 17:02] leoafarias commented on #248
@davidmartos96 thank you!

[2021-03-30 17:46] leoafarias commented on #235
@allanlaal I did a bit of research and it seems that this is simple to implement but might have an impact on tooling as probably this is where the flutter team will keep track of feature flags.

I think in your case the correct behavior would be to have all platforms enabled, and after you create a project you can just remove the platforms you don't want. The flutter team made the same suggestion,

[2021-03-30 19:37] leoafarias commented on #191
@DevNico this is on the latest dev version 2.0.0-dev.3

I still have to work on the docs.

But you can run

`fvm spawn <version>` and add the flutter args after.

[2021-03-31 15:08] taras opened #251 "Alpine container image for fvm"
Related https://github.com/dart-lang/dart_docker/issues/50

**Is your feature request related to a problem? Please describe.**

`google/dart` container images have a shocking number of [CVEs](https://en.wikipedia.org/wiki/Common_Vulnerabilities_and_Exposures). I generated a [report](https://gist.github.com/taras/0fc12a37bd23bd7d4572fd140b61cb39) using [trivy](https://github.com/aquasecurity/trivy)

[2021-03-31 17:05] leoafarias commented on #251
@taras The container example from CirrusCI you provided does not seem to be installing Dart, but uses the dart version configured within Flutter. This seems like it would do the trick as you don't need to install Dart separately.

[2021-03-31 18:56] leoafarias commented on #251
@andreadelfante Do you want to give this a try?

Starting with version 2.0 which is in dev, we will make an executable available.

https://github.com/leoafarias/fvm/releases/download/2.0.0-dev.3/fvm-2.0.0-dev.3-linux-x64.tar.gz

In theory, we could do something like:

[code]