[2021-03-31 19:01] taras commented on #251
@leoafarias did you mean @taras?

[2021-03-31 19:29] leoafarias commented on #251
@andreadelfante was the person that created the docker file

[2021-03-31 19:49] leoafarias commented on #235
I will go ahead close this. Feel free to open it again if you feel like something is missing.

[2021-03-31 19:49] #235 closed

[2021-03-31 20:20] taras commented on #251
@leoafarias I tried it and it worked :)

[code]

This is what I'm using, but the following should work as well.

[code]

[2021-04-01 00:34] rydmike commented on #227
And the issue is back, no idea why. Getting those lovely double runs of fvm again. Pain royale this issue is... sigh. 😅

[2021-04-01 00:39] leoafarias commented on #227
@rydmike can you tell me a bit about your environment, so I can try to replicate it, so I can try recreate it.

Did you install fim with flutter pub or dart? Which version are you currently using. I wonder if it has something to do with the logging itself, but haven’t been able to replicate it

[2021-04-01 00:44] leoafarias commented on #227
@rydmike also I have made a lot of improvements and changes for 2.0 which is currently in dev
Do you want to give it a try to see if the issue happens on that version also?

`pub global activate fvm 2.0.0-dev.3`

[2021-04-01 01:21] rydmike commented on #227
I originally installed it with flutter pub, as I did not have the separate Dart sdk installed, I still don't.
I was running 1.3.8 above. Now trying 2.0.0-dev.3.

[code]

Still runs twice as before.

[2021-04-01 01:39] rydmike commented on #227
I tinkered with the order of the paths:

From:
[code]

To:
[code]

Now it runs just once again, no idea if this none standard order is bad for other Flutter/Dart commands though, at least flutter, dart and pub commands seemed to run, did not check others yet. OR if the issue will come back again, we will see in a day or too.

**BTW:** Is it safe to stay on version 2.0.0-dev.3?

[2021-04-01 01:49] leoafarias commented on #227
I was able to replicate the issue. However, it seems that it is not an FVM problem. It is also happening with other global CLI.

Just ran a test with `very_good_cli` and the same thing is happening and is getting printed twice

[2021-04-01 01:50] leoafarias commented on #227
Still WIP but I think it's fairly stable. To be honest  having someone beta test on windows would definitely not hurt.

[2021-04-01 01:52] rydmike commented on #227
Ok that is good to know, but what is actually causing it? Something we should report elsewhere?

I'll keep using it then! 😃

[2021-04-01 02:04] leoafarias commented on #227
I am reviewing their docs, to try to pinpoint the problem.

[2021-04-01 02:20] leoafarias commented on #227
Ok here is the issue. https://github.com/dart-lang/pub/issues/2934

[2021-04-01 02:30] leoafarias commented on #227
For anyone else stumbling into this issue. Make sure `flutter/bin/cache/dart-sdk/bin/dart` is not in your PATH.
After you remove run `dart pub global activate fvm`

[2021-04-01 02:30] #227 closed

[2021-04-01 02:31] rydmike commented on #227
Cool and thanks, at least we know why now and that fvm is not the issue! 💙
Yeah I was just going to say, might as well close this issue

[2021-04-01 06:42] TheSunilVarma commented on #142
I tried all the mention solution but unfortunately i'm still getting Error : Can't load Kernel binary: Invalid kernel binary format version.

1. Tried with/without flutter ( pub global activate fvm )
2. With/without Administration | Developer Mode
3. CMD and PowerShell ( Admin/without )
4. Tried to manually delete flutter .cache-pub and pub cache repair

But no luck :(

[2021-04-01 12:38] leoafarias commented on #142
@TheSunilVarma this is not an fvm issue and happens when the dart sdk changes the snapshot.

Go ahead and do a "pub cache repair"

[2021-04-01 12:45] ewilan-riviere opened #253 "[BUG] CocoaPods with fvm"
- System: macOS Big Sur
- Bug: CocoaPods with `pod` command installed but `fvm` not work with it
- Reproduce execute `fvm flutter build ios`

I'm not sure this is a bug, maybe it's my configuration but I've a problem with CocoaPods when I use `build ios` command with `fvm`

My Flutter app works with 1.22.6 and when I try to use `fvm flutter pub get` or `fvm flutter run`, I've no problem but with `

[2021-04-01 12:48] leoafarias commented on #253
Does the issue happen every time? Also does it continue to happen even after closing an opening the terminal/ide again?

[2021-04-01 12:51] ewilan-riviere commented on #253
Yes, I try to restart machine, restart terminal... It's not work

[2021-04-01 12:56] leoafarias commented on #253
I will take a look. As a temporary solution. Set an alias on your bash profile.

alias f=".fvm/flutter_sdk/bin/flutter"

This will call the cached version in the project directly without pro ting through fvm.

"f build ios"

[2021-04-01 13:34] rydmike commented on #227
About removing the `flutter/bin/cache/dart-sdk/bin` as a path, just be aware that if you do remove it, you will not be able to run the commands in that folder directly. At least I could not, and I need those commands.

So far the order I mention above is still working OK for me.

Let's hope for a better final solution via https://github.com/dart-lang/pub/issues/2934.

Thanks @leoafarias for all yo

[2021-04-01 19:23] JSBmanD opened #254 "[BUG] [1.3.8-Windows 10] Strange install/use behaviour dependent on the hard drive"
**Describe the bug**
Nor install nor use is working on latest package version from pub

**To Reproduce**
Steps to reproduce the behavior:
1. Windows 10 (Developer mode enabled)
2. Open command prompt as administrator
3. Run `fvm install 2.0.3`
4. It installs flutter
5. Go to project folder (another drive)
6. Run `fvm use 2.0.3` or `fvm install 2.0.3`
7. Check...
8. See error

**Expected behavior**

[2021-04-01 19:45] leoafarias commented on #254
@JSBmanD The error happens when the symlink cannot be created. Can you run `fvm install --verbose`, I want to see if we have the trace of the error.

[2021-04-01 19:51] JSBmanD commented on #254
@leoafarias
[code]

[2021-04-01 22:30] leoafarias commented on #254
@JSBmanD can you install version `2.0.0-dev.4`

`pub global activate fvm 2.0.0-dev.4`

and run the `fvm install --verbose` command again.

[2021-04-02 04:10] franticn opened #256 "[Feature Request] Support unofficial flutter version"
First of all, thank you for providing such a convenient tool to help us to switch flutter env.We encountered the following problem during use `fvm`, because some reason, we use a internal flutter version, and connected to our internal flutter folder through a soft link under the `fvm/versions`folder,then we can use command `fvm list` to find our internal in flutter versions result;
[code]
But when

[2021-04-02 04:37] leoafarias commented on #256
@franticn is this a flutter fork? I will look a bit into this as adding flag is simple however just want to make sure there won’t be side effects on validation

[2021-04-02 05:16] franticn commented on #256
Yes, it's just a flutter fork

[2021-04-02 09:42] JSBmanD commented on #254
@leoafarias
[code]

[2021-04-02 10:12] leoafarias commented on #254
@JSBmanD Thanks for that. I went ahead and created a separate partition on my windows machine and ran it. The only way I could replicate this error message is if my user did not have WRITE access to the drive the project was in.

My versions are stored on C:// and my project was on D://

If I did not have write permissions for the drive I receive the exact same error.

To get it to run successfull

[2021-04-02 10:37] JSBmanD commented on #254
@leoafarias I already have write permission for all users to write on that drive. Moreover I'll test it now with full access applied. Can you specify with which command in terminal I can run fvm from sources? (sorry for the stupid question I'm usually working just with flutter)

[2021-04-02 10:43] JSBmanD commented on #254
@leoafarias after modifying permissions I have one more log:
[code]

[2021-04-02 13:50] andreadelfante commented on #251
@taras This looks like good for me! Actually the current Dockerfile downloads Flutter sdk every time, and this isn't so efficient.
Maybe we can parametrized your Dockerfile to build multiple image to push to Docker Hub.

@leoafarias  To achieve this, we should adapt the current CI/CD to build and push different Docker images.

[2021-04-02 13:59] taras commented on #251
@andreadelfante I'm still working out the best way to configure this image for CI. The challenge is that `.fvm` directory comes from mounted workspace. I need to change `FVM_HOME` to that mounted directory so `fvm` will know where to retrieve config from.

I believe NVM looks up `.nvm` config by traversing the parent directories which makes it a little easier.

[2021-04-02 14:13] andreadelfante commented on #251
@taras `fvm config --cache-path <CACHE_PATH>` is the command you're looking for!

[2021-04-02 18:35] leoafarias commented on #254
@JSBmanD Can you add the log for `fvm use 2.0.3` This log seems to be coming from Dart even before hitting fvm.

[2021-04-02 19:00] JSBmanD commented on #254
@leoafarias it was dart problem (I've installed it from **chocolatery**) and when I removed it and downloaded zip - fvm started to work in project. Maybe it should be as troubleshooting thing in readme for future.

[2021-04-02 19:02] leoafarias commented on #254
Do you think tweaking the message would help a bit as far as having permissions?

[2021-04-02 20:49] JSBmanD commented on #254
@leoafarias maybe you can reference this issue in P.S. after that error message.

[2021-04-02 21:33] leoafarias commented on #254
I will go ahead and improve this message. For now will close this.

[2021-04-02 21:33] #254 closed

[2021-04-03 10:25] Hexagonale commented on #233
Encountered this with fvm 1.3.8 on Windows 10 x64 today. 1.3.7 Works fine. Maybe related?

`Could not install <2.0.2>`
`#0      installWorkflow (package:fvm/src/workflows/install_version.workflow.dart:44:5)`
`<asynchronous suspension>`
`#1      FlutterCommand.run (package:fvm/src/commands/flutter_command.dart:30:7)`
`<asynchronous suspension>`
`#2      CommandRunner.runCommand (package:args/comman

[2021-04-03 11:33] youssriaboelseod opened #257 "fvm command not found in windows[BUG]"
hi leoafarias
thanks for your greate backage

i have this problem

fvm command not found

i install pachage here
![image](https://user-images.githubusercontent.com/40850682/113477289-1a6d6100-9481-11eb-98af-76b13815e553.png)

and add it to path
![image](https://user-images.githubusercontent.com/40850682/113477314-35d86c00-9481-11eb-8d19-4d8ce37d4c16.png)

but its not work

notes : i run my vcod as

[2021-04-03 15:50] leoafarias commented on #233
@Hexagonale can you run it with --verbose flag?

[2021-04-03 15:52] leoafarias commented on #257
@youssriaboelseod this seems to be a pub configuration. Did you restart the use and terminal after the config? Try running on a new shell

[2021-04-03 15:57] Hexagonale commented on #233
Ran as developer
`fvm --verbose flutter build apk --release`

`[     0.044s] FVM: Running version 2.0.2`
`[     0.057s] Exception: On Windows FVM requires to run in developer mode or as an administrator`
`Could not install <2.0.2>`
`#0      installWorkflow (package:fvm/src/workflows/install_version.workflow.dart:44:5)`
`<asynchronous suspension>`
`#1      FlutterCommand.run (package:fvm/src/comman

[2021-04-03 16:31] leoafarias commented on #233
@Hexagonale seems like it was not able to create the symlink which could still be permission.

Please download the lates fvm

pub global activate fvm 2.0.0-dev.4

And run the same command with --verbose... it will output the exact error just to confirm that is permission.

[2021-04-03 16:35] Hexagonale commented on #233
All commands as administrator:
`pub global activate fvm 2.0.0-dev.4`
`Package fvm is currently active at version 1.3.8.`
`...`
`Activated fvm 2.0.0-dev.4.`

Confirm version:
`fvm --version`
`2.0.0-dev.4`

And it's working:
`fvm --verbose flutter build apk --release`
`[     0.330s] Version: 2.0.2 - already installed.`
`fvm: running version "2.0.2"`
` Building with sound null safety`
`Running Gradle

[2021-04-03 16:36] leoafarias commented on #233
Great! I will go ahead and close this issue since the initial problem was for Ubuntu.

[2021-04-03 16:36] #233 closed

[2021-04-06 09:55] AkashDeveloper8758 commented on #100
flutter pub global activate fvm   -   is working and install the latest version of fvm

[2021-04-06 17:33] shantanugodbole opened #261 "Can I move the folder 'fvm' from my C: directory to D: directory"
**Problem Point**
I am using FVM for the first time since I'm working on a couple of flutter projects which require different flutter versions.
On my device, I have very little space on my C: drive (the default download directory where FVM stores all the different flutter versions used) and I unable to shift the FVM file into another directory and then update its path in the environment paths.

![

[2021-04-06 21:13] leoafarias commented on #261
@shantanugodbole There are currently 2 ways of doing that and you can read about them here. https://github.com/leoafarias/fvm#change-fvm-cache-directory

[2021-04-07 03:01] Nabouste opened #262 "[BUG] On Windows FVM requires to run in developer mode or as an administrator"
I ran fvm use stable on my root project but the terminal show me to run on administrator.

when i run in administrator (cmd) it still give the same error

![image](https://user-images.githubusercontent.com/29367624/113804145-29f1f000-9788-11eb-976a-5e7df7dd39ae.png)
![image](https://user-images.githubusercontent.com/29367624/113804181-3e35ed00-9788-11eb-884f-3cca8137c6fe.png)

[2021-04-07 03:49] leoafarias commented on #262
@Nabouste please download the latest version I think that is fixed there.

pub global activate fvm 2.0.0-dev.4

If the issue remains please run with the --verbose flag and give me the output

[2021-04-07 04:31] shantanugodbole commented on #261
Tried it, getting the following error message

![image](https://user-images.githubusercontent.com/46984743/113810603-3b3afc80-9788-11eb-8313-d1439bbd6dcd.png)

[2021-04-07 04:52] shantanugodbole commented on #261
![image](https://user-images.githubusercontent.com/46984743/113812124-26ac3380-978b-11eb-9187-afe424730904.png)
another snapshot for reference

[2021-04-07 09:58] leoafarias commented on #261
@shantanugodbole make sure you are running as administrator. If you are let me know as this might be a duplicate of this issue
https://github.com/leoafarias/fvm/issues/262

[2021-04-07 13:01] shantanugodbole commented on #261
Hi Leo, yes I am running it as administrator

[2021-04-07 14:02] liaovq opened #263 "[BUG] fvm list throw FormatException"
Bug Describe:

[code]

background:
- OS: mac os 11.2.3
- FVM Version: 1.3.8
- zsh: 5.8
- i aready installed fvm using `pub global activate fvm` and It has been in normal use for some time
- `fvm flutter --version` can be used normally
[code]
- run `pub cache repair` get  this
[code]
- There are these files under my path `~/fvm/versions`

- `fvm use xxx` It works well in my project, So it does not

[2021-04-07 16:37] leoafarias commented on #261
Follow the instruction on the thread mentioned aboce and install the latest dev version please

[2021-04-07 17:21] shantanugodbole commented on #261
Tried that, issue still persists, which verbose command do you need?

[2021-04-07 17:34] leoafarias commented on #261
`fvm use <version> --verbose`

[2021-04-07 18:41] shantanugodbole commented on #261
Deleted all fvm files and activated fvm version 2.0.0-dev.4, working now 👍

[2021-04-07 18:41] #261 closed

[2021-04-08 12:25] leoafarias commented on #263
@liaovq I installed these versions and was not able to replicate the problem. The only way I have been able to replicate the problem, is if any of the versions has an space before or after...

[2021-04-08 13:08] liaovq commented on #263
- Does the space you mentioned mean that the folder name under my ~/fvm/versions directory contains spaces
  - I checked all the names in the versions directory, none of them contain spaces
- Through your prompt, I tried to `fvm remove` all my local skd -> doesn't work
- Now I only have version 2.0.4 installed locally, `fvm list` will still run out of exception
- I try to `pub global deactivate fv

[2021-04-08 13:13] leoafarias commented on #263
A few questions:
- Are you using an FVM version globally? Meaning the "flutter" command points to a version within FVM?
- You mentioned using `pub global...` so you are not using `flutter pub global...`
- Can you provide me the logs from the command `pub global activate fvm`?
- Can you provide me the configuration of your PATH for Flutter, pub and dart?

[2021-04-08 13:30] liaovq commented on #263
I don't have an flutter sdk locally, I'm on a new computer [Install Dart](https://dart.dev/get-dart), then `pub global activate fvm` and use it
So I don't have a `flutter xxx` command

- PATH configuration Related to the Flutter, pub and dart
[code]
- `pub global activate fvm --verbose` logs are too long, so I only intercepted the last part, I don't know if they're useful
[code]

[2021-04-08 13:44] leoafarias commented on #263
There are 2 possible problems.
- There is an issue with the dependency you are getting from your hosted pub. I would suggest removing that and trying the official one directly. If the issue persist I think I can try to see what could be happening.
- The version check on FVM does rely on `FLUTTER_STORAGE_BASE_URL` so I wonder if some data there is coming from there is not correct.

[2021-04-08 14:04] liaovq commented on #263
- I commented out all the `PUB_HOSTED_URL` and `FLUTTER_STORAGE_BASE_URL` in my .zshrc (use official)
- `fvm remove` all sdk
- `rm rf ~/fvm`
- `pub global deactivate fvm`
- restart iTerm2
- `pub global activate fvm`
- `fvm install 2.0.4`
- `fvm list`
- 🎉 It worked 🎉
- Thank you very much
- Thank you for such a great tool

[2021-04-08 14:04] #263 closed

[2021-04-08 19:22] leoafarias commented on #257
@youssriaboelseod I will go ahead and close this issue, since it’s configuration problem on pub and not fvm. But feel free to reopen if you think I am missing something.

[2021-04-08 19:22] #257 closed

[2021-04-10 13:48] iampato opened #264 "[Question] How do i run dartdoc"
keeping in mind the above commands need flutter tools

[2021-04-10 16:03] leoafarias commented on #264
You should be able to use `dartdoc` on your terminal assuming you installed through `pub global activate fvm`. Let me know a bit about your setup

[2021-04-12 02:09] helloworld10010 opened #265 "Could not find a command named "config""
**Before creating a bug report please make check the following**
- You have installed fvm using `pub global activate fvm` not `flutter pub...`
- If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions when using the `fvm use <versi

[2021-04-12 10:37] leoafarias commented on #265
@helloworld10010 please update your version and let me know if the issue persists

[2021-04-12 21:38] taras commented on #251
Here is the smallest alpine image that I was able to create

[code]

[2021-04-12 21:48] leoafarias commented on #251
@taras Can you open a PR with this docker image?

[2021-04-12 21:53] taras commented on #251
Sure. Do you want it to replace the current or add another one?

[2021-04-12 22:01] leoafarias commented on #251
Add another one

[2021-04-13 05:17] iampato commented on #264
Steps done:
1. ran `pub global activate fvm`
    The output
[code]
2. ran `dartdoc`
    The output
[code]

[2021-04-13 05:17] iampato commented on #264
@leoafarias  is there something i missed?

[2021-04-13 15:16] #265 closed

[2021-04-14 18:51] Atalanttore opened #267 "[Feature Request] Installation of fvm is different if Flutter is installed as a snap package"
If Flutter is installed as a [snap package](https://snapcraft.io/flutter), the installation of `Flutter Version Management` is different from what is described in the [README.md](https://github.com/leoafarias/fvm/blob/master/README.md) file, because the direct invocation of `pub` is not supported in the snap.

**Describe the solution you'd like**
Users of Flutter's snap package must add the follow

[2021-04-15 15:40] msarkrish commented on #265
@leoafarias I already installed FVM 1.2.3. How to upgrade to the latest version?

[2021-04-15 15:42] leoafarias commented on #265
`pub global activate fvm`

[2021-04-16 05:08] msarkrish commented on #265
@leoafarias Not updating to latest version.
![fvm](https://user-images.githubusercontent.com/45334931/114974330-ce1e1a00-9e9f-11eb-83fa-a78d28006415.PNG)

[2021-04-16 08:46] kuhnroyal commented on #265
You are probably running an old Dart version, update your Dart installation and then this should find a newer, compatible version.

[2021-04-16 12:04] leoafarias commented on #264
@iampato yes I believe you still should set a version of Flutter in the global path, so these commands can run. You can read it here. https://flutter.dev/docs/get-started/install/macos#update-your-path

[2021-04-17 15:48] iampato commented on #264
I use Linux but thanks,
the issue will come if I want to `dartdoc` with a different flutter version I will need to update my global path
Anywau its okay

[2021-04-17 15:48] #264 closed

[2021-04-18 16:28] kcprabase opened #269 "fvm use doesnot work for version that is shown by fvm list"
Hi,
I have two stable flutter versions installed 1.22.5 and 2.0.5
It is even listed when I run >fvm list
Currently, I am on 2.0.5. But when I run > fvm use 1.22.5, it says could not install <1.22.5>
![image](https://user-images.githubusercontent.com/33727948/115152965-3b45d100-a093-11eb-812d-58436457dc30.png)

Am I doing something wrong?

Thanks

[2021-04-18 16:40] leoafarias commented on #269
Can you run with —verbose. You have to make sure you run in administrator mode or turn on developer mode on windows.

[2021-04-18 16:55] kcprabase commented on #269
I am on Developer mode. And I am now running CLI as Administrator.

![image](https://user-images.githubusercontent.com/33727948/115153719-20755b80-a097-11eb-8c42-5d82f1e52d8e.png)

[2021-04-18 17:01] leoafarias commented on #269
I am not sure but it seems that the cli does not have write access to the projects directory

[2021-04-19 10:12] msarkrish opened #270 "NoSuchMethodError: The method 'cast' was called on null. Receiver: null Tried calling: cast() while using all fvm commands"
**Before creating a bug report please make check the following**
- You have installed fvm using `pub global activate fvm` not `flutter pub...`
      Yes I have installed fvm using `pub global activate fvm`

- If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions when using the `fvm use <version>` command.
   This command also not working.

[2021-04-19 15:12] msarkrish commented on #270
I can't upload settings file, so pasted the content of the settings file.
{
  "cachePath": null,
  "skipSetup": false,
  "gitCache": false
}

[2021-04-19 15:29] msarkrish commented on #270
@leoafarias I have an old version of dart SDK, I will update dart SDK tomorrow and I will update the FVM to dev. Then I will update the Issue.

[2021-04-19 16:15] leoafarias commented on #270
Thank you in the mean time @msarkrish remove the `cachePath` key from your settigns and that should do the trick.
[code]

I believe this was a conflict between sidekick and fvm, because the new version of sidekick sets this.. so using the latest on dev will solve the problem

[2021-04-19 20:30] #251 closed

[2021-04-19 20:51] ened opened #273 "[Feature Request] Tests: Mock system calls & expectations instead of using on local repo"
**Is your feature request related to a problem? Please describe.**

Running the test suite currently causes actual downloads & install commands.

**Describe the solution you'd like**

The test suite should run the commands against a mock shell / mock environment. Commands & their responses could be recorded, mocked & evaluated.

**Additional context**

This implies a bit of refactor in how fvm run

[2021-04-19 20:57] leoafarias commented on #273
@ened I have a local reference flutter repo that I use as "mock" and makes things run much faster. Passing the local flutter repo as an env var `FVM_GIT_CACHE`. The tests run much quicker.

[2021-04-19 21:29] ened commented on #273
@leoafarias Understood you have a local test repo.
Will this work on CI? Is this picked up simply by running `flutter test`?

Does the unit test actually need a repository? Wouldn't the commands be enough?

[2021-04-19 22:14] leoafarias commented on #273
On the CI I run without the local cache since the time is not a priority. I implemented an AppContext in order to control them a bit more the tests as I get the coverage a bit higher. I do plan on creating a MockContext, that automatically creates/updates and uses a local referenced repo.

However, I am not if mocking so you don't need the repo is a good option. FVM does not work without a flutter

[2021-04-19 22:57] ArinFaraj commented on #142
I was having this issue in the latest stable version `1.3.8`.
And I tried it with `pub global run fvm:main` but it was giving the same error message,
Also tried `pub cache repair` but no luck there.

Then I switched to dev version `2.0.0-dev.6` and it **fixed** my problem.
Just wanted to let you all know.

[code]

[2021-04-20 05:37] ened commented on #273
@leoafarias agree you'd had to mock all of the interfaces with the file system & tools underneath.
This would document the tool invocations and any expectations as well.

[2021-04-20 11:19] leoafarias commented on #273
@ened I am not opposed to have a better documented interface. However it seems that this was not the purpose of the initial issue.

- Quicker tests
- Download on every test run

These are addressed by the local reference in the mock local repo.

Do you want to update the goals of the issue, I think I can get aligned on the problem with you.

[2021-04-20 12:12] ened commented on #273
@leoafarias ok updated the title, hope that is sufficient to move on.

[2021-04-20 12:16] leoafarias commented on #273
For future ticket reference:
- I currently implemented AppContext in order to allow for some overrides, and better mocking.
- Create abstractions mock services especially FlutterTools and GitTools

[2021-04-21 10:53] acoutts opened #275 "[Feature Request] Specify flutter commit on master channel"
**Is your feature request related to a problem? Please describe.**
Sometimes you need to lock your flutter version to a specific commit on master where there's no tag yet.

**Describe the solution you'd like**
We should be able to specify a commit hash as our flutter version.

**Describe alternatives you've considered**
There is no way to do this currently.

**Additional context**
N/A.

[2021-04-21 12:00] leoafarias commented on #275
@acoutts this is your lucky day. It was just merged yesterday. ;)

I have made an adjustment to support regular and short hashes.

https://github.com/leoafarias/fvm/pull/268

[2021-04-21 12:22] acoutts commented on #275
Fantastic!! It works.

[2021-04-21 12:22] #275 closed

[2021-04-22 20:31] #270 closed

[2021-04-22 20:32] leoafarias commented on #269
@kcprabase I will go ahead and close this issue. please let me know if there is anything else I can be of assistance

[2021-04-22 20:32] #269 closed

[2021-04-22 20:33] leoafarias commented on #262
Closing this issue, feel free to reopen if the issue persists on the latest version

[2021-04-22 20:33] #262 closed

[2021-04-22 21:25] #256 closed

[2021-04-22 21:26] leoafarias commented on #256
This has been merged for 2.0

[2021-04-23 07:46] franticn commented on #256
@leoafarias Thanks!

[2021-04-23 14:02] leoafarias commented on #202
@Albert221 I believe I will be closing this issue. I had some time to dig a bit deeper and found the same behavior within flutter tools when calling pub commands.

Left: `flutter pub get`
Right: `pub get`
![CleanShot 2021-04-23 at 10 01 21](https://user-images.githubusercontent.com/435833/115882692-ff0bcb00-a41a-11eb-96d7-c4e937036982.png)

[2021-04-25 03:25] RaynMa commented on #100
`pub global activate fvm`didnt work on me.

I think the problem is about environment variable ,as  i modify dart path then this case appeared.

I reinstalled flutter, and reset the environment variable, then it be all  @right.

[2021-04-28 19:28] tegarkurniawan opened #279 "[BUG] fvm list"
i write in terminal fvm list see error FormatException: Not a properly formatted version string only fvm list, fvm version 1.3.7

[2021-04-28 19:33] leoafarias commented on #279
@tegarkurniawan The only time I have seen this was when a version within the list had a " " (space) in the version name. If the error persists please open the place where the versions are cached to see if there are any weird characters in the cache folder

[2021-04-29 03:37] tegarkurniawan commented on #279
![image](https://user-images.githubusercontent.com/8655617/116499621-d2522a80-a8d6-11eb-8399-fd86003bf989.png)

my version has no spaces

[2021-04-29 03:55] tegarkurniawan commented on #279
#SOLVED

i set cache folder to folder version fvm fvm config --cache-path /Users/nameuser/fvm/versions

[2021-04-29 03:55] #279 closed

[2021-05-01 18:49] kuhnroyal opened #281 "[BUG] 'Null' is not a subtype of type 'bool'"
**Describe the bug**
Running `fvm flutter pub get` with version `2.0.0` in a previously working project (with `1.3.8`) yields:

[code]

It seems that,
[code]
are now both required with NNBD.

**To Reproduce**
 The project is configure with Flutter 2.0.5 in `fvm_config.json`

[2021-05-01 18:52] kuhnroyal commented on #281
Probably need to change the constructor:

[code]

[2021-05-01 23:20] leoafarias commented on #281
@kuhnroyal the defaults are being set, it seems the issue happens right before that when is casting the null to bool, will have a fix up soon

[2021-05-01 23:38] leoafarias commented on #281
Version 2.0.1 is being built, that should resolve the issue

[2021-05-01 23:40] kuhnroyal commented on #281
Thanks! Now you have the defaults set in 2 places. That's why I was suggesting a private constructor :)

[2021-05-01 23:44] leoafarias commented on #281
hmmm sorry about that, will take a better look on your suggestion

[2021-05-02 10:38] #281 closed

[2021-05-02 18:45] yasinarik opened #283 "[SOLVED] [BUG] How to update FVM package itself? Command didn't work. (Not Flutter version)"
I've been using FVM for a long time, no issues, great plugin! Thanks a lot :)

I needed to upgrade my Flutter version. Then I have seen that FVM has many updates. So I wanted to upgrade the FVM plugin itself. I read the docs carefully but couldn't figure how to update out.

Anyways, I have installed a newer version of Flutter `2.2.0-10.2.pre` using FVM. It was installed successfully and showed an

[2021-05-02 19:27] kuhnroyal commented on #283
You need to update the global Dart installation, the one you are running pub from. It is probably pre Dart 2.10

[2021-05-02 19:58] yasinarik commented on #283
**OK,** let me quickly tell you what I did. I needed to migrate to `null safety`

- Installed `Flutter 2.2.0-10.2.pre` version by using `fvm install`. It was `1.25.0-4.0.pre` before. Then I run `fvm use` and picked the newer version.
- Changed the versions of all of the packages to be compatible with null safety. Thankfully, they all have a version to support at the moment.
- Changed the .yaml lik

[2021-05-03 09:48] #283 closed

[2021-05-04 10:30] ened commented on #177
@leoafarias has this behavior changed in 2.X? The symlink is not created anymore, it seems?

[2021-05-04 10:33] kuhnroyal commented on #177
I think something has changed, I needed to run `fvm use ...` again manually.

[2021-05-04 10:47] ened commented on #177
@kuhnroyal what are your exact recovery steps?

[2021-05-04 10:48] leoafarias commented on #177
@ened is the version that you want to link already installed when running `fvm install`? Looking at the code, if the version is cached already it returns before updating the link.

[2021-05-04 10:51] ened commented on #177
@leoafarias yes, that definitely breaks and causes the symlink folder not to appear.

[2021-05-04 10:58] leoafarias commented on #177
@ened deploy version `2.0.2-dev.0` to confirm it resolves the issue

[2021-05-04 11:03] kuhnroyal commented on #177
My Flutter version was already installed and the project config contains `"flutterSdkVersion": "2.0.5"`.
I manually ran `fvm use 2.0.5` and it created the link.

[2021-05-04 11:04] leoafarias commented on #177
Just published 2.0.2-dev.0 please confirm the issue is solved and I will bump the final version

[2021-05-04 11:05] kuhnroyal commented on #177
Seems to work on my end, thanks for the quick reaction!

[2021-05-04 11:06] ened commented on #177
I can confirm this as well. Thank you @leoafarias

[2021-05-04 11:07] leoafarias commented on #177
Thanks ok deploying the final version. https://github.com/leoafarias/fvm/actions/runs/809823464

[2021-05-04 11:07] #177 closed

[2021-05-04 11:27] ened opened #285 "[BUG] fvm flutter run behavior change in 2.x"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.

**Describe the bug**

We used to s

[2021-05-04 12:25] leoafarias commented on #285
@ened thanks for reporting this https://github.com/leoafarias/fvm/actions/runs/810010048

[2021-05-04 12:31] #285 closed

[2021-05-04 12:41] ened commented on #285
@leoafarias you are a superstar

[2021-05-04 15:41] lukepighetti opened #287 "[BUG] pub: command not found"
Now that we typically use `flutter pub` and `dart pub`, is it appropriate to expect `pub` to be available as a command? Should `fvm` use `dart pub` instead?

[2021-05-04 16:02] leoafarias commented on #287
@lukepighetti Let me know if this is what you are referencing.
https://fvm.app/docs/guides/running_flutter#dart

There are a few use cases for this. Flutter nests some dart commands but also there are some that are only available outside.

So for example, the following will do a pub get using the embedded dart sdk within Flutter.
[code]

[2021-05-05 11:42] lukepighetti commented on #287
I installed `fvm` and every time I try to use it, it says `pub: command not found`, presumably because it's not on my PATH since `pub` was rolled into `dart pub` as of recent months

[2021-05-05 12:03] leoafarias commented on #287
@lukepighetti you get this message when trying to run "fvm pub" ?

[2021-05-05 12:39] lukepighetti commented on #287
[code]

[2021-05-05 13:36] leoafarias commented on #287
oh ok, this doesn't seem to be an FVM error, as it happens before running FVM.

I would try doing a `dart pub global activate fvm ` again, and/or a `dart pub cache repair`

[2021-05-06 09:46] chrisoftech commented on #31
To create a symlink, fvm requires administrative rights. You can open a terminal with administrative rights and cd project-root-directory and run fvm use [flutter version]

[2021-05-06 11:03] kuhnroyal commented on #202
So I found something out today while running some `fvm flutter pub outdated` commands.
There is a `--color` flag. As soon as I add this ( `fvm flutter pub outdated --color`) the output is colored.

Flutter adds this flag by default when running in a terminal but when running through fvm it can not automatically determine that it is running in a terminal.

[code]

So I suggest that `fvm` should det

[2021-05-06 11:58] leoafarias commented on #202
@kuhnroyal very helpful info, will dig in to see what they are doing behind the scenes

[2021-05-06 12:12] leoafarias commented on #202
@kuhnroyal just ran a quick test. It seems the outdated command works for pub items. But passing the flag `--color` to `fvm flutter test --color` for example does not have the color output. However, I think this is enough to dig into what is happening.

[2021-05-06 13:16] kuhnroyal commented on #202
Maybe `flutter pub get` and `flutter test` print warnings/errors to stdErr, dunno. I can confirm that they accept the `--color` flag but no changes, to the output.

[2021-05-06 16:59] nicholasspencer opened #288 "[BUG] FVM Preamble in `fvm flutter`"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2021-05-06 17:17] leoafarias commented on #288
@nicholasspencer makes sense

[2021-05-06 17:33] leoafarias commented on #288
Solved on version 2.0.4

[2021-05-07 14:32] JohnPinto opened #290 "[BUG] Unable to change the location of the fvm folder from /home/user to any other."
Hi, I've been trying to change the location of the fvm folder from my home directory to a new directory, but when I use the `fvm config --cache-path <new-path> ` and then use the `fvm flutter doctor` inside my project, the fvm folder inside my home is recreated, and the new location is not used, have I done something wrong, or do I need a second config command that I'm not aware of?

[2021-05-07 14:55] leoafarias commented on #290
@JohnPinto This is the correct behavior, once FVM runs it needs to know where to get the config from. So you will continue to have the main FVM directory on your home, but the version cache will be where you set it.

However, if you set the env var `FVM_HOME`, it will move the whole fvm home directory and you will probably get the result you want.

[2021-05-07 15:14] JohnPinto commented on #290
Hi @leoafarias I've added the `FVM_HOME` variable with my desired path, but when I run fvm config the command still shows the FVM Settings at the old location

[2021-05-07 15:32] leoafarias commented on #290
@JohnPinto make sure you close your terminal and open again, also with this there is no need to set a cachePath anymore

[2021-05-07 15:42] #290 closed, assigned to nobody

[2021-05-07 15:42] JohnPinto commented on #290
Thanks for the feeback!

[2021-05-07 16:49] Rodrigossff91 commented on #100
dart pub global activate fvm

this command solves all problems

[2021-05-08 11:55] leoafarias commented on #267
I have updated the new docs to explicit call out `dart pub global activate fvm`. I believe this would close the issue.

[2021-05-08 11:55] #267 closed

[2021-05-08 11:56] leoafarias commented on #142
Have updated the docs, and I believe Windows is much more stable. Also we currently have a chocolatey version that further simplifies things.

Will go ahead and close this issue.

[2021-05-08 11:56] #142 closed

[2021-05-12 07:55] abhaysood opened #291 "[Question] Running `fvm flutter --version` reports unknown channel"
I have setup FVM using the instructions in the documentation. The contents of `fvm_config.json` file are:

[code]

Running `fvm flutter --version` gives the following output:
[code]

Notice that the channel/source are reported as unknown. If I install 2.0.6 version without using `fvm` the output gives the channel and source correctly.

[2021-05-14 01:46] leoafarias commented on #291
@abhaysood this question comes up every so often and I believe there has been change in behavior, which it does not impact.

but if you don’t kind me asking how are you is taking the standalone version 2.0.6?

[2021-05-14 14:37] abhaysood commented on #291
I simply ran `fvm install 2.0.6`:
[code]

[2021-05-14 17:25] leoafarias commented on #291
@abhaysood you mentioned that it’s different if you install 2.0.6 without fvm, how did you do that?

[2021-05-14 17:26] abhaysood commented on #291
[code]

[2021-05-14 17:34] leoafarias commented on #291
Ok, that is why… you are upgrading the channel.  Fvm pulls the tag version directly.

Also flutter versions can repeat across channels, so the information is correct.

[2021-05-14 19:42] #291 closed

[2021-05-16 10:59] tazik561 opened #292 "Create package error: Guards.canExecute (package:fvm/src/utils/guards.dart:15:7)"
I am trying to create package by fvm like this:

`fvm flutter create --template=package my_project
`
I got this error :
[code]

This is my FVM version:
[code]
SDK list:

[code]
and doctor
[code]

[2021-05-16 15:05] leoafarias commented on #292
@tazik561 it seems there is no version configured for global or for the path, so there is no fallback.

Go ahead and do “fvm global stable” and try the command again.

[2021-05-16 15:06] leoafarias commented on #292
@tazik561 it seems there is no version configured for global or for the path, so there is no fallback.

Go ahead and do “fvm global stable” and try the command again.

[2021-05-17 07:53] abhaysood opened #293 "[Question] How to setup FVM for a project with a package and demo app"
I have a use-case where a repository hosts a flutter package and a host application in it. The directory structure looks like the following.
[code]

What is the recommended way to setup FVM for such a project? Should I set `.fvm` in both `package` and `example_app` or is it possible to have a single `fvm` config for both.

[2021-05-17 08:36] abhaysood commented on #293
I think I got the answer myself. Looking at the [documentation](https://fvm.app/docs/guides/running_flutter#routing) it seems it is possible to have a `.fvm` config at the root of the repo and then running `fvm flutter <any_command>` inside the `package` or `example_app` leads _fvm_ to pick the config from the ancestor directory.

IMO adding this explicitly in the documentation would help. It is q

[2021-05-17 08:36] #293 closed

[2021-05-17 13:19] leoafarias commented on #293
Thanks for the feedback, I have added that information on the FAQ of the documentation

[2021-05-17 19:14] abhaysood opened #294 "[Question] Clarification on using stable channel"
The FAQ mentions the following under "Upgrade Flutter Channel":

Does this mean if I use the following `fvm_config.json`, it would not update Flutter to the latest stable version when `fvm install` is run on the project?
[code]

[2021-05-17 19:24] leoafarias commented on #294
It does not update the channel automatically. It's the same behavior as Flutter CLI. However, I believe Flutter itself does warn you there is a newer version in that channel.

You can do `fvm flutter upgrade` to upgrade.

[2021-05-17 19:25] abhaysood opened #295 "[Feature Request] List all Flutter versions (unformatted)"
It would be nice to have a way to list all Flutter versions in ascending order when running `fvm releases` without formatting and dates so that they can be used as input by other commands.

This can be used by CI systems to smartly install/cache certain versions of Flutter. Currently `fvm releases` gives a pretty output with release dates which is fine for human consumption but harder to parse for

[2021-05-17 19:27] abhaysood commented on #294
Got it. Thanks for the clarification :+1:

[2021-05-17 19:27] #294 closed

[2021-05-17 20:23] abhaysood commented on #264
I ran into this issue too. When someone wants to use `dartdoc` it breaks a promise of `fvm`.
- It makes the user manage the global flutter versions when working in a project.
- Can lead to an inconsistency in the version used by `dartdoc`.

Is there a way to route this (& potentially similar) command via `fvm`? @leoafarias

[2021-05-17 21:16] leoafarias commented on #264
All the dart commands are under `fvm dart` if dartdoc has its own separate command you would have to set Flutter as a global in the PATH env

[2021-05-17 23:19] leoafarias commented on #295
@abhaysood can you tell me your use case specifically for this?

[2021-05-18 00:06] #238 closed

[2021-05-18 03:06] abhaysood commented on #295
CI on a particular project I'm working on uses Docker to configure the machines. I want my CI machines to always have a few versions of Flutter installed via FVM so that the pipelines do not need to spend time downloading it every time. To achieve this I was planning to install last 2-3 stable versions which most of the packages internally use.

Having a `fvm releases` command just prints the vers

[2021-05-18 03:14] abhaysood commented on #264
Yeah I think there is not much FVM can do here. But this problem increases the number of steps needed to get things up and running on developer machines. I might evaluate using Makefile to wrap all the common commands up to take care of these details at some point.

Thanks for the quick replies!

[2021-05-18 10:10] abhaysood commented on #264
Found a potential workaround for this to run via fvm. I'm not 100% sure if this is actually using fvm config or not.
`fvm flutter pub global run dartdoc`

[2021-05-18 12:23] leoafarias commented on #264
Yes anything that you add `fvm` will go through the fvm routing. You can read more about the order here.
https://fvm.app/docs/guides/running_flutter#routing

[2021-05-18 12:29] leoafarias commented on #295
I think it's something that needs to be discussed. If you want to cache an SDK version on the CI, I would suggest to actually have the whole SDK installed and set up before running Flutter.

Right now FVM loads Flutter on-demand (default flutter behavior) It means it will download any platform dependencies as needed. If you always need iOS and Android, for example, it's better to have the full SDK

[2021-05-19 08:40] mohamad97-alhomsi commented on #128
i tried to run fvm with --verbose nothing changed it still crashing the cmd

[2021-05-19 08:47] tonydavidx commented on #128
instead of CMD run fvm commands with powershell. i was able to run all
commands with powershell without crashing

On Wed, May 19, 2021 at 2:11 PM Mohamad Alhomsi ***@***.***>
wrote:

[2021-05-19 09:35] lcdsmao opened #296 "[BUG] Cannot use melos to execute fvm command concurrently"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2021-05-19 09:44] leoafarias commented on #296
@lcdsmao I believe this has been solved on version 2.0.6 of FVM, and its a duplicate of this https://github.com/leoafarias/fvm/issues/285

[2021-05-19 10:06] leoafarias commented on #296
@lcdsmao Can you run `fvm flutter --verbose` where the fvm config is?

[2021-05-19 10:09] lcdsmao commented on #296
[code]

[2021-05-19 10:22] leoafarias commented on #296
@lcdsmao thanks, can you also run `melos exec -- exec fvm install --verbose`?

Also, what are you trying to do with `melos exec -- exec fvm flutter`?

I am creating a melos sample env.

[2021-05-19 10:29] lcdsmao commented on #296
[code]
When running `melos exec -- exec fvm install --verbose`, it can randomly fail with the error I posted.

Like `fvm flutter pub get`, `fvm flutter gen-l10n`, et al.

Executing `melos exec -- exec fvm flutter` can also randomly fail.

[2021-05-19 10:32] leoafarias commented on #296
@lcdsmao I am not being able to replicate the problem in my test melos environment.

I have setup the `.fvm` config within the root of the melos workspace, in packages folder and in the package itself.

Any other information you can think of that you can provide?

[2021-05-19 10:34] lcdsmao commented on #296
I am tring to create a repo to reproduce this problem.

[2021-05-19 10:46] lcdsmao commented on #296
Hi @leoafarias
I created a project which can reproduce this problem.
https://github.com/lcdsmao/bug-melos-fvm
Could you try it?

[2021-05-19 12:22] leoafarias commented on #296
@lcdsmao just tried and it seems to be working...

can you run the following command and give the output?
[code]

[2021-05-19 12:40] lcdsmao commented on #296
Weird. I cannot reproduce it now...😅
But this error actually has occurred in our CI.
I will try this again tomorrow.
If there is any further information, I will comment on this issue.
Thank you!

[code]

[2021-05-19 13:06] lcdsmao commented on #296
https://github.com/leoafarias/fvm/issues/296#issuecomment-844066109
Sorry, I tried with fvm 2.0.1 so there is no problem.😅

Here is fvm 2.0.4 log
[code]

[2021-05-19 13:15] leoafarias commented on #296
@lcdsmao Everything seems good. Can you try one more command, and sorry for the back and forth.
[code]

[2021-05-19 13:17] lcdsmao commented on #296
Seems we got some new information!

[code]

[2021-05-19 14:02] leoafarias commented on #296
@lcdsmao Ok good news I can replicate the issue. I will take a look and update you

[2021-05-19 23:56] lcdsmao commented on #296
@leoafarias
Thanks for your hard work!
I can confirm 2.0.5 works fine now.

[2021-05-19 23:56] #296 closed

[2021-05-20 00:05] leoafarias commented on #292
Closing this, please  reopen if this does not solve your provlem

[2021-05-20 00:05] #292 closed

[2021-05-22 07:40] X-Wei opened #301 "$FVM_HOME not working in tmux?"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2021-05-22 23:07] leoafarias commented on #301
@X-Wei i don't think this is an fvm issue. I don't know much about tmux but is there a different way to set env vars for it?

[2021-05-23 06:04] tazik561 commented on #292
Sorry for late, I run `fvm global stable`

[code]
So after that I again run doctor:
[code]

I still got `No FVM config found:` .

[2021-05-23 12:39] X-Wei commented on #301
I'm not aware how tmux set env vars differently... I also don't have env vars problems for other binaries.

The thing is in tmux I can see the env variable **is** set:
[code]

[2021-05-23 12:58] Akaatsukhi commented on #287
On linux i am facing  kind a same issue and doing a `dart pub global activate fvm` again, and/or a `dart pub cache repair` does solve the issue but **temprorary**. Coz when i change the global version of flutter  in fvm the error come up the again...it totally frustrating to again & again doing `dart pub global activate fvm`  and `dart pub cache repair`. please help...

[code]

[2021-05-23 13:42] leoafarias commented on #287
@Akaatsukhi this is not an fvm issue, the issue is with the dependencies snapshot were built with another version of dart.

The only way to avoid doing doing the cache repair every time is to use fvm per project and try to leave the global version the same.

[2021-05-23 13:42] leoafarias commented on #287
Also I don’t think this is the issue @lukepighetti is talking about

[2021-05-23 15:23] Akaatsukhi commented on #287
Also  when i set the global version through Sidekick GUI it doesn't create any problem...But yeah for cli i think i will have to use it per project.

[2021-05-23 16:22] leoafarias commented on #301
@X-Wei I wonder if dart is not reading the env.  Can you try setting this in tmux to see if the behavior is different? https://dart.dev/tools/pub/environment-variables Because I can see what they are doing differently.

[2021-05-23 20:17] leoafarias commented on #292
That means there is no config in the path. You are probably not running the command within a flutter project.

Also you haven't set the flutter app as described in the instructions.

[2021-05-26 17:41] Katekko opened #303 "Can you make a docker file using the fvm?"
I'm a not expert in docker so I need some help to make a docker file that can work with the last version of the package.
I was using the last version that you can use the global flag and was working like a charm but without the global flag I'm not able to make a docker file that work.

[code]

[2021-05-26 17:47] leoafarias commented on #303
@Katekko dis you take a look at the existing images?

https://github.com/leoafarias/fvm/tree/master/.docker

Also I am not sure if we have deployed an urdistes version but you can reference it.

[2021-05-26 18:11] Katekko commented on #303
Trying to use the existing image give me this message in the final:

[code]

[code]

Any idea to fix it? I'm trying to build flutter web as you can see

[2021-05-26 18:22] Katekko commented on #303
Forgot to add the alias to google image `FROM google/dart:2.13.1 AS build-env`

[2021-05-26 18:22] #303 closed

[2021-05-28 07:00] allanlaal commented on #235
while I understand Flutter core teams reluctance, fvm is a tool that extends Flutter development to support multiple projects (apparently an edge case 🤣)

fvm proxies all flutter commands anyway, why not add a file change listener to that `~/.flutter_settings`  file when executing (any or config changing) commands.

if a local `.fvm/.flutter_settings `is missing, it will copy it from the general `

[2021-05-28 16:17] leoafarias commented on #235
@allanlaal I understand, I feel however that this falls outside of the scope of managing Flutter versions, and I think it adds a lot of complexity to FVM... not sure.

However... Sidekick https://github.com/leoafarias/sidekick currently has a function to view the Flutter settings and edit them. Triggering this on create might not be difficult, but maybe that is the best place for that.

[2021-05-30 08:55] X-Wei commented on #301
hmm interesting, setting the variable with `set` (for fish) doesn't work, but **with `export` it works**:

[code]

So in my `config.fish`, instead of doing `set FVM_HOME "$HOME/.local/fvm"`, I change to `export FVM_HOME="$HOME/.local/fvm"` and now seems it's correctly picked up by tmux!

[2021-05-30 08:55] #301 closed

[2021-05-31 11:45] dryprogrammer commented on #296
This error took me 7 hours to fix.  The race condition left a dummy file. I had to delete ~/fvm
[code]

If you see this errror.
[code]
or
[code]

try
[code]

[2021-06-01 09:06] mx1up opened #304 "[BUG] windows: cannot run fvm without admin or dev mode"
**Describe the bug**
Impossible to run fvm without admin rights or enabling dev mode.

I prefer not enabling dev mode or running all fvm commands as admin. I only opened an admin terminal when I wanted to created the symlink using `fvm use`. This is usually during the setup phase of a project and changes infrequently. Fvm flutter commands are run frequently and don't need admin rights. Up until re

[2021-06-01 10:38] leoafarias commented on #304
@mx1up that makes sense. I believe we would need to remove the ensureCacheWorkflow from the Flutter cmd, but please send a PR, and I would be happy to review

[2021-06-01 16:08] tazik561 opened #305 "[BUG] What is Channel unknown"
I am using fvm to manage flutter sdk , I installed sdk 2.0.6 by fvm.
And I when I run fvm releases, It's result is:
[code]
Which type of version is stable?  for example 2.0.6

Now when I run fvm flutter doctor I got this:
[code]

! Doctor found issues in 1 category.
 What is Channel unknown,?

I want just install stable version.

[2021-06-01 16:22] leoafarias commented on #305
@tazik561 duplicate of this https://github.com/leoafarias/fvm/issues/291, to summarize there is a difference between a release channel and a release. A release can be part of multiple channels. This is correct behavior, and part of an ongoing discussion within the Flutter repo. https://github.com/flutter/flutter/issues/40950

[2021-06-01 16:27] tazik561 commented on #305
Now , 2.0.6 is stable? and can I change channel unknown?

[2021-06-01 16:29] leoafarias commented on #305
The only way the channel is known is if you install a release channel. Then flutter tooling will know that the tag is part of a release channel. That means you would have to do `fvm use stable`, and stay in that channel with its upgrades.

[2021-06-01 16:29] leoafarias commented on #305
@tazik561 are you having a particular issue with the fact that it displays unknown?

[2021-06-01 16:31] tazik561 commented on #305
Not possible because stable channel is  `2.2.1` and my project is not support this version yet.

[2021-06-01 16:32] tazik561 commented on #305
Yes, I lost hot reload in this version and when I doing hot reload my application is terminated.

[2021-06-01 16:35] leoafarias commented on #305
@tazik561 In that case you need to pin the version directly. There doesn't seem to be any "issues" caused by having the channel unknown unless you try to do the upgrade workflow.

[2021-06-01 16:38] tazik561 commented on #305
Not possible because stable channel is 2.2.1 and my project is not support this version yet. Thanks

[2021-06-01 16:40] leoafarias commented on #305
I understand. You can continue to pin the version directly `fvm use 2.0.6` that should work just fine. That is why I asked above, are you having issues because of the channel "unknown"?

[2021-06-01 16:43] leoafarias commented on #305
Ok I will go ahead and close this.

[2021-06-01 23:57] chillbrodev opened #306 "[BUG] FVM Cannot List Versions"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions. N/A
- [x] Run `fvm doctor` if possi

[2021-06-02 00:02] TNorbury opened #307 "[BUG] Failed to retrieve the Flutter SDK from: (url for platform)"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2021-06-02 00:02] TNorbury commented on #307
fvm doctor Windows:
[code]

[2021-06-02 00:04] TNorbury commented on #307
fvm doctor MacOS:
[code]

[2021-06-02 00:05] chillbrodev commented on #307
Duplicate of #306

[2021-06-02 00:06] nicholasspencer commented on #307
This seems to be an issue or some changes to the flutter infrastructure https://github.com/flutter/flutter/issues/83746

[2021-06-02 00:07] TNorbury commented on #307
@chillbrodev Ah, beat me to it lol

[2021-06-02 00:07] #307 closed

[2021-06-02 00:08] TNorbury commented on #306
per @nicholasspencer: https://github.com/leoafarias/fvm/issues/307#issuecomment-852579874

[2021-06-02 00:23] garrettApproachableGeek commented on #306
My shot in the dark is that the source of this is these commits, but I don't know the infrastructure of Flutter's build pipeline
https://github.com/flutter/infra/commit/c2ff7c803968f43143761c49a87f63db58d8b18a
https://github.com/flutter/engine/commit/ad10ab8d695ef7566ece0a2ff27b5eb89a2536f5

[2021-06-02 00:24] PandaGeek1024 commented on #306
getting the same issue

[2021-06-02 00:34] leoafarias commented on #306
Deploying a workaround

[2021-06-02 00:39] leoafarias commented on #306
Not my best work https://github.com/leoafarias/fvm/actions/runs/897831054, essentially created a cache of the current release which I am hosting here on Github. Should buy time to see if this is a permanent change.

[2021-06-02 00:41] leoafarias commented on #306
It seems the release JSON is back up. I canceled the release. Will create a better fallback

[2021-06-02 00:42] TNorbury commented on #306
Can confirm that it's working again for me

[2021-06-02 01:22] leoafarias commented on #306
Will go ahead and close this issue. I created a github action cron that backup the release json and will use as a fallback going forward. https://github.com/leoafarias/flutter_flat_data.. PS: Github Flat Data is pretty amazing

[2021-06-02 01:22] #306 closed

[2021-06-04 13:46] Prajun2010 commented on #142
Although I have activated developer mode, I'm still getting "Exception: On Windows FVM requires to run in developer mode or as an administrator" while running fvm use.
After running fvm use <version>, it switches to the required version but still throws that error.

![Screenshot 2021-06-04 193011](https://user-images.githubusercontent.com/42827734/120811045-4e413180-c56b-11eb-8e9f-09ef5381b019.jpg

[2021-06-04 13:58] leoafarias commented on #142
@Prajun2010 Can you open a new issue please

[2021-06-04 14:06] Prajun2010 opened #308 "[BUG] Still throw exception while running fvm use <version> command in developer mode [windows]"
Although I have activated developer mode, I'm still getting "Exception: On Windows FVM requires to run in developer mode or as an administrator" error while running fvm use.
After running fvm use , it switches to the required version but still throws that error.

![Screenshot 2021-06-04 193101](https://user-images.githubusercontent.com/42827734/120814560-ba716480-c56e-11eb-9243-0ae8466892e2.jpg)
!

[2021-06-06 04:54] #308 closed

[2021-06-06 16:47] prajwal27 opened #309 "[Feature Request]: Documentation on adding aliases"
Currently, the docs suggest a way to add proxy. However, there's no proper guide in this regard.

[2021-06-06 18:21] leoafarias commented on #308
@Prajun2010 have you resolved this?

[2021-06-06 18:23] leoafarias commented on #309
@prajwal27 can you tell me a bit more about the issue? Which section of the docs you are referring to, FVM proxies flutter commands through ‘fvm flutter…’ there is no configuration necessary for this

[2021-06-06 19:01] Prajun2010 commented on #308
Not really, but I found that installing fvm using flutter cause this problem ( e.g. flutter pub global activate fvm ) .So, i reinstalled the fvm using pub only and the error was solved. Also, why activating fvm doesn't provide with the latest version, but provide with 1.3.7 version?

[2021-06-06 19:01] Prajun2010 commented on #308
Not really, but I found that installing fvm using flutter cause this problem ( e.g. flutter pub global activate fvm ) .So, i reinstalled the fvm using pub only and the error was solved. Also, why activating fvm doesn't provide with the latest version, but provide with 1.3.7 version?

[2021-06-06 19:32] prajwal27 commented on #309
[code]
I wasn't able to understand where and how to use this part.

[2021-06-06 21:05] leoafarias commented on #308
You have to update dart to the latest version since the new fvm uses null safety. You can also install using chocolatey that should solve a lot of these problems

[2021-06-07 03:48] Prajun2010 commented on #308
Oh ! , I got that , thank you @leoafarias for the support.

[2021-06-07 14:03] leoafarias opened #310 "[Feature Request] - Configure IDE path on "use" command"
## Problem:
Right now the user needs to manually configure their IDE path for VSCode in order to have all IDE tooling running properly. This causes some support issues to be opened, need to view the documentation, and also a less ideal Dev experience.

## Solution:
When the developer does `fvm use <version>` fvm should automatically detect the IDE and configure the version if it has not been confi

[2021-06-07 19:06] utsavDave97 opened #311 "Any way to append/prefix fvm"
Let's say my project is using fvm version 2.0.5.

I open my project in VSCode and go to terminal.

Inside terminal if I type `flutter --version` it says that I am using `1.22.6`. This `1.22.6` is installed in my mac.

But inside terminal if I type `fvm flutter --version` it says that I am using `2.0.5`.

Is there any way where I can append or add `fvm` prefix to every flutter commands inside VSCod

[2021-06-07 20:05] AleFachini opened #312 "Trying to Build Apk for target main[BUG]"
Running on Windows Android studio 4.1

my app has 4 mains with different environments for the backend. Problem is that I get this log:
C:\Datasruvey\DataSurveyPBS_MobileAPP_v2>fvm list
Versions path:  C:\Users\afachini\fvm\versions
stable
v1.12.13+hotfix.9 ✔
'pub' is not recognized as an internal or external command,
operable program or batch file.

C:\Datasruvey\DataSurveyPBS_MobileAPP_v2>fvm flu

[2021-06-07 21:58] leoafarias commented on #312
@AleFachini can you please provide `fvm doctor` output and run the `fvm flutter build` with the `--verbose` flag like this `fvm --verbose flutter build apk ....`

[2021-06-07 22:00] leoafarias commented on #311
There are a few ways of doing that but they are manual. I suggest following some of the tips here https://fvm.app/docs/guides/running_flutter and configure an alias

[code]

[2021-06-07 22:24] utsavDave97 commented on #311
Thanks for prompt reply.

Would you please be able to guide as to how to edit this aliases thing on MacOS and WindowsOS?

Like do I need to edit `$PATH` on Mac/Windows?

Sorry for this stupid question

[2021-06-08 00:13] leoafarias commented on #311
@utsavDave97 I think this should point you at the right direction https://dev.to/stuartcreed/how-to-add-aliases-to-your-terminal-on-mac-os-53dl

[2021-06-08 01:58] utsavDave97 commented on #311
awesome thanks. appreciate it.

[2021-06-08 01:58] #311 closed

[2021-06-08 02:44] AleFachini commented on #312
in order:
**fvm doctor:**

C:\Datasruvey\DataSurveyPBS_MobileAPP_v2>fvm doctor
Could not find a command named "doctor".

'pub' is not recognized as an internal or external command,
operable program or batch file.

**fvm flutter doctor:**

C:\Datasruvey\DataSurveyPBS_MobileAPP_v2>fvm flutter doctor
Could not install <v1.12.13+hotfix.9>
#0      installWorkflow (package:fvm/src/workflows/install_vers

[2021-06-08 02:55] leoafarias commented on #312
Are you running  as administrator?

[2021-06-08 09:08] prajwal27 opened #313 "[BUG] : not able to track local changes in Android Studio"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2021-06-08 11:25] AleFachini commented on #312
I guess so, still my environments variables are all in User path variable not in system, could be that the problem?

![image](https://user-images.githubusercontent.com/7902127/121176799-05230300-c833-11eb-866c-b3b456ff3caf.png)

[2021-06-08 18:17] leoafarias commented on #312
@AleFachini take a look at this please https://www.itechtics.com/run-programs-administrator/

[2021-06-08 18:19] leoafarias commented on #313
@prajwal27 it seems the symlink is not pointing to an installed version. Can you run the `fvm use <version>` command again?

[2021-06-09 03:58] prajwal27 commented on #313
@leoafarias  I have tried it, but it still doesn't work. I had to delete `.fvm` folder and retry. I'm not sure if it's a hack or the actual solution.

[2021-06-09 04:16] leoafarias commented on #313
I believe the version was removed, so but recreating the link it fixed ir

[2021-06-09 04:24] prajwal27 commented on #313
Sorry to reopen this issue, but the above method tracks the changes, but the w.r.t. symlink still exists.

[2021-06-09 12:25] prajwal27 commented on #313
@leoafarias  So, what I noticed is, the first when Android Studio is opened, it tracks the local changes and shows it.
If we make any further changes, the Android Studio won't detect it.  So every time we have to delete the `.fvm` folder in order to see the commits in the dialog box in android studio.

In the terminal it's working fine, something is not right in the way fvm is linked with Android

[2021-06-09 13:16] AleFachini commented on #312
I run as administrator android studio, cmd and is not working, maybe there is something else?

[2021-06-09 14:09] leoafarias commented on #312
@AleFachini not sure what is going on here can you update to the latest version of FVM?  Should be 2.0.6

[2021-06-09 14:13] leoafarias commented on #313
When you say make local changes, you mean if you switch the version with `fvm use <version>` for example?

[2021-06-09 14:15] leoafarias commented on #309
@prajwal27 If you are using the Mac or Linux you can do something like this.
https://wpbeaches.com/make-an-alias-in-bash-or-zsh-shell-in-macos-with-terminal/

I am not sure how to accomplish this on windows.

[2021-06-09 14:42] AleFachini commented on #312
can you tell me how to update do i have to reinstall all?

[2021-06-09 16:14] leoafarias commented on #312
`pub global activate fvm`

[2021-06-09 19:23] prajwal27 commented on #313
@leoafarias  no, not like that. If I make any code changes in the flutter project, that doesn't show in the local changes dialog when I do `ctrl  + k` in Android Studio.

[2021-06-09 19:23] prajwal27 commented on #309
@leoafarias  I'm unfortunately using Windows :P

[2021-06-09 20:09] leoafarias commented on #309
Sorry about that, however you dont need this. You can just use `fvm flutter... `

[2021-06-10 03:04] prajwal27 commented on #309
@leoafarias  I found a way to do this on windows, shall I update the doc and make a MR?

[2021-06-10 11:18] leoafarias commented on #309
Yes please

[2021-06-11 03:28] 2ZeroSix opened #315 "[Feature Request] easy way to use forked flutter repository"
**Is your feature request related to a problem? Please describe.**
It's hard to use forked flutter repository across team members.
It was much harder until #256, but it's still really verbose and does not work with shared `.fvm/fvm_config.json` out of the box.
We can't just call `fvm install` and expect the desired version to be installed.

**Describe the solution you'd like**

We already have env

[2021-06-11 10:56] Mao-x-w opened #316 "[Feature Request] control check fvm update"
Can you provide an option to control check fvm update? Because, it was so slow sometime。

`
if (cmd == 'use' || cmd == 'install' || cmd == 'remove') {
    // Check if there is an update fofr FVM
    await checkForFvmUpdate();
  }
`

I want to control it through the following command:
`
fvm use 1.22.6 --not-check-update
`

[2021-06-11 12:18] leoafarias commented on #313
@prajwal27 I am not as familiar with Android Studio inner workings, is there a way for
It to maybe ignore the symlink.

I haven’t heard of this issue before

[2021-06-11 12:53] prajwal27 commented on #313
@leoafarias  I'm not really sure about ignoring the symlink. This is causing a major disturbance while coding, it takes away the advantages of Android Studio, hence I had to stop using fvm :(

[2021-06-11 13:13] leoafarias commented on #313
Will try to replicate this

[2021-06-11 13:14] AleFachini commented on #312
hello in my system i can only run

`flutter pub global fvm` or `dart pub global fvm` i can not run pub only comands cause i get the infamous 'pub' is not recongnized as an internal or external comand. i can now edit and save all system and user variables. as you can see bellow:

![image](https://user-images.githubusercontent.com/7902127/121691782-c644b580-ca9d-11eb-8529-e5148b6f83a1.png)

should i

[2021-06-11 19:12] leoafarias commented on #312
Is it working now?

[2021-06-11 19:15] leoafarias commented on #315
@2ZeroSix I think a flag on FVM settings to ignore version validation makes sense. However that would be in the FVM settings and not in the project to make things simpler. Is that something you would like to create a PR for? If not I will put on the queue but I am not sure when I can get to it.

[2021-06-11 19:30] leoafarias commented on #316
@Mao-x-w I might add this as a config option

[2021-06-11 19:32] AleFachini commented on #312
no it still saying the same
 log:

Can't load Kernel binary: Invalid kernel binary format version.

Could not install v1.12.13+hotfix.9

#0      ensureCacheWorkflow (package:fvm/src/workflows/ensure_cache.workflow.dart:61:5)
<asynchronous suspension>
#1      GlobalCommand.run (package:fvm/src/commands/global_command.dart:40:26)
<asynchronous suspension>
#2      CommandRunner.runCommand (package:ar

[2021-06-11 19:33] leoafarias commented on #312
@AleFachini https://fvm.app/docs/guides/faq#invalid-kernel-binary-or-invalid-sdk-hash-when-running-fvm

[2021-06-11 19:50] leoafarias commented on #313
@prajwal27 but I could not replicate the error, can you make sure you add the flutter_sdk to your git ignore and also try the steps described here? https://stackoverflow.com/questions/25272326/jetbrains-warning-not-all-local-changes-may-be-shown-due-to-an-error-svn-e2

[2021-06-11 20:04] AleFachini commented on #312
I did this and got this log:

Downloading _fe_analyzer_shared 7.0.0...
Downloading analyzer 0.38.5...
Downloading analyzer 0.39.17...
Reinstalled 216 packages.
Reactivating devtools 0.9.7+3...
Precompiling executables...
Failed to precompile devtools:devtools:
Error: Cannot run with sound null safety, because the following dependencies
don't support null safety:

 - package:devtools_server
 - pack

[2021-06-12 21:08] 2ZeroSix opened #317 "[Feature Request] fvm exec"
**Describe the solution you'd like**
command to execute any command with environment set up for flutter sdk found by fvm
`fvm exec`

**Describe alternatives you've considered**
currently it's accomplished by overriding PATH like this
[code]
but this code is not portable between windows and posix systems

**Additional context**
many repositories use custom scripts to maintain repository/infrastruct

[2021-06-12 21:11] 2ZeroSix commented on #315
Thanks for feedback!

I'll try to implement this in the next few days

[2021-06-14 18:35] leoafarias commented on #317
@2ZeroSix Do you mind going into a bit more detail on this, right now we have the `spawn` command which is made to exec commands on particular flutter versions. Does that solve you problem? https://fvm.app/docs/guides/running_flutter/#spawn-command

[2021-06-14 18:40] leoafarias commented on #295
@abhaysood will go ahead and close this issue. Take a look at https://github.com/leoafarias/flutter_flat_data if you want to discuss it further.

[2021-06-14 18:40] #295 closed

[2021-06-14 19:58] 2ZeroSix commented on #317
- `spawn` execute a specific command in flutter cli
- `exec` would allow to execute arbitrary command in environment of flutter found by fvm

#### simplified example of common use case in proprietary projects:
(when os is always posix)
we could have some script `my_custom_script_to_accomplish_task_with_many_commands.sh`
[code]
- without `fvm exec`
[code]
- with `fvm exec`
[code]

#### real life ex

[2021-06-15 01:52] Mao-x-w commented on #316
@leoafarias  OK,Thank you.

[2021-06-15 04:37] Nabouste opened #319 "[BUG] cmd always show could not install"
when i tried to build apk using

fvm flutter build apk --release --target-platform=android-arm64 -t lib/main.dart --flavor dev

always show could not install

![image](https://user-images.githubusercontent.com/29367624/121993335-7df30380-cdcd-11eb-9a84-78914c8fe004.png)

![image](https://user-images.githubusercontent.com/29367624/121993623-04a7e080-cdce-11eb-8177-ccd1a97bc894.png)

[2021-06-15 09:56] leoafarias commented on #319
@Nabouste can you run the command with `fvm --verbose ....` please also run fvm doctor on the same directory that you are running the command

[2021-06-16 12:20] rahuldange09 opened #320 "[BUG] Could not find a command named "dart"."
**Describe the bug**
Tried running "fvm dart" but it says

Also some other also not working
like

But "fvm flutter" works and others also

**To Reproduce**
fvm dart

**Expected behavior**
Should show dart commands

**Logs**
Please provide the verbose logs by running `--verbose` after the command.

**Desktop (please complete the following information):**

- FVM Version 1.3.7
- Dev OS: Mac os with z

[2021-06-16 13:40] leoafarias commented on #320
@rahuldange09 The dart command is on version 2.0. If you are installing using `pub global activate fvm`, its important that you upgrade the local dart sdk

[2021-06-16 14:43] rahuldange09 commented on #320
Ohh
So I have to be on the latest flutter SDK locally?
Actually, I was on Flutter 1.22.6 and wanted to upgrade some projects to flutter 2.2 with null safety.
So I have to do the reverse thing?
Keep local to 2.2 and fvm to 1.22.6?

[2021-06-16 15:07] vincevargadev opened #321 "Flutter commands do not work without internet connection"
**Describe the bug**

FVM fetches `https://storage.googleapis.com/flutter_infra/releases/releases_macos.json` on every command, so this makes it so that even simple commands that should not depend on internet connection fail.

I already installed the correct version of Flutter with FVM, so that should not be an issue.

For example, I want to be able to execute `flutter format` without a working in

[2021-06-16 15:11] leoafarias commented on #321
@vincevargadev that is correct. I am thinking about removing this check since now Flutter has reached more consistent versioning.

[2021-06-16 15:13] leoafarias commented on #320
You can have whatever version of Flutter installed if you have the latest version of Dart SDK. Locally, if you are using the Dart version on Flutter to install FVM, then you would have to run the Dart on Flutter 2.2.

If the above is very confusing, I suggest just installing FVM through brew, or chocolatey, per the instructions on the docs.

[2021-06-16 16:01] leoafarias commented on #315
@2ZeroSix We had another similar issue, and due to some challenges with validation in the past few days due to downtime and changes on Flutter I decided to remove it. That should solve your problem.

[2021-06-16 16:16] #321 closed

[2021-06-16 16:16] leoafarias commented on #315
This has been deployed on version 2.1.1

[2021-06-16 16:16] #315 closed

[2021-06-16 16:17] leoafarias commented on #304
@mx1up let me know if the version 2.1.1 solves this problem, I think this should be much better now

[2021-06-16 16:17] #304 closed

[2021-06-16 16:18] leoafarias commented on #287
Closing this issue, we have updated the FAQ which maybe this is what its related to, if not feel free to open it again. https://fvm.app/docs/guides/faq#command-pub-not-found

[2021-06-16 16:18] #287 closed

[2021-06-16 16:25] mx1up commented on #304
@leoafarias  awesome! i can confirm it works again, thanks

[2021-06-16 17:06] kuhnroyal commented on #321
Great jib, this also makes all commands a lot faster in certain scenarios!

[2021-06-16 18:41] rahuldange09 commented on #320
@leoafarias  Thank you so much for the quick response with a suggestion. I have installed standalone by brew.
Fixed that issue now
Thank you.
Closing this.

[2021-06-16 18:41] #320 closed

[2021-06-16 21:42] knaeckeKami commented on #305
See https://github.com/flutter/flutter/issues/84347#issuecomment-862743141

TL;DR:
Flutter uses the current channel to figure out what features to enable
See https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/features.dart#L367

When you use fvm, the channel is unknown, so the experimental features of master are enabled.
There was a bug that then caused hot reload to sto

[2021-06-16 22:25] leoafarias commented on #305
@knaeckeKami thanks will check it out to see if there is a proper workaround.

[2021-06-17 02:48] leoafarias commented on #305
@knaeckeKami and @kuhnroyal  if you guys can help test to make sure you are getting the correct behavior `pub global activate fvm 2.1.2-dev.0`,

the only downside is that the upgrade message shows up for the version and might cause users to upgrade.. I wonder if I should put a guard if version is not a channel.

[2021-06-17 09:04] kuhnroyal commented on #305
The version default to stable now which helps with my current problem.

But I don't think this is enough. It needs to support version X on channel Y format somehow which means it needs to support 2 CLI arguments and have the optional channel in the JSON config.
If there is no channel defined it needs to default to `stable`.

**version and channel**
* install specific version from channel

**channe

[2021-06-17 09:06] kuhnroyal commented on #305
For example version 2.0.0 is available on `stable` and `beta`.
I don't have a way to install it form the `beta` channel atm.

[2021-06-17 11:16] leoafarias commented on #305
Yes I wanted to avoid that but makes sense. I can pass a flag —channel if using with a version and prioritize that one.

Not sure if I should warn the users as I don’t think is common for people to install a stable version from beta. But we should allow the override.

[2021-06-17 12:17] kuhnroyal commented on #305
I would add a warning when there is only a version configured and this version is not on stable, basically telling the user which channel was detected and that they should add the `--channel` flag to hide this warning and make it explicit.

[2021-06-17 12:43] knaeckeKami commented on #305
Yeah, with 2.1.2-dev.0 the channel is detected correctly and this fixes the issue with the experimental features to be enabled on a supposedly "stable" version.

I agree that there should probably be a way to pick the channel for a given version if it was released on multiple versions.

[2021-06-17 13:25] leoafarias commented on #305
Any suggestions how to handle the upgrade? The users now will be presented with the message to upgrade.

once they do fvm will lose track of the version and it won’t match, I can’t do much since this can happen from outside of fvm.

should we just have a notice and maybe flag if you run “fvm flutter upgrade” on a non channel version?

[2021-06-17 13:37] kuhnroyal commented on #305
Yea I would intercept this case and make it an interactive question y/n and tell them the consequences.

And maybe proxy all other commands with `--no-version-check`.

[2021-06-17 13:50] leoafarias commented on #305
I will have to store that version also, in the config... seems like there is a lot of complexity for something that I am not sure is done on purpose. Having a stable version on a release, especially since they make it to beta after stable most of the time.

[2021-06-17 13:55] knaeckeKami commented on #305
I didn't really look into the architecture of fvm so I don't know what is easy to implement, but maybe you could also filter to "upgrade" message from being printed?

Also fvm could have a check if the current flutter version matches the expected version.

And yeah `fvm flutter upgrade` should be flagged.

Honestly, maybe we should open an issue on flutter.

[2021-06-17 13:58] kuhnroyal commented on #305
Linking this for reference https://github.com/flutter/flutter/issues/59533

[2021-06-17 14:54] knaeckeKami commented on #305
Also I opened #84781, which would at least cause more awareness of that behaviour

[2021-06-17 14:56] leoafarias commented on #305
Hey guys I think I found an elegant solution for the channel version problem. Right now the behavior will be.
- `beta` => Latest version on beta
- `2.2.2` => Finds channel on priority (stable, beta, dev)
- `beta-2.2.2` => Gets 2.2.2 from beta channel
- 'commit_hash` => Gets commit from master channel

This `channel_name+version` keeps all the rest of the config and tooling working how is expected.

[2021-06-17 14:59] kuhnroyal commented on #305
This would be fine for me, I would personally go with `beta/2.2.2` as some versions already contains dashes.

[2021-06-17 15:01] leoafarias commented on #305
@kuhnroyal wants to avoid headaches with `/` and the file system since this is the directory that will look for the cache version, including any custom versions. Now for example you can have any flutter fork inside any named directory and just call it.

[2021-06-17 15:03] kuhnroyal commented on #305
What about `2.2.2@beta` - I think this is even better

[2021-06-17 16:11] leoafarias commented on #305
`pub global activate fvm 2.1.2-dev.1` has the `--no-version-check` and also the new convention `2.2.2@beta`

[2021-06-17 19:19] leoafarias commented on #305
2.2.0 release closing this

[2021-06-17 19:19] #305 closed

[2021-06-17 21:55] kuhnroyal commented on #305
Getting this on `fvm flutter pub run`:

[code]

Need to figure out which commands support this. Probably only plain flutter commands an not those that proxy themselves to dart/pub.

[2021-06-17 23:09] leoafarias commented on #305
Hmmm…  I am adding the “—no-version-check” and seems it would also run on pub…  maybe I need to change to add to the first index of args instead of in the end .

I am not in front of the computer. But if you want to dia quick fix, it is on flutter_command.dart and I can merge

[2021-06-18 02:50] leoafarias commented on #305
Went ahead and removed it for now until I have a chance to write testes around this

[2021-06-21 06:37] yahu1031 opened #325 "Add cancel button for downloading progress [Feature Request]"

[2021-06-21 06:42] yahu1031 commented on #325
sorry wrong feature please delete 🙏🏻

[2021-06-21 14:06] #325 closed

[2021-06-22 09:48] Nabouste commented on #319
fvm verbose.

![image](https://user-images.githubusercontent.com/29367624/122903276-70172280-d379-11eb-8881-4af96f391d0e.png)

[2021-06-23 08:12] techwithsam opened #329 "I have a problem installing all flutter versions and channels"
I have a problem installing all flutter version and channel including changing settings, while installation process done correctly
[code]
![Screenshot 2021-06-23 090222](https://user-images.githubusercontent.com/42917957/123059767-02630900-d402-11eb-92cc-050f3aaa656b.png)

[2021-06-23 16:13] AleFachini commented on #312
Can you help me? i think the problem is that new fvm wont work with old versions? maybe is that

[2021-06-23 16:21] leoafarias commented on #312
@AleFachini It seems its something with your environment. But please do the following:
- https://fvm.app/docs/guides/faq#environment-variables-order-for-windows-in-path Your env vars need to be in this order.
- Then `dart pub cache-repair`
- Then `dart pub global activate fvm`

If that does not work, please do a `fvm doctor` and give me the output after the steps above

[2021-06-23 16:23] leoafarias commented on #319
Maybe I was not clear please add `fvm --verbose` in front of the rest of the command `flutter build apk .........`
So its `fvm --verbose flutter build apk .....other args.... `

[2021-06-23 23:56] peterlobster opened #328 "Not working on WSL"
For some reason, I can't get this to work on my Windows machine using Debian on WSL2. I'm not even too sure if the problem is related to WSL but I'm assuming as it works on macOS fine. Anyone know what it could be?

[code]

[2021-06-24 00:12] leoafarias commented on #328
@peterlobster not sure how to approach this can you run a —verbose, is it even running fvm?

[2021-06-24 00:43] peterlobster commented on #328
@leoafarias Thanks for stepping in. Here's the output with `--verbose`...
[code]

[2021-06-24 00:52] leoafarias commented on #328
@peterlobster are you sure the create did not run? Can you do `fvm --vebose flutter --version`?

[2021-06-24 00:55] peterlobster commented on #328
@leoafarias Yes, cause there are no output files created. Kinda, this is what I get back...

[code]

[2021-06-24 00:58] leoafarias commented on #329
@techwithsam moved it here since this is not a sidekick issue. Can you confirm that  the `C:\Users\samue\fvm\.settings` exist in that folder, even if does not it should not give an error, I am not sure what is going on, any further other info you can provide?

[2021-06-24 01:06] leoafarias commented on #328
@peterlobster I am not sure what could be happening, but I believe that when its Windows it looks for .bat file, which I don't think it would run.

[2021-06-24 01:15] techwithsam commented on #329
There is no folder just a file
![Screenshot 2021-06-24 021427](https://user-images.githubusercontent.com/42917957/123187369-f0c94200-d491-11eb-9565-40108a04cfc9.png)

[2021-06-24 01:15] peterlobster commented on #328
@leoafarias Could it be that I'm interop'ing the `FVM_HOME` folder between `FVM` on Linux, Windows, and Sidekick on Windows?

[2021-06-24 01:16] techwithsam commented on #329
Okay

[2021-06-24 01:17] leoafarias commented on #317
@2ZeroSix Sorry for the delay, there seems to be a similar conversation to helping solve this on Melos through https://github.com/invertase/melos/issues/81, I am not opposed to the idea, but not sure when I will be able to get to it, is that something you would like to do a PR for?

[2021-06-24 01:22] leoafarias commented on #328
I think that could be having different side effects but I am not sure. In theory by the time it hits this fvm:running version, it found the SDK, and its creating a process linking to it.

My first thought is that this line

[code]

Might be giving problems since it thinks it is windows.

Any way you can clone the repo and install the fvm version locally to debug this?

You can just run

[code]

On

[2021-06-24 01:27] leoafarias commented on #329
@techwithsam not sure how this file got there, can you remove it. Install fvm again make sure you are running 2.2.2, and do the install to see if that resolves the issue

[2021-06-24 01:32] leoafarias commented on #317
@2ZeroSix I took a better look at it, and I think all the pieces are there to be able to accomplish this, its very similar to the `fvm flutter` command. I will go ahead and give it a try and if you can help me test and review it would be great

[2021-06-24 07:45] peterlobster commented on #328
@leoafarias Should I uninstall first? I installed it via `brew`.

[2021-06-24 09:48] techwithsam commented on #329
**Still the same**

**Installation**
[code]

**Installing Flutter version**
[code]

[2021-06-24 12:57] LenWdk commented on #100
Just some additional information in case you are trying to reproduce this, @leoafarias,
- I used` flutter global stable `to replace my old local flutter.
- In .zshrc I changed the PATH to "~/fvm/default/bin"
- I removed my old flutter from /Application/flutter

Afterwards I was able to use `flutter` and `dart` from `fvm/default/bin`, but `pub` was not found for some reason.
This lead me to this th

[2021-06-25 09:08] mreichelt commented on #329
I don't know if this is the same issue, but I can install all recent Flutter versions but 2.2.2.
Installing 2.2.1 works, but this is the output for 2.2.2:

[code]

More infos:

[code]

[2021-06-25 09:22] mreichelt commented on #329
Ok, I could fix it for me. The problem was that I was using an old version of fvm (1.3.7 instead of 2.2.2), which I installed according to the fvm docs using `dart pub global activate fvm`. But because I was using Flutter SDK 1.22.6 (needed for a project) to install FVM that could only pick the old FVM version.

I had to uninstall FVM using `pub global deactivate fvm`, and install it using `brew i

[2021-06-25 11:55] techwithsam commented on #329
Hi @leoafarias, I have resolved the issue I just follow the @mreichelt process and everything works fine

**Steps I took**
1. Run PowerShell as administrator
2. Run `pub global deactivate fvm`
3. Run `dart pub global activate fvm`
4. `fvm list`
5. Run `fvm install <flutter SDK version>` e.g 2.2.2 and that's it, issue resolved.

Thanks, @mreichelt & @leoafarias

[2021-06-25 11:56] techwithsam commented on #329
closing issue now

[2021-06-25 11:56] #329 closed

[2021-06-25 15:02] AleFachini commented on #312
When runing "dart pub cache repair" got this log:

`For solutions, see https://dart.dev/go/unsound-null-safety
Reactivating fvm 2.2.2...
Precompiling executables...
Failed to precompile fvm:main:
Error: Couldn't resolve the package 'fvm' in 'package:fvm/src/runner.dart'.
/C:/Users/afachini/AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/fvm-2.2.2/bin/main.dart:3:8: Error: Not found: 'package:fvm

[2021-06-25 15:09] leoafarias commented on #312
@AleFachini I can see what is happening, just not sure why it would happen. Can you do something else for me because there is people that had issues when switching/upgrading dart sdk

- `pub global deactivate fvm` This is the old command just to make sure it gets deactivated
-  `dart pub global deactivate fvm` Just in case.
-  `dart pub global activate fvm`

See if this does the trick.

[2021-06-25 15:35] AleFachini commented on #312
i suspect that the problem is that the version of flutter im using is prior to null safety so i need to use a previous version of fvm previous to null safety, just FYI my friend has 1.3.8 and fvm its working and building APK for her. so older fvm (1.3.8) would work, ill try that too

[2021-06-25 15:56] AleFachini commented on #312
I ve just tried the following:

deactivated fvm (success)
repaired dart cache (success)
installed older version of FVM with: dart pub global activate fvm 1.3.8
then used comand fvm --version
log is:
C:\Datasruvey\DataSurveyPBS_MobileAPP_v2>fvm --version
1.3.8

then releases and see my required version: v1.12.13+hotfix.9

then run command: fvm install v1.12.13+hotfix.9 and got

this log:
`C:\Datasr

[2021-06-25 16:04] leoafarias commented on #312
Can you run the with `--verbose`? `fvm install v1.12.13+hotfix.9`

[2021-06-25 16:48] AleFachini commented on #312
Well leo, i was able to run the fvm flutter apk build path/to/main/target/file

Steps:
Deactivated fvm globally
Activated fvm version: 1.3.4
installed release: v1.12.13+hotfix.9
ran: fvm flutter build apk lin/main_dev.dart

Log:

`C:\Datasruvey\DataSurveyPBS_MobileAPP_v2>fvm flutter build apk lib/main_dev.dart
FVM: Running version v1.12.13+hotfix.9
You are building a fat APK that includes binaries

[2021-06-25 17:59] leoafarias commented on #312
@AleFachini maybe that is it… you can try running on chocolatey that should work regardless for the dart sdk

[2021-06-26 16:37] peterlobster commented on #328
@leoafarias Any word on what I should do?

[2021-06-26 18:01] leoafarias commented on #328
I don’t to be honest. Did you try installing through pub? After uninstalling from brew?

[2021-07-05 11:54] LenWdk commented on #100
It just happend again when fvm upgrade upgraded my stable 2.2.2 -> 2.2.3.
`~/.pub-cache/bin/fvm: line 15: pub: command not found`

[2021-07-05 12:33] leoafarias commented on #100
@LenWdk can you do the `pub global deactivate fvm` and install it again using `dart pub activate fvm`?

[2021-07-05 12:44] LenWdk commented on #100
I cant do `pub global deactivate fvm` because `zsh: command not found: pub`  and also not `dart pub activate fvm` because "activate" is not a subcommand for "dart pub"

but

[2021-07-05 14:38] leoafarias commented on #100
Sorry had a typo... on the global command. I believe this happens across the board with changes to the Dart SDK

[2021-07-11 13:20] iapicca opened #330 "[BUG] after failed "flutter upgrade -f", "fvm remove master" fails as well"
**Before creating a bug report please make check the following**

- [ x ] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [ x ] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [ x ] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [ x ] Run `fvm doctor` if p

[2021-07-12 18:51] #330 closed

[2021-07-14 01:01] cassiorosso commented on #319
![Capturar](https://user-images.githubusercontent.com/61170321/125544341-6b1eccf0-5cb9-49e9-b072-0b04ae1e0e7d.PNG)

Same problem here

[2021-07-16 08:51] disconnect5852 commented on #100
so what is the solution?

[2021-07-16 08:57] disconnect5852 opened #333 "[BUG] Can't load Kernel binary: Invalid kernel binary format version."
**Describe the bug**
when i try to use fvm i get "Can't load Kernel binary: Invalid kernel binary format version."

**To Reproduce**
Steps to reproduce the behavior:

1. Go to terminal..
2. Run `fvm`...
3. Check...
4. See error

**Expected behavior**
fvm to do anything.

**Logs**
PS C:\WINDOWS\system32> fvm --verbose
Can't load Kernel binary: Invalid kernel binary format version.
'pub' is not reco

[2021-07-16 11:55] leoafarias commented on #333
@disconnect5852 I would update the local dart version if you are using... and follow the steps here https://fvm.app/docs/guides/faq#invalid-kernel-binary-or-invalid-sdk-hash-when-running-fvm

After trying the steps above, if it does not work please do a `fvm doctor`

[2021-07-16 12:49] disconnect5852 commented on #333
As i wrote fvm itself does not work, nor with any arguments, so fvm doctor
neither works.

Leo Farias ***@***.***> ezt írta (időpont: 2021. júl. 16., P
13:55):

[2021-07-16 14:31] leoafarias commented on #333
@disconnect5852 understood. Please follow the instructions of the link I posted

[2021-07-16 15:36] disconnect5852 commented on #333
does not solved. I've found it for the similar issue too, and tried that before posted this. Now i tried again, still not helps.

[2021-07-16 16:45] leoafarias commented on #333
@disconnect5852 some questions
- Were you using a global fvm version?
- Does the same happen if you install any other global pub.dev packages?

[2021-07-16 21:22] leoafarias commented on #333
For reference this is a duplicate of #100

[2021-07-19 03:15] josh-burton opened #334 "[Feature Request] command to just return active version"
## Before creating a feature request make sure the suggestion fit within our [principles](https://fvm.app/docs/getting_started/overview#principles)

**Is your feature request related to a problem? Please describe.**
I'm setting up FVM with Github actions and want to cache the Flutter SDK.

I'd rather not cache the entire FVM cache directory, but just the active Flutter SDK version.

I can't seem t

[2021-07-19 11:57] leoafarias commented on #334
@josh-burton by the active version you mean the active version within a specific project? `fvm doctor` returns a lot of information about the current environment fvm is running in, maybe a flag `fvm doctor --active-release` might be a better option to just output the active release being used within the env.

Let me know what you think.

[2021-07-19 12:07] kuhnroyal commented on #334
Hi @josh-burton, I experimented a lot with FMV in Github actions but found it the easiest to just use plain Flutter there.

I created a PR in subosito/flutter-action which allows to read FVM config files easily.
https://github.com/subosito/flutter-action/pull/103

Without this change I am using this:
[code]

[2021-07-19 12:42] leoafarias commented on #334
@kuhnroyal how does this impact the issue with the feature flags for version numbers? Does the action handles that correctly?

[2021-07-19 12:58] kuhnroyal commented on #334
You are right, I have not used it with such a version string. That will probably not work.
I wonder if we should create a simple FVM action that reads the config file and provides the environment variables to configure the "semi-official" Flutter action.

However, this may be not what Josh needs. Didn't mean to hijack the issue :)

[2021-07-19 15:05] Caiheng12 opened #335 "How to upgrade fvm version to latest?"
I run pub global activate fvm always update to 1.3.6, Why?

[2021-07-19 15:06] Caiheng12 commented on #335
but latest version is 2.2.2

[2021-07-19 15:07] kuhnroyal commented on #335
Your global Dart version is probably too old. (The one you are running `pub` with)

[2021-07-19 16:09] KyawNaingTun commented on #335
![Screen Shot 2021-07-19 at 22 35 58](https://user-images.githubusercontent.com/6079250/126191801-25049ad1-ef77-46ae-b7c4-7b6fe482146d.png)
Same here

[2021-07-19 16:23] leoafarias commented on #335
In order for you to install through `pub global` you need to have the latest stable version of Dart with null safety.  If you do not want to go through that or does not have the standalone version of dart installed.. I would suggest installing through brew or chocolatey.

https://fvm.app/docs/getting_started/installation

[2021-07-19 20:29] josh-burton commented on #334
An official action would be great!

`fvm doctor --active-release` would also work. I wonder if we need a command to return just the local project version, and one to return the global version as well.

Maybe `fvm doctor --active-release` and `fvm doctor --global-release`.

I currently have FVM working in actions by using the official dart action, then activating FVM via dart pub, and caching the F

[2021-07-19 21:35] leoafarias commented on #334
@josh-burton i am not sure when I would be able to get to that but would not mind reviewing a PR to the flag and/or a fvm action.

I don't think a global version flag is needed however.

[2021-07-20 11:48] VisakhRaman commented on #335
Yes, agreeing with @leoafarias. Upgrading dart version to the latest will install the latest version of FVM through CLI.

To upgrade your Flutter SDK version, try `flutter upgrade`
Once updated, try `pub global activate fvm`

[2021-07-20 13:42] madscs11 opened #336 "[BUG] "NoSuchMethodError: The getter 'iterator' was called on null" when using fvm use version command"
**Describe the bug**

Our CI suddenly started (this week) getting issues when running `fvm use $FLUTTER_VERSION` after having previously worked fine.
It now even fails on old builds that succeeded in the past.

As part of the commands given for this build task we should be updating fvm correctly and it has also been working fine previously.

This command is run before the `fvm use` command in ques

[2021-07-20 16:36] leoafarias commented on #336
@madscs11 I suggest updating FVM to the latest version. The previous version of FVM was dependent on an endpoint from Flutter that was deprecated without notice. I believe this is what might be causing the issue.

[2021-07-20 16:43] leoafarias commented on #319
@cassiorosso could you try to install 1.22.6 through `fvm install 1.22.6`, seems fvm is getting a configuration to run 1.22.6 but its getting an error which I am not familiar with

[2021-07-26 10:10] madscs11 commented on #336
@leoafarias Thank you! We were missing a `flutter upgrade` call in the given script before running the fvm commands 🙂

It's working now so I'll close the issue.

[2021-07-26 10:10] #336 closed

[2021-07-27 03:56] Levi-Lesches commented on #227
Hi guys! Author of https://github.com/dart-lang/pub/issues/2934 here (wow I'm famous 😄). Not sure why I didn't just do it then, but I submitted a PR now to remove the broken line from the Batch file, [as you guys noticed](https://github.com/leoafarias/fvm/issues/227#issuecomment-792263055). Hopefully it gets merged. I'm interested in how this passed all their tests since the latest release of Dart

[2021-07-27 05:01] Levi-Lesches commented on #227
Hey I figured something out: Not only does removing the second `dart pub` call fix the problem, but if you change the `dart %snapshot%` to `call dart %snapshot%` (and keep the second `dart pub` call), it works! I'm going to look into the documentation for the `CALL` command to figure this out.

[2021-07-30 14:17] kuhnroyal commented on #334
I created a simple action that parses the FVM config file. It can be used together with the semi-official flutter-action as well as with custom setup.

https://github.com/kuhnroyal/flutter-fvm-config-action

[2021-07-30 14:39] leoafarias commented on #334
@kuhnroyal We have some things like that and Docker images, was thinking about linking to them on the documentation. Any suggestions?

[2021-07-30 14:55] kuhnroyal commented on #334
Yea maybe add some section linking to 3rd party tools and helpers.

[2021-08-02 18:48] leandrogodoycwb opened #337 "Como desinstalar o fvm"

[2021-08-02 20:07] leoafarias commented on #337
@leandrogodoycwb se voce instalou usando o pub pode ver aqui como deactivate https://dart.dev/tools/pub/cmd/pub-global#deactivating-a-package

[2021-08-02 20:12] #335 closed

[2021-08-02 20:20] leandrogodoycwb commented on #337
Obrigado

[2021-08-03 13:01] #337 closed

[2021-08-05 09:34] kevindaizj commented on #328
@leoafarias  some error on macOS. (installed fvm with brew)

[2021-08-05 10:30] leoafarias commented on #328
@kevindaizj not sure if this is an fvm error.. since the binary does not even run… do you have other packages from brew also running on that env?

[2021-08-05 15:27] leoafarias commented on #313
@prajwal27 I will go ahead close this issue as I dont have enough information to be able to troubleshoot and have not received feedback on the last comment. Please open a new issue if the problem persists.

[2021-08-05 15:27] #313 closed

[2021-08-05 15:28] #312 closed

[2021-08-05 15:30] #309 closed

[2021-08-05 15:33] leoafarias commented on #319
@cassiorosso looking at the issue again, I believe because the version is not installed.. you have to run it as administrator, and link to the project also. After that, you won't need to run as an administrator.

I will go ahead and close this issue, please reopen with detailed information on how to replicate it to see how I can help.

[2021-08-05 15:33] #319 closed

[2021-08-05 18:19] acoutts commented on #202
Is this still in the works?

[2021-08-05 18:22] leoafarias commented on #202
@acoutts it's not in the works.. per se.. but I am keeping it open if we can gain a bit more insight on how to make this happen, but since this is happening on official tooling, I am not sure if it can be done correctly

[2021-08-13 01:32] 1lin24 opened #338 "VS Code got 'Could not find a Flutter SDK.' error after fvm installed"
Thinks for developers of fvm at first.

I have install fvm and tow flutter SDK in my new mbp. But VS Code could not find the sdk downloaded by fvm.

I decide to use fvm to manage my Flutter SDK, and never download Flutter from official website.

How I can use fvm only, and let VS Code detect my Flutter SDK that has manage by fvm.

Thinks for your help. ^_^

[2021-08-13 02:01] leoafarias commented on #338
@1lin24 let me know if this helps you https://fvm.app/docs/getting_started/configuration#vs-code

[2021-08-17 08:01] festelo commented on #317
You can also create small scripts with names `dart` and `flutter` which will forward your commands to fvm:

file `dart`
[code]

file `flutter`
[code]

Add these scripts to your path and you will be able to use `flutter` and `dart` commands as usually, so you can directly execute your `my_custom_script_to_accomplish_task_with_many_commands.sh`.

This is useful when you only have flutter installed f

[2021-08-28 14:21] leoafarias commented on #338
@whoizit did you follow the instructions I linked to? It seems the dart sdk is pointed to a repository on asdf, maybe it was removed?

[2021-08-31 08:39] JulianBissekkou opened #339 "Update docker image"
**Is your feature request related to a problem? Please describe.**
We are using fvm in our gitlab CI. We are using `leoafarias/fvm` from docker hub. The current version does not list the latest flutter release 2.2.3.

**Describe the solution you'd like**
It would be nice to have the latest fvm version in the docker image.

[2021-09-04 03:28] marcellodesales commented on #339
@JulianBissekkou can you point me to your `.gitlab-ci.yml`?

[2021-09-04 07:27] JulianBissekkou commented on #339
The project is not open source. So here are the parts that i can share:

Here my .gitlab.yml
[code]

Here my fvm_config.json

[code]

When running `fvm install` it says an unknown release. For debug purposes I run `fvm releases` and 2.2.3 was not listed there.

[2021-09-04 12:08] leoafarias commented on #339
The docket image has a version of FVM with a deprecated releases URL this is why. Will try to take a look later but if someone wants to give it ago I can review the PR.

[2021-09-06 15:24] JulianBissekkou commented on #339
I am not a docker pro, but the only thing that needs to be done is to change the release URL in the docker file, right?

[2021-09-07 06:47] jld3103 commented on #339
https://hub.docker.com/r/leoafarias/fvm has last been published 4 months ago. that should be a problem, right?

[2021-09-07 06:58] jld3103 commented on #339
https://github.com/leoafarias/fvm/actions/workflows/deploy_docker.yml this has only run once and failed...

[2021-09-07 15:17] leoafarias commented on #339
@jld3103 It seems that half of the workflow is running and has updated the fvm image, but the alpine has not been published, I don't think it has ever been. Anyone that can help with that as I have very limited time this week.

[2021-09-07 16:06] marcellodesales commented on #339
I'm taking a stab on it locally... Don't promise anything but I'm also interested in contributing and making the dockerized build available locally instead of depending on the pipeline :)

[2021-09-07 16:17] leoafarias commented on #339
Thanks @marcellodesales please reach out if you have any questions

[2021-09-08 23:41] SogoGolf opened #340 "cant see flutter version 2.5 ?"
hi, for some reason i cant see Flutter v2.5 in the stable channel in the FVM UI ?

```fvm --version```
is showing 2.0.4 which is not current...

[2021-09-08 23:54] leoafarias commented on #340
@SogoGolf what version of FVM are you using. Also can you check again the version should be showing up now.

[2021-09-08 23:57] SogoGolf commented on #340
hey @leoafarias yes it seems ive got 2.0.4 even though i ran a CLI update of FVM.

[2021-09-09 00:03] SogoGolf commented on #340
i ran ```brew``` install of FVM again and its now showing v2.2.3. Version 2.5.0 is now also showing up in the list of available Flutter SDK versions

[2021-09-09 00:03] #340 closed

[2021-09-09 11:48] matecode opened #341 "[Feature Request] "Symlinked" versions of stable, dev ... it should really link to their versioned directories"
Im using fvm since Flutter 2.2.3 came out. Now Flutter 2.5.0 is stable. I was wondering why "fvm install stable" was not installing version 2.5.0. I realized that stable is not a symlink to a version but an independent version. This undermines the usefulness of a version manager.

**Is your feature request related to a problem? Please describe.**
If i link "stable" in my project, i would assume th

[2021-09-09 13:05] leoafarias commented on #341
@matecode I believe this issue might be a duplicate of this https://github.com/leoafarias/fvm/issues/340 if it is, the problem should be resolved.

`fvm install stable` should indeed install the latest version on stable unless a previous stable version is already installed. In that case you would have to run a `fvm flutter upgrade`

[2021-09-10 13:52] matecode commented on #341
Thanks for your answer, but it isn't a duplicate as i have no problem with fvm, it is working correctly (as it should by design now). My suggestion is different.

fvm should only install a symlink to to current stable version, but not install flutter in a directory called "stable". if i run "fvm install stable" again, it should check if the symlink is showing to the current stable version and if n

[2021-09-10 16:58] leoafarias commented on #341
@matecode I understand now. One thing that comes to mind though is the expectation of flutter behavior. When you install `stable` you are not installing the latest `stable` version, you are installing the stable channel. That is what people expect when using it. Changing this behavior might cause some confusion.

Regarding the benefit of not having to `fvm flutter upgrade,` you would still have to

[2021-09-13 06:07] zhengcan opened #342 "[Feature Request] add auto completion in zsh"
I use the following alias in zsh:
[code]

Due to the lack of auto completion of fvm, zsh cannot show any suggestion when I'm typing commands.

[2021-09-14 12:54] E-jarod commented on #342
I would like to add, that an oh-my-zsh plugin will be awesome, as it is the case for many plugins in the image below (including nvm)

![image](https://user-images.githubusercontent.com/57091681/133261097-3c7c53b2-8f42-4b79-9da1-d01174fbeefd.png)

[2021-09-14 13:04] leoafarias commented on #342
@E-jarod if you can provide some more information to see if we can get a contributor for that would be helpful

[2021-09-14 13:25] E-jarod opened #343 "[Feature Request] Out-of-the-box Debian or Arch based Linux installation support"
I am on Linux (Ubuntu/Debian or Manjaro/Arch Linux), can you add support for `apt` and `pacman` as "simple way to install" ?

[code]

I think it will bring way more people in order to contribute for this tool, or simply use it

[2021-09-15 12:28] toshiossada opened #344 "[BUG] I Cant install flutter 2.2.3"
I Cant install Flutter 2.2.3
When I ran `fvm install 2.2.3` I got `2.2.3 is not a valid Flutter channel or release`
![image](https://user-images.githubusercontent.com/2637049/133433057-4a58ac7c-b2d2-4eda-8ab9-5dfec715b7ea.png)
In releases list `fvm releases` don't has a 2.2.3 version
![image](https://user-images.githubusercontent.com/2637049/133433395-5ed2cb89-1195-435f-8f0b-be2069583c4d.png)

[2021-09-15 12:29] leoafarias commented on #344
@toshiossada please make sure you are using the latest version of fvm, flutter had deprecated the UrL that checked for releases.

[2021-09-15 12:39] #333 closed

[2021-09-15 12:40] leoafarias commented on #338
@whoizit I will be closing this issue, please feel free to reopen if you still need help

[2021-09-15 12:40] #338 closed

[2021-09-15 12:41] leoafarias commented on #344
Will close this issue, as its solved once you update FVM

[2021-09-15 12:41] #344 closed

[2021-09-15 12:45] toshiossada commented on #344
How I do?
![image](https://user-images.githubusercontent.com/2637049/133435763-68c4ce92-5205-4794-987d-3fc26cf50f96.png)

[2021-09-15 12:52] toshiossada commented on #344
Ok, I've uninstall slidy, ran `choco upgrade fvm` an after re-installed slidy and thats works

[2021-09-15 12:53] leoafarias commented on #344
Great @toshiossada!

[2021-09-15 14:56] jjoelson opened #345 "Can FVM be used to proxy flutter commands headlessly, automatically using the version defined by fvm_config.json?"
I'm not sure if this is the appropriate venue for a question, so please let me know if I should post this somewhere else.

Is there a way to use fvm headlessly (e.g. in a CI build script) such that the version defined for the project in `fvm_config.json` is automatically used? The issue I'm currently seeing is that if I try to call `fvm flutter <command>` when the version is not installed, then fv

[2021-09-15 15:15] leoafarias commented on #345
@jjoelson if you run the command `fvm install`, it will automatically install the version that is configured on the project config. I suggest running that  before `fvm flutter analyze`

[2021-09-15 15:22] jjoelson commented on #345
@leoafarias So simple! Thank you!

[2021-09-15 15:22] #345 closed

[2021-09-16 16:28] JulianBissekkou commented on #339
Any updates? 🤔  @marcellodesales

[2021-09-19 07:09] marcellodesales commented on #339
@JulianBissekkou Sorry I got caught up with work, school, :( Didn't have time to go around it.... I did try a bit but I think anyone new needs to replicate what's in the pipeline into the Dockerfile (what I think it's more natural) in order to get it working for local builds... My template for Dockerized docker images for CLI, this one in `Golang`, is at https://github.com/marcellodesales/cloner/b

[2021-09-19 13:18] Pluto1219 opened #346 "[Feature Request]How do I configure multiple environments?"
![image](https://user-images.githubusercontent.com/15402976/133928978-afce64cf-5c4e-45ee-aeea-2f88b3743b13.png)

[2021-09-19 15:32] leoafarias commented on #346
@Pluto1219 will need a bit more context on the item above. I am not an android studio user.

If it helps FVM does have the concept of flavors also for environments.

https://fvm.app/docs/guides/project_flavors

[2021-09-20 14:55] jld3103 opened #347 "[BUG] FVM_HOME is read relative to the current working directory"
**Describe the bug**
`FVM_HOME` is read relative to the current working directory and not relative to the directory that contains the config directory. This is confusing because you can not use a relative path for the `FVM_HOME` directory if you work with a monorepo.

**To Reproduce**
Steps to reproduce the behavior:

1. `export FVM_HOME=".fvm/cache"`
2. `fvm install`
3. `cd some-sub-directory`
4.

[2021-09-23 09:07] Mantas0726 opened #348 "Wrong dart path in some (older) flutter versions"
[code]

**Describe the bug**

It points to a non-existing file when trying to execute dart.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to terminal..
2. Run `fvm use 1.17.0` install if not installed.
3. run `fvm dart --version`
4. Should get
[code]

**Expected behavior**
It should reference dart in 1.17.0\flutter_sdk\bin\cache\dart-sdk

**Desktop (please complete the following inform

[2021-09-24 13:15] leoafarias commented on #348
@Mantas0726 Do you want to try a PR for this so I can review?

[2021-09-24 14:05] jamesncl opened #349 "'fvm flutter pub cache clean' deactivates fvm"
I have been using FVM on Windows for 2 projects with different versions of flutter (1.22.6 and 2.5.0) by doing the following:

- Installing Dart SDK via choco
- `dart pub global activate fvm`
- `fvm use <version>` in the project root
- Configured android studio to use the symbolic link in the .fvm folder via Languages & Frameworks -> Flutter

I've been using it with no problems for a few weeks now

[2021-09-24 14:28] leoafarias commented on #349
@jamesncl If you are using the dart version in cache I believe this will be the case..  could you try installing using chocolatey? See if the behavior persists in this case?

[2021-09-26 23:47] maks commented on #343
For Debian based distros getting something into the main debian repository I think is [quite an under taking](https://www.debian.org/doc/manuals/distribute-deb/distribute-deb.html#getting-a-sponsor), but as an alternative there could just be a [package repository setup](https://www.debian.org/doc/manuals/distribute-deb/distribute-deb.html#distributing-packages-yourself) to distribute the deb file,

[2021-09-26 23:54] maks commented on #343
Actually since fvm uses [cli_pkg](https://pub.dev/packages/cli_pkg) its [in the same boat as dart_sass](https://github.com/sass/dart-sass/issues/1164) so really I think the best idea would be to contribute support for debian packages to cli_pkg and I guess @leoafarias that would tie in nicely with your existing CI/CD process for fvm?

[2021-09-27 11:11] jamesncl commented on #349
Sorry for the late reply, yes as stated in the original post I installed dart via chocolately. I did originally used the dart which came packaged with flutter, before I switched over to using FVM. When switching over to FVM I removed my existing installations of flutter first, so I had to install dart separately. Hope that makes sense.

I'm not sure what you mean by "the dart version in cache"?

A

[2021-09-27 16:22] leoafarias commented on #349
@jamesncl fvm does not add any environment variables, I think that is not even possible. However, these are the configuration instructions to use pub global from their guide.

[2021-09-27 17:56] jamesncl commented on #349
Okay thanks, maybe I added them earlier and forgot. Are you able to reproduce this issue, i.e. does running `fvm flutter pub cache clean` on your system result in the same problem I encountered?

[2021-09-28 12:16] JulianBissekkou commented on #339
@leoafarias @marcellodesales
I think the "only" thing that needs to be fixed is the pipeline deploying the new docker image, right?

[2021-09-28 12:48] leoafarias commented on #343
@maks that is correct, I believe this would be the best route

[2021-09-28 17:35] staminna opened #350 "[BUG] flutter install returns 0.0.0-unknown regression"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.

- [x] Run `fvm doctor` if possible and add the output to the issue.

$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flut

[2021-09-28 17:45] staminna commented on #350
I went ahead and found out about Sidekick. Locks awesome!
[print screen](https://www.dropbox.com/s/5vithda6ksbh98g/Screenshot%202021-09-28%20at%2018.41.19.png?dl=0)

$ cat .bash_profile | grep "fvm"
f="fvm flutter"
d="fvm dart"
export PATH="$PATH:/Users/myusername/fvm/default/bin"

$ fvm doctor

No FVM config found:
/Users/myusername
Fvm will run the version in your PATH env: /usr/local/bin/flutte

[2021-09-29 15:25] kzrfaisal commented on #227
QUICK HACK:
Open your fvm batch file, it could be at
[code]

fvm.bat
[code]

Comment or remove `pub global run fvm:main %*` before the else block.
To comment just add `rem` before the line and finally your file will look like this
[code]
SAVE it and hopefully the issue will be resolved.

[2021-09-30 00:41] Levi-Lesches commented on #227
@kzrfaisal, your solution will break the batch file in certain cases. Instead, change this line from
[code]
to
[code]

Now that https://github.com/dart-lang/pub/pull/3055 is approved, this issue will be solved when the commit reaches `stable`, and `dart pub global install` will include this fix. It's already been merged into `dart-lang/sdk`.

[2021-09-30 03:59] tony123S commented on #154
It doesn't work on my case.

[code]

Then I install stable
[code]

Upgrade it

[code]

Check version again

[code]

[2021-09-30 16:31] leoafarias commented on #349
@jamesncl Not sure if its really an issue, once you run that command flutter warns you of the following.

[code]

[2021-09-30 22:11] staminna commented on #350
I know it should be working properly but it's not on my macOS Catalina.
Besides the logs, what other information do you need?
I think it's something wrong in the PATH. Can you check the setting above and see if it's .bash_profile?
Should you require more information, I will be happy to assist you.

[2021-10-01 01:11] leoafarias commented on #350
Not sure.  Why are you using sudo?

[2021-10-01 09:43] staminna commented on #350
I tried sudo after standard installation guides because it could be wrong permissions. Same output.
There is an empty PATH setting though. Thinking it should have a set.
I will remove and reinstall from scratch and let you know.  Please don't clone just yet.

[2021-10-01 10:58] leoafarias commented on #350
That path should not impact this. One thing that would impact is not using the latest version of fvm. Can you make sure you are using the latest?

[2021-10-01 13:25] RomanKapshuk commented on #349
I have an alike issue. As a result of `fvm flutter pub cache repair` i get

[code]

[2021-10-01 13:57] staminna commented on #350
I had the latest version.
Only missed that Xcode was a dependency I did not wish to install because I was low on disk space.
Thanks for input

[2021-10-01 13:57] #350 closed

[2021-10-01 15:55] staminna opened #351 "[BUG]"
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
Done
- [ ] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
macOS
- [x] Run `fvm doctor` if possible and add the output to the issue.

$ fvm doctor

FVM Version: 2.2.3
___________________________________________________

[2021-10-01 17:08] leoafarias commented on #351
@staminna This is not a bug. If you want to use the `flutter` command instead of the `fvm flutter` routing you have to read the configuration on how to set it as a global. https://fvm.app/docs/guides/global_version

[2021-10-05 11:31] jamesncl commented on #349
@leoafarias Ah I see - so FVM is actually a dart package which is installed in the system package cache when we run `dart pub global activate fvm`. So yes it does make sense that cleaning the cache also basically deletes FVM. So I agree this is not really an issue, it's expected behaviour. I wonder if this is worthy of a small note in the docs?

[2021-10-05 11:36] jamesncl commented on #349
@RomanKapshuk That's a different problem and might be worth opening a separate issue - it makes sense that `cache clean` deactivates FVM as it is itself a package in the cache, but it doesn't make sense that `cache repair` can't repair FVM, so that sounds like a more serious issue

[2021-10-05 12:07] RomanKapshuk opened #352 "Can't reactivate fvm after pub cache repair"
As a result of `fvm flutter pub cache repair` at the end of execution I get

[code]

[2021-10-05 12:19] leoafarias commented on #349
@jamesncl if you can make any suggestions to the docs and do a PR, I will be able to review.

[2021-10-05 15:30] Rohit-ChauhanRC opened #353 "Seems you don't have the required permissions on C:\Users\hp\AppData\Local\Pub\Cache\global_packages\fvm On Windows FVM requires to run as an administrator or turn on developer mode: https://bit.ly/3vxRr2M[BUG]"
![issue](https://user-images.githubusercontent.com/42403041/136054423-270bbab1-d0c4-468b-8e3f-5cf91fd2bbed.PNG)

[2021-10-05 21:56] leoafarias commented on #353
@Rohit-ChauhanRC The error message is correct. Are you having issues even when running on admin or developer mode?

[2021-10-06 11:56] bartlomiejszm opened #354 "[BUG] Flutter git automatically adds to the Version Control"
**Describe the bug**
Flutter git source adds automatically to the Android Studio Version Control, resulting in uncontrolled flutter version change.
After using `git pull` without removing this source we are able to update the flutter without knowing i.e. version 2.2.3 -> 2.5.3, FVM still acts as if we are using version 2.2.3 but `flutter --version` shows version 2.5.3.

**To Reproduce**
1. In any

[2021-10-06 12:28] #349 closed

[2021-10-08 00:40] leoafarias commented on #353
@Rohit-ChauhanRC can I have the output of fvm doctor?

also run the fvm use command again with "--verbose" flag after it to get all the output

[2021-10-13 10:41] BilalShafique opened #355 "facing error while runing/build project"
Hi ,have installed fvm and flutter 2.2.1 is installed in fvm ,first time its working fine  and build .When open my vs code another day and try to run/build project it sending me error using execute command "fvm flutter run " .

***********************************************************************8
FAILURE: Build failed with an exception.

* What went wrong:

[2021-10-13 14:36] #351 closed

[2021-10-13 14:36] #355 closed, assigned to nobody

[2021-10-19 11:39] mrdc opened #356 "[Feature Request] Embed SDK version in app during build phase"
Hello,

Would be nice to be able to include SDK version in app which was used during build, so it can be checked later during runtime.
For example, I have multiple versions of flutter and sometimes it's not clear which version Xcode uses during build.
With built-in version it will be easy to verify that everything is fine.

[2021-10-19 14:11] leoafarias commented on #356
@mrdc the version of SDK is symlinked within the project. `.fvm/flutter_sdk` The version of the SDK most likely will never be "included" within the project, as this creates a lot of different challenges

[2021-10-19 15:30] mrdc commented on #356
I thought that dart/flutter has something similar to C++ where it's possible to include custom info during compilation.

[2021-10-19 15:42] kuhnroyal commented on #356
You can use `--dart-define=SOME_VAR=SOME_VALUE --dart-define=OTHER_VAR=OTHER_VALUE` but I don't see FVM automatically setting something here.

[2021-10-20 02:17] #356 closed

[2021-10-20 12:48] Lucas-C opened #357 "[BUG] ../../runtime/bin/eventhandler_linux.cc: 412: error: Failed to start event handler thread 1 using sonarqube:9.1"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [NA] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [NA] Run `fvm doctor` if possibl

[2021-10-21 08:37] Lucas-C commented on #357
`--version` did not add more info 😔

[code]

[2021-10-21 14:11] Lucas-C commented on #357
I've found a workaround:
[code]

Closing this issue now

[2021-10-27 07:38] bnjun96 opened #358 "[Sequence of command cause Null check exception]"
## Before creating a feature request make sure the suggestion fit within our [principles](https://fvm.app/docs/getting_started/overview#principles)

**Unhandled exception:**
type 'Null' is not a subtype of type 'String' in type cast
[code]
**Steps to procedure**
1. run fvm use 2.2.0 --flavor dev
2. run fvm use 1.22.6 --flavor prod

Hope to enhance feature, pre set fvm_config flutterSdkVersion with

[2021-11-01 08:55] igorantolic commented on #100
I tried that first but didn't help. Using with flutter helped although almost the same output.

[2021-11-08 14:52] tazik561 opened #359 "flutter fvm: Not found: 'package:fvm/src/runner.dart"
I have *macbookpro Monterrey os*.

I am using fvm as  SDK manager . Now I am running flutter pub cache repair I got this error:

    uilt devtools:devtools.
    Installed executable devtools.
    Reactivating fvm 2.2.3...
    Building package executables...
    Failed to build fvm:main:
    Error: Couldn't resolve the package 'fvm' in 'package:fvm/src/runner.dart'.
    ../../../../.pub-cache/hoste

[2021-11-08 17:13] leoafarias commented on #359
@tazik561 this seems to be a duplicate of #352. Thank you

[2021-11-08 17:13] #359 closed

[2021-11-08 17:14] leoafarias commented on #352
@RomanKapshuk sorry for the delay on this. Are you able to reactivate fvm by calling dart or flutter sdk directly?

[2021-11-08 19:41] tazik561 commented on #352
For first time fvm is known by terminal, means when I run ` fvm --version` I got true answer. But after running this command `flutter pub cache repair` and get `Error: Couldn't resolve the package 'fvm' in 'package:fvm/src/runner.dart'.` error, fvm seems broken and when I run ` ` fvm --version` I get `zsh: command not found: fvm` and I have to run `dart pub global activate fvm` again.

[2021-11-08 20:13] leoafarias commented on #352
@tazik561 thanks for the details… will have to do some research on this, as I am not sure what fvm is doing differently than any other package.

[2021-11-09 20:57] AbirAhsan commented on #253
I solved my problem by this command
`sudo gem install -n /Users/abir/fvm/default/bin cocoapods`

[2021-11-09 21:12] iyobo opened #360 "[BUG] Flutter 2.5?"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2021-11-09 23:43] leoafarias commented on #360
@iyobo can you provide a proper description of what is happening and also the information requested in  the template

[2021-11-10 14:03] MarnoDev commented on #283
Try `brew install fvm`

[2021-11-11 21:37] zarko-tg opened #361 "[Feature Request] Option to silence output to stdout / logging"
**Is your feature request related to a problem? Please describe.**

Yes, there's a problem if say you want to run some Dart CLI program, whose goal is to write something to the stdout, a result that might be used by something else later. The problem is that FVM is doing at least some logging and thus "polluting" the stdout in this scenario. This line for example:
[FvmLogger.info('fvm: running Dart

[2021-11-11 22:00] btrautmann commented on #352
FWIW, I've been noticing this with other packages, so I don't think this is specific to fvm. I've noticed the same with `melos` and a package that I've been working on and have installed locally.

[2021-11-12 05:31] leoafarias commented on #354
@bartlomiejszm sorry for the delay on this. I was not able to replicate this behavior, are you using.

What for client are you suing for the pull?

[2021-11-12 05:32] leoafarias commented on #360
Will close this for now. Please open a new issue with a more detailed description and I will be happy to help you out.

[2021-11-12 05:32] #360 closed

[2021-11-12 05:44] leoafarias commented on #361
@zarko-tg I believe I had done this already for the flutter command.

If you want you can do a PR using the logger.trace as it shown here and I can review.

https://github.com/leoafarias/fvm/blob/main/lib/src/commands/flutter_command.dart

If not I should be able to get to it over the weekend.

[2021-11-12 08:16] tazik561 commented on #352
I think is because of fvm, I changed FVM to official SDK and the problem is gone. Now I am using official SDK and I don't have a problem .

[2021-11-12 13:04] leoafarias commented on #352
I believe I know what is the problem, and has something that has been brought up before. The process is being run by FVM, and during the repair, process fvm is removed.

I am looking into what some of the options might be for the `pub global activate fvm` install method. The issue will not happen if you install through brew or chocolatey.

Will investigate ways of detaching that process to see if

[2021-11-12 14:10] #361 closed

[2021-11-12 14:27] zarko-tg commented on #361
Now that went quickly, cheers!

[2021-11-12 16:00] leoafarias commented on #352
Ok so I took a look, and the solution is to check if the pub command being run might impact the fvm install.
- Check if command might impact fvm install
- Check if fvm is installed through pub global (not brew, chocolatey)

If those are true it will go ahead and stop execution and output an explanation and the command you should add to your terminal.

Also since in the case the installation is not

[2021-11-12 16:29] btrautmann commented on #352
FWIW I run into this when running `dart pub cache repair` directly, not via `fvm` -- not sure if that matters

[2021-11-12 17:11] #348 closed

[2021-11-12 17:13] leoafarias commented on #339
I believe this has been fixed, the deployment is working correctly

[2021-11-12 17:13] #339 closed

[2021-11-12 17:26] leoafarias commented on #347
@jld3103 Sorry for the delay on this.

I believe this is working as expected. FVM needs to support, external drives, and so on.  Would not using the relative path `.fvm/cache` solve your problem? I am try to understand the use case for this a bit better.

[2021-11-12 17:27] #358 closed

[2021-11-12 17:28] #343 closed

[2021-11-12 17:51] btrautmann opened #368 "[BUG] Unable to `flutter <command>`"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [ ] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2021-11-12 18:06] leoafarias commented on #368
@btrautmann is this issue happening consistently? I saw another problem but seemed like it was google servers.

[2021-11-12 18:11] btrautmann commented on #368
@leoafarias yeah it's been happening since yesterday (well that's when I noticed it), and another coworker is experiencing the same after doing the above. We have a setup script that installs `fvm` and we've asked other teammates not to run it in fear of running into this 🙃

[2021-11-12 18:16] leoafarias commented on #368
I saw another issue this morning when pulling google data but seems like it was a flutter backend hick up.

Is the problem still happening for you? Fvm just proxies the commands so not sure if it's fvm related.

[2021-11-12 18:17] btrautmann commented on #368
Yeah, I've been testing this all morning. I just tried moments ago with the same failure. `flutter pub get` in the standalone SDK completes without issue.

[2021-11-12 18:17] btrautmann commented on #368
I figured I'd open this just in case something came to your mind, but if you're pretty confident it isn't `fvm` I have no problem closing this to debug further.

[2021-11-12 18:22] leoafarias commented on #368
I suggest removing the cached version in fvm and installing it again.

Maybe during the install the error happened and something got corrupted.

Will look out for it though. Thanks.

[2021-11-12 18:31] btrautmann commented on #368
I've tried completely getting rid of `fvm` via `brew uninstall fvm` and reinstalling, as well as installing it via `dart pub global activate fvm` and both have the same issue. I just now figured I should try doing a `flutter create my-app` in a different directory in case something about _our_ project was the issue, but that also failed.

[2021-11-12 18:50] leoafarias commented on #368
@btrautmann what I mentioned was the actual cached version of 2.5.3 cached by fvm and running again.

I will be on the lookout if there are any issues.

[2021-11-12 18:58] btrautmann commented on #368
@leoafarias where would that be?

[2021-11-12 19:11] leoafarias commented on #368
If you installed stable `fvm remove stable` or if it was 2.5.3 directly just do `fvm remove 2.5.3`, and install it again with `fvm install 2.5.3`

[2021-11-12 19:48] btrautmann commented on #368
🤔 Is this expected?
[code]

[2021-11-12 20:08] leoafarias commented on #368
No idea what is going on here... this seems very weird, can I take a look at this setup script that you are running to install fvm

[2021-11-12 20:12] leoafarias commented on #368
I believe this is related to the issue you are seeing here [#352 ](https://github.com/leoafarias/fvm/issues/352#issuecomment-967247375)

I am curious to see the `Dart` path configuration also, is that an alias?

[2021-11-12 20:14] btrautmann commented on #368
[code]

This is the interesting bit ☝️

[2021-11-12 20:48] leoafarias commented on #368
Oh ok.. so that makes sense the warning was correct. The global configured version was the one running the command that is why you had the command not found after.

Not 100% sure what is happening here but looking through your initial error, it did say that there might be an issue with your connection, and I believe was probably more visible because of the precache.

I think that during the initia

[2021-11-13 10:58] jld3103 commented on #347
We have a monorepo with multiple flutter and dart apps that are in different sub-directories (also different levels). We have a single fvm install at the root of the monorepo. If we run fvm in any of these apps it finds the config file correctly by traversing the path, but it then installs the sdk relative to the current working directory. That means we have it multiple times, but we actually only

[2021-11-14 00:02] leoafarias commented on #347
@jld3103 I think I understand. One thing to keep in mind is that all that all it is added to each “package” is a symlink, to the same cache version, so its not really adding any overhead.

[2021-11-15 15:48] btrautmann commented on #368
After chatting with a teammate, we are thinking this is likely related to an internal issue with our certs, and I'm going to close this until we discover otherwise.

[2021-11-15 15:48] #368 closed

[2021-11-16 01:00] kuyazee commented on #368
@btrautmann how do you run the `append_to_rcfile` when I run it, it just says `command not found: append_to_rcfile` for me

[2021-11-17 02:42] #328 closed

[2021-11-17 13:47] btrautmann commented on #368
Ah, sorry, that's just an internal helper that appends the content to the correct rc (bashrc or zshrc) file if not already present.

We've actually come to the conclusion that there's something going on with the flutter install itself, as installing via Github as detailed [here](https://docs.flutter.dev/get-started/install/macos#downloading-straight-from-github-instead-of-using-an-archive) fails f

[2021-11-17 19:27] mtxphil opened #369 "[BUG] VSCode terminal does not find flutter"
**Before creating a bug report please make check the following**

When a terminal window is opened in VSCode, flutter command is not available.

**To Reproduce**
Install fvm, perform setup,

**Expected behavior**
I am expecting, hoping that the terminal window in VSCode would use the same flutter version as the project configuration.

- OSX 12.0.1
- FVM Version 2.2.4

**fvm doctor**
[code]

[2021-11-18 16:10] chrishibler opened #370 "[BUG] fvm flutter commands take significantly longer than equivalent flutter commands"
- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible and add the output to the issue.

Running `fvm flutter` commands t

[2021-11-18 18:15] leoafarias commented on #370
@chrishibler Thank you for the detailed issue. I have not been able to replicate the issue using the 2.2.4 on Windows.
The command you ran the output shows responding fairly fast. Could you run `fvm --verbose flutter doctor`?

Also, do you think the issue is the command taking longer to start, or fvm taking longer to exit after the command?

[2021-11-18 19:22] chrishibler commented on #370
Thank you for the quick response, here is the output from `fvm --verbose flutter doctor`
[code]

It's hard to say if it's fvm exiting or command taking longer. Running `fvm --verbose flutter doctor` the delay appears to happen after the fvm output and before the flutter output like this:
[code]

The fvm output happens almost immediately, there's a pause, then the flutter output.

[2021-11-18 19:30] leoafarias commented on #370
@chrishibler Could you do me a favor and test version 2.2.3 of fvm, I think it might have to do with stdin.

[2021-11-18 21:02] leoafarias commented on #369
@mtxphil Please review this https://fvm.app/docs/getting_started/configuration

[2021-11-18 21:40] chrishibler commented on #370
Sure, same issue with 2.2.3.

In case it's helpful, I see two fvm.exe's in task manager (one with the fvm icon, one with the default Windows icon) during the delay until the flutter output begins to print.

[2021-11-18 21:56] chrishibler commented on #370
I tried 2.2.4 on another PC (Windows 11, but I doubt that matters?) and I do not see the problem. The PC with the issue is a corporate PC so it might be due to anti-malware. If you can't reproduce it and I can't on another machine it sounds like it might not be an issue with fvm. Thanks for looking into this. If I turn up anything else I'll be sure to let you know.

[2021-11-19 03:42] #370 closed

[2021-11-19 11:38] mtxphil commented on #369
I have reviewed the configuration document again.
when running a terminal from VSCode, there is not flutter available in the PATH.

[code]

as a work-around, I am using the following in .bash_profile to add flutter when the VSCode terminal is run from a project.
[code]

[2021-11-19 17:33] mtxphil commented on #369
Thank you very much for the assistance.  I did not fully understand the instructions.

[2021-11-19 17:33] #369 closed

[2021-11-19 19:29] somdipdey opened #371 "[BUG] Could not find a command named "global"."
**Describe the bug**
I am trying to set the flutter version to 1.17.4, however, when I use `fvm global 1.17.4` it's giving me the error: `Could not find a command named "global".`
**To Reproduce**

Following are the results of my commands:

`$flutter --version`
Flutter 2.5.3 • channel stable • https://github.com/flutter/flutter
Framework • revision 18116933e7 (5 weeks ago) • 2021-10-15 10:46:35 -0

[2021-11-19 19:48] leoafarias commented on #369
@mtxphil let me know how I can improve the docs. To summarize to use `flutter` from terminal it needs to be configured in the PATH. Fvm does not do that automatically for you. Your option is to have `flutter` by just following the Flutter installation instructions, or fvm does allow you to have dynamic switching by point the PATH to a "dynamic" symlink directory.

This allows to preserve the dynam

[2021-11-19 19:49] leoafarias commented on #371
@somdipdey version 1.3.7 of FVM does have the `global` command.

[2021-11-19 19:52] somdipdey commented on #371
@leoafarias Thank you for your reply on this. I have seen the docs and it also mentions that but as you can see from the options, the global command isn't there. Is there something which might be missing from my version because it's a bit weird?!

[2021-11-19 22:03] ccastroelo opened #372 "[BUG] FileSystemException: Cannot open file, path = 'C:\Users\claud\fvm\.settings'"
Hello,

Whenever I have a problem with the fvm I deactivate and activate it and it solves itself. Now I am without a solution. I'm on windows 11 and have developer mode enabled since windows 10. I've also tested doing everything as an administrator.

it seems to me that the problem is just this /fvm/.settings because enter as an administrator, I uninstalled fvm, reinstalled. I removed the 1.20.2 v

[2021-11-20 00:37] ccastroelo commented on #372
I got the contents of the .settings file from another issue I found.
{
"skipSetup": false,
"gitCache": false
}

Now when I run fvm flutter pub get I get:
*******************************************
C:\Users\claud\Desktop\flutter\apps\diarias>fvm --verbose flutter pub get
[     0.065s] Version: 1.20.2 - already installed.
[     0.082s] FileSystemException: Cannot create link to target 'C:\Users\cla

[2021-11-20 02:38] leoafarias commented on #372
This seems to be a duplicate of this https://github.com/leoafarias/fvm/issues/352

The settings file is just a warning but it should not be the cause of what is happening.

[2021-11-20 02:41] leoafarias commented on #371
What I mean is that the version you are running of fvm does not have the global command feature.

Most likely because of the dart sdk used when activating is old. Update dart and deactivate fvm

[2021-11-20 03:52] ccastroelo commented on #352
Sorry I don't know if I understand correctly.

In a power shell as an administrator. I ran:
dart pub global deactivate fvm
and then:
dart pub global activate fvm

I closed the window and opened it again as an administrator and ran:
fvm dart pub cache repair

I received the following:
Building package executables...
Failed to build fvm:main:
Error: Couldn't resolve the package 'fvm' in 'package:fvm

[2021-11-20 04:50] #372 closed

[2021-11-20 04:53] leoafarias commented on #352
As I mentioned pub cache repair is essentially removing the FVM’s own dependencies. That is why you are getting this error. The PR attached once releases will warns the user that the install will be modified and provides instructions on how to execute it safely

[2021-11-20 05:28] ccastroelo commented on #352
ok, I understand.

OK, but in all the commands that execute in none the instructions to solve the problem appear. Which command should I run for this?

Léo, 1. Muito bom o FVM, quebra um galhão. 2. desculpa, mas to boiando nesse problema.  Pois é, em nenhum comando q dei apareceu informando que a instalação será modificada. Qual é o comando devo rodar? (PR é pub cache repair? se for, eu rodo ele,

[2021-11-20 18:42] leoafarias commented on #352
@ccastroelo this update has not been pushed live add me on telegram and we can discuss. @leoafarias

[2021-11-20 19:06] ccastroelo commented on #352
please add me. I have never used the telegram and for some reason my account is blocked for non-contacts. @ccastroelo

[2021-11-21 01:49] ccastroelo commented on #352
After a few unsuccessful attempts I chose to delete the flutter and fvm folders and reinstall everything. And from then on I only got the rights issue when I road the fvm flutter pub get in the project.

As you recommended, I deleted the project's .fvm folder, ran "use" again and everything worked. I believe that with the previous instructions the problem would have been solved, but as there was t

[2021-11-21 17:17] somdipdey commented on #371
@leoafarias I checked the flutter/dart version and they seem to be the (almost) latest on the system. The result as follows:

[code]

For this particular project when I use the following:
[code]

However, if I use the `flutter --version` command then the system is still using 2.5.3 instead of the specified version 1.17.4.

My current nvm version as follows:
[code]

[2021-11-21 17:26] leoafarias commented on #371
@somdipdey can you reinstall fvm to see if you get the latest version?

if that does not work run “fvm doctor”

[2021-11-24 14:34] AleFachini opened #373 "When having Plugins in project, Flutter version not working when running "build apk"[BUG]"
**Issue Description**
using fvm flutter version when building apk, the plugins inside my project do not find some classes inside the flutter version used in fvm
Also, when debugging on virtual device after flutter clean it works ok.
It just fails when building APKs

**To Reproduce**
you need a project with plugins so its hard to reproduce

1. run fvm flutter build apk --release

**Expected behavio

[2021-11-27 16:22] callmephil commented on #348
I'm having a similar issue, When I try to install pubs on my old project.
When Running fvm dart in the terminal. I get this output:

[code]

When running fvm Doctor:

[code]

I'm running on macOS Big Sur and installed FVM via:  dart pub global activate fvm.

[2021-11-28 10:33] DiegoLimeiradaSilva opened #374 "FVM COM SLIDY"
Bom dia, fiz da seguinte maneira instalei o dart via brew, ativei o fvm , instalou via fvm os sdk flutter que vou usar, ativei o slidy na versao que me projeto precisa mas  deu erro
`diegolimeiradasilva@MacBook-Pro-de-Diego fixtoc %  slidy run mobx_build
Can't load Kernel binary: Invalid kernel binary format version.
Building package executable... (1.2s)
Failed to build slidy:main:
../../../../../

[2021-11-28 16:11] leoafarias commented on #348
@callmephil this fix has been merged and will try to deploy it today

[2021-11-30 20:47] leoafarias commented on #374
@DiegoLimeiradaSilva acredito que esse erro nao e do FVM. Isso pode acontecer pq o slidy foi compilado com outra versão do Dart. Eu sugiro reinstalar o slidy.

[2021-11-30 20:47] #374 closed

[2021-12-02 20:59] Fasuh commented on #354
@leoafarias sorry as well for forgetting about this case.
I am using AndroidStudio, always when creating a new `fvm` folder i have to ignore its origin from the list of VCS. i am unsure if we can do anything about this because it gets a bit frustrating to have to remove a whole installed version because it upgraded itself.

[2021-12-02 21:03] leoafarias commented on #354
The only thing I can't think of is to automatically add .fvm/flutter_sdk to gitignore on first setup on a project

[2021-12-02 21:04] Fasuh commented on #354
It does not help since inside `.fvm/flutter_sdk` is considered a different origin, i am ignoring the `flutter_sdk` folder by default in my projects

[2021-12-02 21:31] leoafarias commented on #354
@Fasuh can you share how are you ignoring flutter_sdk on Android Studio?

[2021-12-02 21:35] Fasuh commented on #354
![image](https://user-images.githubusercontent.com/39801418/144506557-1a2bd696-3572-418b-8213-dce265076a45.png)
in the settings there is a "-" button on the right which allows me to "ignore" roots, which basically as far as i can tell just adds an xml to the `.idea/workspace.xml`

[code]

[2021-12-07 15:54] leoafarias commented on #354
I have updated the documentation with that information

[2021-12-07 15:54] #354 closed

[2021-12-07 15:58] leoafarias commented on #346
@Pluto1219 will go ahead and close this issue. Please feel free the reopen if you still need help

[2021-12-07 15:58] #346 closed

[2021-12-07 15:59] leoafarias commented on #371
Closing the issue. If you need assistance feel free to reopen.

[2021-12-07 15:59] #371 closed

[2021-12-07 16:03] leoafarias commented on #341
@matecode Take a look at the `--pin` flag described here. This might also solve your problem. I will go ahead and close this issue.

[2021-12-07 16:03] #341 closed

[2021-12-07 16:04] leoafarias commented on #373
@AleFachini I would need more information on this, but could it be because of some API changes between the SDK versions?

[2021-12-07 16:47] AleFachini commented on #373
What i did was downgrade flutter sdk to the same version and  with that compiled OK, then changed the configuration of the project to fvm version again and now I dont have problems
using "fvm flutter" commands no problem and also pointing to the version inside fvm folder again in my project

[2021-12-07 16:59] leoafarias commented on #373
great will go ahead and close this issue then.

[2021-12-07 16:59] #373 closed

[2021-12-08 04:24] raymondnexsoftech opened #376 "How to setup fvm in Xcode"
Sometimes I would like to run an app in Xcode, or need to build an archive to app store.
By testing in Xcode, it seems cannot get the fvm setting.
So I would like to know if anyway to use fvm in Xcode
Thanks

[2021-12-08 05:19] raymondnexsoftech opened #377 "Needs to run `dart pub global activate fvm` everytime use `fvm global <version>` to change version [BUG]"
**Describe the bug**
Everytime I run `fvm global <version>`, the command line will alert me that I need to update the path from "/Users/<User>/fvm/versions/<version>/bin" to "/Users/<User>/fvm/default/bin", even I already changed the path to default path.
And when I run fvm command after switch version, it always return error like "Can't load Kernel binary: Invalid kernel binary format version.",

[2021-12-08 13:19] leoafarias commented on #376
@raymondnexsoftech hmm I am not familiar with the need for this. Flutter offers a command `flutter build ipa` and you can read more about it here.

https://docs.flutter.dev/deployment/ios#create-a-build-archive-with-xcode

As far as running the Flutter app from Xcode, I am not sure what the behavior on this, but probably is configured to `global` or path version.

[2021-12-08 13:20] leoafarias commented on #377
@raymondnexsoftech can you run `fvm doctor` and post the output, also can you tell me between which Flutter versions you are switching in between?

[2021-12-09 04:29] raymondnexsoftech commented on #377
I'm switch from flutter 2.2.3 to stable (2.5.3)
I use zsh to run terminal

When using flutter version 2.2.3:
[code]
When I switch to stable, and then run `fvm doctor`:
[code]
[code]

after run `dart pub global activate fvm`:
[code]
[code]

And after change back to 2.2.3:
[code]
[code]

[2021-12-09 15:45] Junama opened #378 "fvm 2.2.5 doesn't support Dart 2.11.0-213.1.beta"

[2021-12-09 15:52] leoafarias commented on #378
hi @Junama that is correct, FVM has null safety and requires 2.12.0.

If you are having some issues I suggest installing through `brew` or `chocolatey`

https://fvm.app/docs/getting_started/installation#standalone

[2021-12-09 15:52] #378 closed

[2021-12-09 16:10] Junama commented on #378
Thanks @leoafarias !

[2021-12-13 08:34] okelloEnos commented on #287
/home/okello/.pub-cache/bin/fvm: 8: dart: not found
Doing fvm install version 2.2.5 but i cannot get around this issue ? Need Assistance Kindly

[2021-12-13 13:28] leoafarias commented on #287
@okelloEnos could open a new issue, and provide `fvm doctor` output please

[2021-12-13 14:13] okelloEnos opened #379 "[BUG] fvm 2.2.5 cannot find dart"
**fvm running error**

[code]

**Describe the bug**

Installation of fvm as per the official documentation using the global package installation style.
`dart pub global activate fvm`
installation is successful even path configuration but when running **fvm** command i get dart not found.

**Attempts**

1. Edit path configuration in .bashrc
2. Run dart pub cache repair
3. dart pub global deactivate

[2021-12-13 16:34] okelloEnos commented on #379
I would like to close this issue since i was able to find a solution by reading through this answer 1 in stack overflow post [https://stackoverflow.com/questions/66868564/command-not-found-pub-after-flutter-installation]()

[2021-12-13 16:34] #379 closed

[2021-12-14 11:39] msarkrish commented on #348
@leoafarias I'm facing this same problem in latest fvm 2.2.5 version.
Is there any solution for this problem.

[2021-12-14 13:28] leoafarias commented on #348
@msarkrish there was a regression, pushing a fix on 2.2.6 in a few minutes

[2021-12-14 19:09] msarkrish commented on #348
Thank you @leoafarias for immediate fix.

[2021-12-16 10:27] whiplashoo opened #380 "Uninstall instructions?"
Are there anywhere instructions for properly uninstalling `fvm`?

I don't need to use it for a dev machine, so I followed these steps to uninstall:

- `dart pub global deactivate fvm`
- Deleted the `.fvm` folders in my projects' root.
- Deleted the `fvm` directory under my home ($HOME) folder (it's a Mac).

Is there anything else to be done to remove it completely?

[2021-12-16 13:58] leoafarias commented on #380
I might create a `destroy` command. But for now, I have updated the FAQ
https://fvm.app/docs/guides/faq#how-to-uninstall-fvm

[2021-12-16 13:58] #380 closed

[2021-12-29 17:57] nilsreichardt commented on #377
I have the same issue. I'm getting every time this message:
[code]

I run `pub global activate fvm`, but after restart of the terminal, I'm still at version `2.2.0`

[2022-01-01 01:36] leoafarias commented on #377
@nilsreichardt the reason for this issue is that I believe one of two things are happening.

The version of dart you are using to do the `pub global activate fvm` command does not support version 2.2.6 which to be honest dont think should be the case.

Another probability that you installed the standalone binary through brew or chocolatey, and therefore you should upgrade on those package managers

[2022-01-05 05:02] raymondnexsoftech commented on #377
@leoafarias how about my case?
According to your reply to nilsreichardt, it seems related to dart version, which in my system is using the dart included in flutter folder (/Users/<User>/fvm/versions/2.2.3/bin/dart)
Is it the reason that causing the error?

[2022-01-05 12:54] OnlyTarg opened #381 "Can't set flutter sdk as global."
Hi there!
I can't set flutter sdk as global. Other fvm  commands works well,  including 'fvm use'.    MAC OS Big Sur 11.6
It's log in terminal:
`Seems you don't have the required permissions on /Users/pavelavdonin/fvm `

fvm doctor

[code]

What have already tried to do:
pub cache repair
set global by Sidekick (same exception)
delete all flutter sdk, delete fvm and reinstall all from scratch
also

[2022-01-05 13:16] leoafarias commented on #377
@raymondnexsoftech can you do `fvm doctor`, want to get a bit more context on it

[2022-01-05 13:18] leoafarias commented on #381
@OnlyTarg can you run the same command again with `--verbose` after, so we can catch the actual error trace

[2022-01-05 14:45] OnlyTarg commented on #381
@leoafarias Thanks a lot and sorry for your time. I executed the command with --verbose flag and found the reason. It was because I created the default link manually. I just delete it and everything works now.  Thanks again!

![image](https://user-images.githubusercontent.com/28656730/148236592-a6d929bd-7050-465e-b108-13e96403b7a8.png)

[2022-01-06 15:40] leoafarias commented on #377
Sorry @raymondnexsoftech you are correct.

I would suggest using the standalone brew install, I have to take a look at this, but saw that the error message seems to be incorrect for some reason.

[2022-01-13 07:24] jld3103 opened #382 "[Feature Request] Make it possible to use a commit as a version"
**Is your feature request related to a problem? Please describe.**
Sometimes you want to use the master branch for the latest changes, but also want to pin the used version at the same time. Just using `master` as the version does not work in this case.

**Describe the solution you'd like**
I would like to be able to use a commit hash as the version in the config file.

[2022-01-13 11:51] leoafarias commented on #382
We currently support this functionality. You can read more about it here https://fvm.app/docs/advanced/install_revision

[2022-01-13 11:52] jld3103 commented on #382
Hm maybe the commit hash was wrong. Sorry for the nose!

[2022-01-13 11:52] #382 closed

[2022-02-03 01:36] artificerchris commented on #310
I was actually coming to suggest this, but I just noticed, in the logs for the VSCode flutter extension, the extension looks for a flutter SDK at the root of the workspace in a folder called `.flutter`. I ran `ln -s .fvm/flutter_sdk .flutter` and upon re-opening my project, the editor found the sdk automatically! Maybe we could get an option in fvm use to link the SDK there instead of `.fvm/flutte

[2022-02-03 02:04] leoafarias commented on #310
That is a great suggestion. Do you want take a stab at it with a PR, it would be important to maintain both directories, to offer backwards compatibility, and provide a deprecation notice.

[2022-02-03 03:02] artificerchris commented on #310
Any strong preference on it being a flag vs just the default behavior with a notice? I don't mind to make a PR, but it'll likely be this weekend if it's more than a simple change.

[2022-02-03 14:14] leoafarias commented on #310
Yes I believe that makes sense... I suggest keeping more specific like `flutterProjectSdkPath` since we have the fvm path, and some others which are the cache version.

[2022-02-10 15:47] ojm-it opened #385 "How to setup a monorepo with VsCode ?"
In the FAQ, it says :

Can you please provide some detailed steps on how to do so ? Is there any command I should run at the root directory ?

[2022-02-10 18:30] leoafarias commented on #385
@ojm-it depends a bit on your monorepo setup. However, FVM does a recursive look up on a nested project folder. To do the use command on the root of the repo, to pin the version at the root.

[2022-02-10 19:51] ojm-it commented on #385
Got it. Thanks!

[2022-02-14 16:02] EwertonDutra opened #387 "What version of dart to use? Because the current one is giving an error with dart 2.10.5"
Uso windows 10 (21H2)
FVM 2.2.6

I installed like this:
`choco install fvm`

After I installed it, it worked! After restarting (notebook) it no longer works

Problem:
<img width="611" alt="2022-02-14" src="https://user-images.githubusercontent.com/13201575/153899719-6c012d07-3ce7-4d42-b132-26cd68422712.png">

Kind regards

[2022-02-20 12:25] fzyzcjy opened #388 "[BUG] Intellij IDEA (Android Studio) with multiple flutter packages: cannot configure fvm"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2022-02-21 13:35] asadbekdev opened #389 "integration test with fvm ?"
How can i run integration test with fvm ?

[2022-02-21 16:51] leoafarias commented on #389
I believe this will help you https://fvm.app/docs/guides/running_flutter

[2022-02-21 16:53] leoafarias commented on #388
hmmm @fzyzcjy I believe you can only have one Flutter version per "workspace/project" if that is the case are you able to separate these apps into multiple projects?

[2022-02-21 20:28] #389 closed

[2022-02-22 00:06] pmagnuson opened #390 "[BUG] fvm & flutter doctor"
**Describe the bug**
flutter doctor reports different results from a project directory which has a different `fvm use`

**To Reproduce**
usage from home directory (success)
[code]
[code]
usage from project directory (can't find Android Studio properly)
[code]
[code]
**Expected behavior**
I would like the `flutter doctor` to recognize that the flutter plugin is installed, when used from the project

[2022-02-22 00:39] fzyzcjy commented on #388
@leoafarias Thanks for the reply. However, intellij idea can only open *one window*. So if I separate them into multiple intellij projects I can only open one at a time... which is not acceptable

[2022-02-22 00:51] leoafarias commented on #388
@fzyzcjy this might be a limitation of the Android studio flutter plugin. I am not sure I understand the use case as the Flutter version will impact all linting, code completion and formatting also.

You should be able to open more than one window at a time.

[2022-02-22 00:58] fzyzcjy commented on #388
Thanks for the reply.

Oops at least not the case for Intellij IDEA :(

[2022-02-22 02:41] fzyzcjy opened #391 "[BUG] Intellij IDEA automatically resolves symlink to actual path"
Hi thanks for the lib! However, Intellij IDEA automatically resolves symlink to actual path. For example, I enter `/path/to/my/app/.fvm/flutter_sdk`:

![image](https://user-images.githubusercontent.com/5236035/155053216-af2809e4-1609-4f94-a0c4-c9c5cb644b61.png)

And I click apply/ok:

![image](https://user-images.githubusercontent.com/5236035/155053241-1ecc8529-d7d5-488a-a999-4cd309c43d0f.png)

as

[2022-02-23 03:17] GP4cK opened #392 "[BUG] VSCode not switching Flutter version when switching branches on MacOS"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [x] ~~If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.~~ I'm on macOS
- [x] Run `fvm doc

[2022-02-23 03:26] GP4cK commented on #392
After restarting VSCode several times, it finally displays the correct version. But if you knew a way to clear the cache or something, that'd be super cool.

[2022-02-23 04:37] leoafarias commented on #392
@GP4cK the Version switching on vscode will work only when using the “fvm use “ command as it has to regenerate the symlink

[2022-02-23 06:48] GP4cK commented on #392
Ok so if I checkout the new branch, then do `fvm use 2.10.2` and restart VSCode, it works well. Thank you very much!

[2022-02-23 06:48] #392 closed

[2022-02-26 04:29] liqwik opened #393 "[Feature Request] include flutter.jar"
I'm trying to develop the flutter plugin in android studio, but it seems like the android studio didn't recognize the flutter module. It's required the flutter.jar to include into the project.

<img width="582" alt="Screen Shot 2022-02-26 at 11 29 10 AM" src="https://user-images.githubusercontent.com/42688967/155828923-1f959cc4-6107-4199-981b-dd03922f77fe.png">
d

[2022-02-27 10:34] tony123S opened #394 "Fvm use not working"
I want to use flutter `1.22.6`. I have use `fvm use 1.22.6`, but why version still in `2.5.3`?

[code]

[2022-02-27 11:15] tony123S opened #395 ": Error: Switch case may fall through to the next case."
I using fvm to switch my project with a different flutter version.
I want to switch 2.8.1 version to 1.22.6, but get this error

[code]

[2022-03-01 13:51] leoafarias commented on #394
@tony123S can you run `fvm use 1.22.6 --verbose`, also can you confirm that you are running on administrator mode, and paste the `fvm doctor` output

[2022-03-01 13:52] leoafarias commented on #395
@tony123S this seems to be a code-specific error, not FVM, it could be that the code is not compatible with version 1.22.6

[2022-03-02 14:42] nielsenko opened #396 "[Feature Request] git worktree"
Are there any plans of having fvm use [git worktree](https://git-scm.com/docs/git-worktree) as opposed to full clones for each version?

[2022-03-02 15:43] leoafarias commented on #396
@nielsenko there is no plan since we try to follow closely the Flutter install process. However we do check for a `FVM_GIT_CACHE` env var, if you want to create a local cache. Haven't tested this a lot we just use for speeding up testing.

[2022-03-02 15:57] nielsenko commented on #396
Okay, and thank you for the swift feedback, I really appreciate that. Good luck with fvm going forward!

[2022-03-02 15:57] #396 closed

[2022-03-07 07:24] zeshuaro opened #397 "[Feature Request] Calling fvm use will try to use and/or install the flutter version defined in the config"
## Before creating a feature request make sure the suggestion fit within our [principles](https://fvm.app/docs/getting_started/overview#principles)

**Is your feature request related to a problem? Please describe.**
When using the `fvm use` command, I find it a bit annoying having to specify or select the Flutter version even though the version is already defined in the config file.

**Describe th

[2022-03-07 13:07] leoafarias commented on #397
@zeshuaro we currently do this using the `fvm install` without any arguments. I am open to having that behavior on `use` also if you would like to create a PR that I can review.

[2022-03-07 13:08] leoafarias commented on #393
@liqwik sorry but I am not sure I understand the issue. Was Flutter sdk configured from FVM as described in the docs?

[2022-03-07 15:36] liqwik commented on #393
Yes, I have followed the document for the configuration, and everything work well.

Recently, I develop the plugin and not able to run in Android as you can see above picture. It is kind of unknown the flutter in android studio.

After google for a while, they suggest me to copy the flutter.jar into the project, but I can't find it in the FVM.

I thought the FVM might be not include it in the fvm

[2022-03-07 20:23] leoafarias commented on #393
Fvm creates a symlink to a cache directory from the project.. use “fvm list” and will give you the path

[2022-03-08 16:39] liqwik commented on #393
Thank you for your support. Anyway, It is fine since I can work on the Android Plugin without the flutter.jar file anymore.

[2022-03-09 06:53] sunlimiter commented on #317
mac os

/Users/.pub-cache/bin/melos

[code]
dart pub global run melos:melos => fvm flutter pub global run melos:melos

@festelo good

[2022-03-10 22:43] #397 closed

[2022-03-10 22:48] leoafarias commented on #352
Closing this issue has version that addresses this has been pushed live

[2022-03-10 22:48] #352 closed

[2022-03-10 22:48] #376 closed

[2022-03-10 22:49] leoafarias commented on #347
Closing this since I believe it addresses the concern about multiple "caches". Please feel free to open if you have any questions.

[2022-03-10 22:49] #347 closed

[2022-03-11 13:07] leoafarias commented on #317
Prerelease version on https://pub.dev/packages/fvm/versions/2.3.0-dev.0 would appreciate some testing on any of the use cases mentioned. Will leave this open for comments

[2022-03-11 19:01] #395 closed

[2022-03-11 19:02] leoafarias commented on #395
Closed as this seems to be a code error. Please feel free to reopen if you have info that suggests otherwise

[2022-03-12 15:28] TercyoStorck opened #401 "[BUG] fvm can't find Java Runtime on Mac"
Hi,

I tried a lot to run an old project that run with flutter 1.22.6 on MacOS Monterey. I don't know if it is relecante but it's a mac with M1 chip.

All other projects that not using fvm, run without problem. But with fvm I get error message:

[code]

Obs.: The same project is running on my linux with no problem.

[2022-03-12 19:48] leoafarias commented on #401
@TercyoStorck I might need a bit more info including the `fvm doctor` output. Could you confirm that running the same flutter version outside of FVM does work? If so I might need to know a bit more about your default `flutter` and `dart` path, together with the `flutter doctor` output

[2022-03-15 03:41] iamsannyrai commented on #401
@leoafarias  I got the same problem.

Here is screenshot for fvm flutter doctor --verbose.

<img width="712" alt="Screen Shot 2022-03-15 at 09 23 14" src="https://user-images.githubusercontent.com/50624619/158301545-d672d911-6fde-49ff-a86b-4acdb3c3568b.png">

However there is no problem on same command without fvm.

[2022-03-16 03:35] MedwinCorreo opened #402 "[BUG]"
**Before creating a bug report please make check the following**

PS D:\algodroHeavy\1projects\heliumApp\goHelium_customer> fvm use 2.8.1 --verbose
[     0.002s] Version: 2.8.1 - already installed.
[     0.005s] FileSystemException: Cannot create link to target 'C:\Users\medwi\fvm\versions\2.8.0', path = 'D:\algodroHeavy\1projects\heliumApp\goHelium_customer\.fvm\flutter_sdk' (OS Error: Cannot cre

[2022-03-16 03:36] #402 closed

[2022-03-16 15:49] iamsannyrai commented on #401
@TercyoStorck Have you found any solution to this?

[2022-03-16 16:05] leoafarias commented on #401
@iamsannyrai based on the screenshot you are using 2 different versions of Flutter. I believe there was an issue they had to fix regarding this on newer SDKs.

Could you try calling directly the same version SDK, to see if you can reproduce the problem?

[2022-03-16 16:44] leoafarias commented on #401
@claudneysessa it seems that this is a flutter issue then.

[2022-03-17 02:34] claudneysessa commented on #401
I believe it is a fault related to the M1, because it works on windows... the problem is to know if we can wait for a solution or leave for another alternative.

<img width="835" alt="image" src="https://user-images.githubusercontent.com/12506432/158723134-4eabaec6-86f7-4dfd-b083-d30319f00001.png">

Send the data for analysis..
All on the same machine, running independently, removing dart and flut

[2022-03-17 03:01] leoafarias commented on #401
@claudneysessa as mentioned it seems this was a flutter tooling issue that was resolved on a later versions of flutter as mentioned in the referenced issue

[2022-03-17 03:16] iamsannyrai commented on #401
@leoafarias Ya It might be the issue with m1 cause fvm is working well with the same version in my linux machine.

[2022-03-18 01:37] kuyazee opened #403 "[Feature Request] fvm install <version_code> --auto_confirm"
## Before creating a feature request make sure the suggestion fit within our [principles](https://fvm.app/docs/getting_started/overview#principles)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I work on CI/CD pipelines a lot, and several of these times I use machines that preserve t

[2022-03-18 02:11] kuyazee commented on #403
Nevermind, I can use the ff command below instead

[code]

`fvm install` will not need reinstall anyway if a specific version has already been installed

[2022-03-18 02:11] #403 closed

[2022-03-18 13:12] leoafarias commented on #403
@kuyazee the method for use already accepts a `skipConfirmation` parameter, which is set to `true` on install. If you want to create a PR which passes as a parameter on `UseCommand` I will review.

[2022-03-21 23:53] leoafarias commented on #401
Closing this ticket as it's related to an issue with an old flutter version

[2022-03-21 23:53] #401 closed

[2022-03-22 03:41] leoafarias commented on #394
Closing this, if you have any other info please feel free to reopen

[2022-03-22 03:41] #394 closed

[2022-03-22 03:43] leoafarias commented on #387
@EwertonDutra sorry for the delay on this, seems this issue fell through the cracks. When updating dart sometimes you have to reinstall FVM, or any other global installed packages

[2022-03-22 03:43] #387 closed

[2022-03-22 21:54] EwertonDutra commented on #387
Now with your comment I decided to test the FVM again
Oh it worked now, it didn't give the error message again

Thanks for the feedback 😅

[2022-03-23 10:50] xuanvh opened #404 "[BUG] Flutter upgrade error: You should not upgrade a release version. Please install a channel instead to upgrade it."
I ran `fvm flutter upgrade` at stable channel
and the error occured.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to terminal..
2. Run ` fvm flutter upgrade`...
3. See error

- OS: [Mac Bigsur 11.6.1 ]
- FVM Version [2.2.4]
- Flutter Version [2.5.3],

Please help me.

[2022-03-23 12:30] leoafarias commented on #404
@xuanvh can you run `fvm doctor`, this message is displayed when you PIN a version from a channel. Because if you upgrade a pinned version it will change itself.

[2022-03-24 02:13] xuanvh commented on #404
@leoafarias
run `fvm doctor`

[code]

run `fvm flutter doctor`
[code]

[2022-03-24 02:39] leoafarias commented on #404
@xuanvh fvm is behaving correctly. If you want to be able to upgrade you should `fvm use <channel>` and not pin a version

[2022-03-30 02:52] jawa0919 opened #405 "[Feature Request] Publish to Scoop"
**Is your feature request related to a problem? Please describe.**
When I installed Fluent using [Scoop](https://github.com/ScoopInstaller/Scoop), I didn't find it。
But Scoop can install dart
[dart Manifest ](https://github.com/ScoopInstaller/Main/blob/master/bucket/dart.json)

Example NodeJS Version Manager
[nvm Manifest](https://github.com/ScoopInstaller/Main/blob/master/bucket/nvm.json)
[nvs Ma

[2022-03-31 15:09] harilet opened #406 "Cannot install flutter using fvm"
When I run `fvm install 2.10.3` I get a Could not install 2.10.3 Like shown below
![image](https://user-images.githubusercontent.com/40688601/161087587-d68bab14-188c-4535-b2e4-95ff6d8f1597.png)

But the flutter 2.10.3 is showing in fvm list
![image](https://user-images.githubusercontent.com/40688601/161088078-d17e2af3-c2e3-4af9-9411-bca2929db2df.png)

When trying to use any of both installed flutt

[2022-04-01 01:34] leoafarias commented on #406
Are you running as administrator? Also can you run with the —verbose flag?

[2022-04-01 04:12] harilet commented on #406
It is working, It was the administrator

[2022-04-01 04:12] #406 closed

[2022-04-06 06:20] erwinagpasa opened #407 "No SDKs have been installed yet. Flutter. SDKs installed outside of fvm will not be displayed."
Package fvm is currently active at version 2.2.6.
Resolving dependencies... (1.7s)
The package fvm is already activated at newest available version.
To recompile executables, first run `dart pub global deactivate fvm`.
Installed executable fvm.
Activated fvm 2.2.6.

When I hit **fvm list**

`No SDKs have been installed yet. Flutter. SDKs installed outside of fvm will not be displayed.`

[2022-04-06 10:51] leoafarias commented on #407
The message is correct. FVM does not manage flutter versions installed outside of it, so you can continue to have the default “flutter” method

[2022-04-06 13:24] #407 closed

[2022-04-06 13:25] #317 closed

[2022-04-07 11:19] Wizzel1 opened #409 "How to run "pub get" for an internal package?"
I have created a new package inside my app (with `fvm flutter create --template=package)` and added some dependencies to its `pubspec.yaml` but the packages `pubspec.lock` doesn't update when I run `fvm flutter pub get` in my packages folder.

How do I properly run "pub get" on my package?

[2022-04-07 11:35] Wizzel1 commented on #409
Sorry, just found that `# Libraries should not include pubspec.lock`.

[2022-04-07 11:35] #409 closed

[2022-04-11 11:01] #404 closed

[2022-04-12 18:43] hotdang-ca commented on #342
I'd love to look at this one, @leoafarias

[2022-04-12 18:44] leoafarias commented on #342
@hotdang-ca be my guest!

[2022-04-12 22:08] martin-braun opened #410 "[Feature Request] Print Dart version on fvm releases as well"
## Before creating a feature request make sure the suggestion fit within our [principles](https://fvm.app/docs/getting_started/overview#principles)

**Is your feature request related to a problem? Please describe.**
I don't know which Flutter/Dart version I need to pick up for an existing project, I get:

[code]

Since the Dart version is different to the Flutter version, but yet both are tangled,

[2022-04-12 22:42] martin-braun opened #411 "[Feature Request] Improve documentation about Automatic Switching (VSCode)"
**Is your feature request related to a problem? Please describe.**
For some reason I lack to understand the basic work-flow when it comes to Automatic Switching, namely how the user initializes the required Flutter SDK at `.fvm/flutter_sdk`. I'm confused how to link the current SDK or how to initiate such. I also don't understand where the Flutter version for the current project is configured, so

[2022-04-23 14:32] nilsreichardt opened #414 "Best practice for switching to a different Flutter version?"
We want to use FVM in our team to ensure a consistent Flutter version across our team. From reading the docs, I can't find a good solution for switching to a new Flutter version.

We have committed the `fvm_config.json`, but the `flutter_sdk` is ignored by git (as described in the docs). What is now the process to switch to a new Flutter version? I would assume the following steps:

1. Change the

[2022-04-23 20:51] leoafarias commented on #414
@nilsreichardt if a commit changes version there, I believe either they would need to be notified or could be part of an internal tool or process to do that. But again I am not sure how often this happens.

Maybe an implementation using git hooks might be what you need, here is a great article on it.

https://dev.to/arthurdenner/git-hooks-in-flutter-projects-with-lefthook-52n

[2022-04-23 22:32] kuhnroyal commented on #414
FVM automatically asks you to install the new version if it was changes in the `fvm_config.json` file.
There is no need to run `fvm install`, any other command will ask you to install.

I found this to be working quiet well in a team, no need for any notification to update flutter.
For apps we additionally update the minimum flutter constraint in `pubspec.yaml` but if every developer uses FVM, the

[2022-04-24 01:39] leoafarias commented on #414
@kuhnroyal does this would apply if running the CLI but I believe if not running from the IDE tooling…

[2022-04-24 14:05] kuhnroyal commented on #414
hmm yeah, if one only uses IDE, this is a problem.

[2022-04-25 10:45] erwinagpasa commented on #407
Thanks bro

[2022-05-04 17:42] Luzzotica opened #415 "Warning: CocoaPods not installed. Skipping pod install."
**Describe the bug**
While building for iOS, I receive the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new flutter project: `flutter create swag && cd swag`
2. Run `fvm use stable`
3. `fvm flutter pub add mobile_scanner` -> This will force the ios project to have a pod file
4. Update ios/Podfile to have `platform :ios, '11.0'`
5. `fvm flutter run`
6. Ge

[2022-05-08 00:38] oliverbytes commented on #233
I'm getting the same error on Windows

[2022-05-08 11:51] leoafarias commented on #233
@oliverbytes please open up a new issue with the --verbose flag on the command and "fvm doctor"

[2022-05-11 23:15] nilsreichardt opened #416 "How to set the architecture of the Flutter SDK?"
<img width="936" alt="image" src="https://user-images.githubusercontent.com/24459435/167962292-bd9db1dc-fd07-406c-b842-7601663e2989.png">

The Flutter SDK is now available for x86 and arm64. How can I specify which architecture I want to use when using the `fvm install VERSION` command?

[2022-05-12 16:24] yagizdo opened #417 "intelliJ idea fvm flutter sdk automate"
Hello. I started using the fvm. But I did not understand the part of choosing fvm sdk on intelliJ idea.

Every time I open a new project, will I choose the fvm sdk within that project? Is there no way to automate this?

[2022-05-12 18:53] imSaharukh commented on #416
I'm also looking for this

[2022-05-12 19:03] leoafarias commented on #416
@nilsreichardt good question… to be honest fvm just clones the GitHub repo and dependencies get installed and built on demand… so it should just work

let me know if you are having any issues, or if what I am saying is not the case

[2022-05-12 19:05] imSaharukh commented on #416
so if i want to install the arm64 version of flutter 3.0.0 then what should be the command?

[2022-05-12 19:11] leoafarias commented on #416
`fvm use 3.0.0` to attach to a project and run

[2022-05-12 19:12] leoafarias commented on #417
@yagizdo it should work automatically when following the instructions on the docs Is that not the case?

[2022-05-12 19:16] imSaharukh commented on #416
But the issue is 3.0.0 is available in two different architecture

[2022-05-12 19:24] leoafarias commented on #416
@imSaharukh only clones the repo… flutter tools handles all the installation of dependencies and building itself.

fvm also does distinguish between windows or Linux from an install perspective… which is why it should not be a problem..

But again I’d you actually have an issue let me know… and I can take a look at it

[2022-05-12 19:52] Hixie opened #418 "[BUG] "Warning: Operand of null-aware operation..." when upgrading to Flutter 3.0.0 using fvm"
We're getting reports that people updating to Flutter 3.0.0 are seeing warnings when they try to run the template app, and the warnings mention code that does not exist any more in the Flutter framework, for example https://github.com/flutter/flutter/issues/103561.

I don't have any more context for this but figured you might want to know it was happening.

[2022-05-12 19:53] leoafarias commented on #418
thank you @Hixie will take a look

[2022-05-12 21:03] yagizdo commented on #417
It says in the document that we need to choose the fvm version in the project. In this logic, won't the file of the previous project remain selected in another project? @leoafarias

[2022-05-16 12:59] jeroen-meijer commented on #416
I did some research and I think this is a non-issue. 😄

I just set up a brand new M1 Pro MacBook, and before I even installed Rosetta, I downloaded Dart through `brew` (with the right architecture), installed `fvm` and used `fvm global 3.0.0` to install Flutter 3. After that, `fvm flutter doctor` ran perfectly, without having Rosetta installed.

This leads me to believe everything runs natively on

[2022-05-16 15:09] #416 closed

[2022-05-16 17:42] leoafarias commented on #405
I will go ahead and close this issue.

[2022-05-16 17:43] leoafarias commented on #342
For anyone find this I suggest using https://fig.io, it already supports FVM

[2022-05-16 17:43] #342 closed

[2022-05-16 18:08] kuhnroyal commented on #342
Noticed this the other day, nice!

[2022-05-17 06:18] vrajraj commented on #262
hey , i am error in latest version 2.13.0 while installing sdk  as:

Installing version: 2.17.0...
Cloning into 'C:\Users\vrajrajsinh.gohil\fvm\versions\2.17.0'...
fatal: Remote branch 2.17.0 not found in upstream origin

Could not install 2.17.0
can you help me , what happening?

[2022-05-17 12:22] leoafarias commented on #262
@vrajraj the error mentions version 2.17.0, but I checked the releases and version 2.17.0 and 2.13.0 do not seem to exist. Also this error is not related to this issue, if it persists please open a new issue

[2022-05-19 14:55] th0rgall opened #421 "[Feature Request] fvm install 2: infer the latest minor/patch version when supplying the major version"
**Problem description**

I just installed fvm, intending to use it to switch quickly between the latest flutter 2 release and the latest flutter 3 release.

After installation, I intuitively ran `fvm install 2` to download the latest Flutter 2 SDK with fvm and get started with my configuration.

fvm printed:
[code]

I did not expect this error. I would expect `fvm install 2` to install the latest

[2022-05-19 15:18] th0rgall opened #422 "[BUG] "Edit Page" in the docs links to a non-existent `master` branch"
**Describe the bug**

The actual source code of the documentation is not hosted where the docs template thinks it is hosted.

**To Reproduce**

A little screencast explains it all:

https://user-images.githubusercontent.com/11543641/169331014-dc1e2329-be5b-42c8-bb4c-d7bb48c07b9f.mov

Steps to reproduce the behavior:
1. Go to https://fvm.app/docs/getting_started/configuration (or any other docs pag

[2022-05-19 15:54] leoafarias commented on #421
@th0rgall I don't know how I feel about this... I definitely see some benefit of doing that.. but in the example of Flutter 2, if I want version 2, would be 2.0.0, not the latest

Maybe a better implementation that could also solve the problem of keep it up to date ongoing is constraints.

For example on the fvm config you could do ^2.0.0, and it would always use the latest 2.0.0 version, and you

[2022-05-19 21:13] bdlukaa opened #425 "[Feature Request] Be able to run the same app with two different versions of flutter at the same time"
**Is your feature request related to a problem? Please describe.**
When creating packages/plugins for Flutter, sometimes they break on Flutter updates. It's, sometimes, hard to debug and perform the changes necessary to be able to keep the backwards-compatibility with older Flutter versions.

**Describe the solution you'd like**
Being able to run the same app with two different versions of Flutter

[2022-05-20 00:37] leoafarias commented on #425
@bdlukaa fvm has a command that does not run in multiple but does spawns a process in a defined version. Check it out if this helps https://fvm.app/docs/guides/running_flutter#spawn-command

[2022-05-20 13:19] th0rgall commented on #421
I agree that this is subjective & ambiguous.

It could work like this, if the version implied is not clear:
[code]
Where it would allow you to select the version interactively. Provides a good UX imo, but probably adds some implementation complexity.

Alternatively, I think this current message is also good, and could be expanded upon:

[code]
That error message is better than the git error messag

[2022-05-23 17:34] sharad-paghadal opened #426 "Add support to specify choosing arm64 or normal flutter sdk."
**Describe the solution you'd like**
Probably some sort of argument to specify choosing arm64. Or automatically select arm64 on M1 chip supported devices

[2022-05-23 17:36] leoafarias commented on #426
@sharad-paghadal this seems to be a duplicate of https://github.com/fluttertools/fvm/issues/416, I am not aware of any issue on this since FVM clones the repo and flutter_tools install the dependencies

[2022-05-25 13:26] Wissperwind opened #427 "[BUG] fvm flutter doctor -v tries to write in the normal non fvm flutter SDK folder"
Hi

- I discovered fvm
- I installed it
- I executed fvm install 3.0.0
- I executed fvm flutter doctor -v

 But it does not work:
[code]

Can't I used a regulary installed flutter and a fvm flutter in parallel?

[2022-05-25 13:34] leoafarias commented on #427
@Wissperwind you have installed the flutter version, even though this is a weird error, can you try doing a `fvm use 3.0.0` to make sure its linked to the project. If that issue persists please do a `fvm doctor` so I can take a look at the output

[2022-05-25 17:50] #427 closed

[2022-05-26 01:34] matheus7mm opened #428 "Can't use Flutter 3.0.0 or 3.0.1"
**Before creating a bug report please make check the following**

- [x] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [X] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [X] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [X] Run `fvm doctor` if possible

[2022-05-26 11:05] nilsreichardt opened #429 "[Feature Request] Use a local Flutter version"
I didn't find any feature that solve this or an issue that mentions this request. If there is already a feature like this or an issue, feel free to close this ticket.

My goal is to make more contributions to the Flutter repo. Therefore, I have a local copy of the Flutter repo with my own changes. I would love to switch quick between my local Flutter repo and the real versions which I need for my

[2022-05-26 12:59] leoafarias commented on #429
@nilsreichardt this feature is currently supported, you just have to fork the flutter-sdk version within the FVM cache directory.

https://fvm.app/docs/advanced/custom_version

[2022-05-26 13:37] nilsreichardt commented on #429
Ahh, yeah this makes sense to locate them there! Thank you very much!

[2022-05-26 13:37] #429 closed

[2022-05-27 13:57] Giuspepe commented on #354
Sure @leoafarias, I have created a PR here https://github.com/fluttertools/fvm/pull/430

[2022-05-30 19:40] rodrigorahman opened #431 "[Question] - How can i execute pub packages activates"
I need to run flutterfire commands to configure my project, and for that I need to run flutterfire.

Tried running "fvm dart pub global run flutterfire_cli:flutterfire configure"

But the console gets broken and I can't select the project.

How can I run flutterfire configure by FVM?

Thanks.

[2022-06-03 06:34] ashurocks commented on #262
PS C:\Users\anant\StudioProjects\hsl_flutter-master_version_3_open_api> fvm install 2.10.4 --verbose
[     0.032s] Version: 2.10.4 - already installed.
[     0.109s] FileSystemException: Cannot create link to target 'C:\Users\anant\fvm\versions\2.10.4', path = 'C:\Users\anant\StudioProjects\hsl_flutter-master_version_3_open_api\.fvm\f
lutter_sdk' (OS Error: A required privilege is not held by the

[2022-06-06 18:10] martin-braun commented on #392
This is not working for me on for `use` and `flavor`. It still shows the old version in the top-right corner until I restart VSCode on MacOS. I have checked my `settings.json` is correct and the version will be switched. As said, restarting VSCode will solve the issue, but it's annoying when I try to support more Flutter versions with a Flutter package I develop.

[2022-06-07 16:58] #377 closed

[2022-06-08 10:16] zoechi opened #432 "[BUG] The method '[]' was called on null on 'dependencies'"
**Before creating a bug report please make check the following**

- [ ] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [x] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [-] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [x] Run `fvm doctor` if possible

[2022-06-08 10:23] zoechi commented on #432
I still got the error message in directories without `pubspec.yaml` for example for `fvm global stable`.
I first hat to execute `fvm global stable` in a directory with a `pubspec.yaml`, then it also worked in directories that do not contain a `pubspec.yaml`.

Probably a real bug then.

[2022-06-08 10:54] zoechi commented on #432
It looks like this somehow came from the directory I assumed was not a flutter project actually contained an empty `pubspec.yaml`. Perhaps this got created in the process of tracking down the issue.
Otherwise it would be hard to explain how downgrading and upgrading could solve this.
A pubspec.yaml without `dependencies` (even though unlikely in Flutter) shouldn't cause this error anyway.

[2022-06-08 18:58] leoafarias commented on #432
@zoechi will leave this open.. will check for error handling the dependencies.. There is a bit of a clean up scheduled to minimize the footprint of the project API, so I will leave this open for now.

[2022-06-08 20:08] rahat14 opened #433 "Setting Android Studio As Custom IDE Not Working"
While Trying to set Android studio as a custom ide in mac os is not working. After setting the android studio, going back to the project clicking the open custom it just open the finder app to the location but android studio don't open.

[2022-06-08 22:00] isdabenx opened #434 "[BUG] chocolatey install. I can't update Dart because FVM has an earlier version of Dart as a dependency."
**Before creating a bug report please make check the following**

- [ x ] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [ ] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [ x ] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [ ] Run `fvm doctor` if possi

[2022-06-09 18:18] leoafarias commented on #433
@rahat14 Is this issue meant for Sidekick?

[2022-06-20 03:43] asfandalavi75 opened #436 "[BUG] fvm flutter run not working on any device."
**Describe the bug**
When I run fvm flutter run, if I choose chrome as my device, I just get an endless **'Waiting for connection from debug service on Chrome...'** message, and a blank localhost page. When I use android I get **"Could not get unknown property 'compileSdkVersion' for extension 'flutter' of type FlutterExtension."**  in this location "project\android\app\build.gradle' line: 29".
I

[2022-06-20 15:38] leoafarias commented on #436
@asfandalavi75 can you confirm that the issue only happens with FVM?

[2022-06-20 16:36] asfandalavi75 commented on #436
Yes, before yesterday I was on the latest version of flutter and everything was working fine.

[2022-06-20 18:00] leoafarias commented on #436
@asfandalavi75 have you tried reinstalling fvm after upgrading dart?

[2022-06-20 18:05] asfandalavi75 commented on #436
A day before i installed fvm, I had already run flutter upgrade, which i believe updates flutter and the dart sdk. As i mentioned in "additional context", I believed that the initial problem was that flutter version 2.5.3(which is the version i was wanted to use with the help of fvm) wasn't compatible with the lastest dark sdk, so i set the version in pubspec to yaml to a supported version.

[2022-06-20 18:07] asfandalavi75 commented on #436
Just checked, I already had the latest version of dart installed before i tried to install fvm.

[2022-06-20 18:11] leoafarias commented on #436
ok so I believe this is not an issue on FVM, I think you might have to configure the Dart path to get it from the Flutter dart path itself and not from the separate Dart standalone install

[2022-06-20 18:24] asfandalavi75 commented on #436
My dart sdk is already inside my flutter sdk file.

[2022-06-20 18:50] asfandalavi75 commented on #436
I have also tried setting my global flutter version to the version i downloaded using fvm, and I have updated its path as well, but I'm having the same problem:  Could not get unknown property 'compileSdkVersion' for extension 'flutter' of type FlutterExtension

[2022-06-20 19:05] asfandalavi75 commented on #436
Ok so I made a new project using the flutter version i downloaded using fvm(I set that version as my global version), and now everything seems to be working fine. The debug version of my code is compiling and I am getting no errors.

[2022-06-22 11:55] nilsreichardt commented on #418
I think this has nothing to do with `fvm`. I think this happens when the app is using packages which have not migrated to Flutter 3.0.

[2022-06-25 10:25] tcai2000 commented on #262
@ashurocks You can watch this video https://www.youtube.com/watch?v=ayo4pefuYAY to enable dev mode on windows.
I fixed successfully. Hope you too.

[2022-06-27 16:38] S-ecki commented on #233
Commenting here for visibility: I had the same issue and fixed it by running my terminal as administrator. This is recommended by the `--verbose` tag already, but somehow the verbose tag did not produce this tip at the beginning.

[2022-06-28 14:51] tiagocdr commented on #253
Waiting for a solution

[2022-07-03 11:50] karniv00l opened #437 "[BUG] Duplicate releases / no indication about different architectures on Apple Silicon"
**Before creating a bug report please make check the following**

- [ ] You have read our [FAQ](https://fvm.app/docs/guides/faq)
- [ ] If you have used flutter. Please install correctly, run `pub cache repair`. Close the terminal and try again.
- [ ] If you are on Windows. Make sure you are running the terminal as `administrator` or with `developer` permissions.
- [ ] Run `fvm doctor` if possible

[2022-07-03 17:02] subzero911 commented on #434
+1

fvm urgently needs to upgrade and support Flutter 3.0 and Dart 2.17
Currently I can't even install the latest Dart SDK, because I receive the following error:
[code]